.coll-row{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin:20px;
}
.coll-img{
    width:200px;
    height:200px;
    background-size: cover;
}
.partner{
    width:350px;
    height:320px;
    background-size: cover;

}
.collbration-container{
    display:flex;
    background-color: #f8f9fa;
    flex-direction: column;
    justify-content: center;
    padding:20px;
    
}
.cancer-care{
    display:flex;
    margin:20px;
    justify-content:center;
    flex-wrap: wrap;
    height: 350px;
    
}