.coll-row{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin:20px;
}
.coll-img{
    width:200px;
    height:200px;
    background-size: cover;
}
.partner{
    width:200px;
    height:200px;
    background-size: cover;

}