.coll-row{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin:20px;
}
.coll-img{
    width:200px;
    height:200px;
    background-size: cover;
}
.partner{
    width:400px;
    height:320px;
    background-size: cover;
    border-radius:3px;

}
.collbration-container{
    display:flex;
    background-color: #f8f9fa;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:20px;
    
}
.cancer-care{
    display:flex;
    margin:20px;
    justify-content:center;
    flex-wrap: wrap;
    border-radius:5px;
    
}
.cancer-care-description{
   
    font-weight: 500;
    font-size:17px;
}
.cancer-care-content{
    display:flex;
    flex-direction: column;
}

.cancer-care-text{
    color:#f75023;
    font-family:sans-serif,"Jost";
    
}
.cancer-care-content p{
    margin-top: -3px !important;
}
.cancer-care-content  button{
    margin-top: 18px;
}
/* .cancer-care-content .btn {
    border:none;
    border-radius:15px;
    color: #f8f9fa;
    width: 15%;
} */

.cancer-care-button{
    width:110px;
    height: 40px;
    background-color: #f75023 !important;
    border:none;
    border-radius:12px;
    color: white;
}
.partners-imgs{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    overflow:hidden;
    
}