/*** Section Title ***/
.home-banner{
  padding-top: 80px;
}
 .mySwiper {
  height: auto;
  width: 100%;
} 

.section-title {
    position: relative;
    display: inline-block;
    text-transform: uppercase;
    font-weight: 600;
}

.section-title::before {
    position: absolute;
    content: "";
    width: calc(100% + 80px);
    height: 2px;
    top: 5px;
    left: -40px;
    background: var(--primary);
    z-index: -1;
}

.section-title::after {
    position: absolute;
    content: "";
    width: calc(100% + 120px);
    height: 2px;
    bottom: 6px;
    left: -60px;
    background: var(--primary);
    z-index: -1;
}

.section-title.text-start::before {
    width: calc(100% + 40px);
    left: 0;
}

.section-title.text-start::after {
    width: calc(100% + 60px);
    left: 0;
}



/*** Service ***/
.service-item {
    position: relative;
    border-radius: 8px;
    box-shadow: 0 0 45px rgba(0, 0, 0, .07);
}

.service-item .service-img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 8px;
    overflow: hidden;
    z-index: -1;
}

.service-item .service-img img {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    object-fit: cover;
    border-radius: 10px;
}

.service-item .service-img::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .5);
    border-radius: 10px;
    z-index: 1;
}

.service-item .service-img::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #FFFFFF;
    transition: .5s ease-out;
    z-index: 2;
    box-shadow: 1 2 40px rgba(2, 2, 2, 0);
}

.service-item:hover .service-img::after {
    width: 0;
    left: auto;
    right: 0;
}

.service-item .service-text .service-icon {
    width: 120px;
    height: 120px;
    padding: 10px;
    margin-top: -70px;
    margin-left: 55px;
    margin-bottom: 37px;
    background: #FFFFFF;
    border-radius: 120px;
    overflow: hidden;
    box-shadow: 0 0 60px rgba(0, 0, 0, .1);
}

.service-item .service-text h5,
.service-item .service-text p {
    transition: .5s;
}

.service-item:hover .service-text h5,
.service-item:hover .service-text p {
    color: #FFFFFF;
}

.service-item .service-text .btn {
    /* color: var(--secondary); */
    color: #F76407;
    background: #ebeae9;
    box-shadow: 0 0 50px rgba(0, 0, 0, .25);
}

.service-item .service-text .btn:hover {
    color: var(--dark);
    background: var(--secondary);
}


.want-work{
    position: relative;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}
.want-work .text {
text-align: center;
color: #ebeae9;
}
.apply-btn {
    margin-top: 15px;
    text-align: center!important;
   
}
.apply:hover{
  color: #ebeae9;
}


.parallax {
    background-image: url("../home/home-img/banner.png"); 
    /* background-color: black; */
    min-height: 400px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   
  }
  .Enquiry-banner{
    background-image: url("../home/home-img/suma-filmy-art-production-enquiry-banner-1920x1080.png"); 
    min-height: 400px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   
  }
  /*--our-activities--*/
  .heading-activity{
    color: #f76407 !important;
  }
 .banner-heading{
    color:#ffffff;

 }
 .banner-paragraph{
    color:#ffffff;
    font-weight:600;
    font-size:21px;
    width: 70%;
 }
 .description-conatiner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 }


 .btn-square img{
    height: 100px;
    width: 100px;
    border-radius: 50%;
 }


 /* bottom image slider */
 .untree_co-section {
    /* padding: 30px 0; */
   } 
  
  .media-thumb {
    position: relative;
    display: block;
    cursor: pointer;
    overflow: hidden;
   
    border-radius: 20px; }
    .media-thumb:after {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      content: "";
      background: rgba(26, 55, 77, 0.8);
      z-index: 1;
      opacity: 0;
      visibility: hidden;
      -webkit-transition: .3s all ease;
      -o-transition: .3s all ease;
      transition: .3s all ease; }
    .media-thumb img {
        height: 450px;
        width: 0px;
      -webkit-transform: scale(1.03);
      -ms-transform: scale(1.03);
      transform: scale(1.03);
      -webkit-transition: .3s transform ease;
      -o-transition: .3s transform ease;
      transition: .3s transform ease;
      
     }
    .media-thumb .media-text {
      position: absolute;
      top: 20px;
      left: 40px;
      z-index: 2;
      opacity: 1;
      visibility: visible;
      -webkit-transition: .3s all ease;
      -o-transition: .3s all ease;
      transition: .3s all ease;
      margin-top: 20px; }
      .media-thumb .media-text h3 {
        font-size: 1rem;
        font-weight: 900;
        color: #1A374D;
        margin: 0;
        padding: 0; }
      .media-thumb .media-text .location {
        font-size: .8rem;
        color: rgba(26, 55, 77, 0.5); }
      .media-thumb .media-text h3, .media-thumb .media-text .location {
        -webkit-transition: .3s all ease;
        -o-transition: .3s all ease;
        transition: .3s all ease; }
    .media-thumb:hover {
      z-index: 3; }
      .media-thumb:hover h3 {
        color: #ffffff; }
      .media-thumb:hover .location {
        color: rgba(255, 255, 255, 0.5); }
      .media-thumb:hover img {
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1); }
      .media-thumb:hover:after {
        opacity: 1;
        visibility: visible; }
      .media-thumb:hover .media-text {
        -webkit-transition-delay: .2s;
        -o-transition-delay: .2s;
        transition-delay: .2s;
        opacity: 1;
        visibility: visible; }
        


 /* bottom image slider */
 .img-container{
  width: 80% !important;
 }
 
 @media screen and (min-width: 320px) and (max-width: 480px) {
  .suma-about-section{
      margin-top: -450px;
  }
  .home-banner{
    padding-top: 72px;
  }
  .brief-image {
    margin-left: -25px;
  }
  .home-left-img{
   order: 2;
  }
  .home-right-content{
    order: 1;
  }
  .home-content-1{
    padding-top:250px
  }
  .about-right-img{
    order: 1;
    width: 90% !important;
    margin-bottom: 20px;
   }
   .about-right-content{
     order: 2;
   }
  

}

@media screen and (min-width: 768px) and (max-width:1024px) {
 .home-left-img2{
   order: 2;
  }
  .home-right-content2{
    order: 1;
  }
  .about-right-img{
    order: 1;
    width: 40% !important;
   }
   .about-right-content{
     order: 2;
   }
  
} 