.career-section{
    /* background-color: #f1eaea; */
    background-image: url('../home/home-img/suma_site1.jpg');
    background-image: url('../career/career-img/background-img.jpg');
}
.section-title h3{
   color:#F76407;
}
.section-title p{
    color:#f8f8f8;
 }

.career-list{
    display: flex !important;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.career-list .card{
    margin: 15px;
    width: 100px;
    border: none;
    background-color: rgb(255, 255, 255);

}
.card-title {
    text-align:left !important;
}
.card-span{
    font-size: 15px;
    color: rgb(26, 87, 26);
}
.card-description{
    font-size: 18px;
    color: rgb(26, 87, 26);
    
}

.more-info-model1{
    position:fixed;
    top:0px;
    left:0px;
    width: 100%;
    height: 100vh;
    background-color: rgba(29, 28, 28, 0.877);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    opacity: 4;
    display: none;
    /* visibility: hidden; */
    
}
.model-active{
    display: block;
    /* visibility: visible; */
}
.more-section{
    height: 80vh;
    width: 80%;
    background-color: rgb(255, 255, 255);
    overflow:scroll;
    border-radius: 6px;
    border-top-right-radius: 6px !important;
}
.more-section h3{
    text-align: center;
}
.more-section p{
    margin-left: 25px;
    margin-right: 25px;
}
.model-close{
    color: red ;
    font-weight: 900;
    display: flex;
    justify-content: end;
    align-items: end;
    padding-right: 8px !important;
    cursor: pointer;
}

.card-body .card-btn{
    border-radius: 5px;
    background: transparent;
    color: #3b6efa;
}
.card-body .card-btn a{
    text-decoration: none;
}
.card-body .card-btn:hover{
    background-color:rgb(58, 250, 160);
    color:#3b6efa;
    font-weight: 500;
}
.more-section ul  li{
    margin-left: 50px !important;
    margin-right: 25px;
    list-style:decimal;
}
.more-section h4{
    margin-left: 25px;
    margin-right: 25px;
}
/*model form section */
.apply-form-model{
    position:fixed;
    top:0px;
    left:0px;
    width: 100%;
    height: 100vh;
    background-color: rgba(29, 28, 28, 0.877);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    opacity: 4;
    visibility: hidden;
}

.carrer-info-section{
   position: relative;
   top: 180px;
   height: 100vh;
   overflow: scroll;
   margin-bottom:170px!important;

}

.carrer-info-section h3{
text-align: center;
} 
 .diveder-right{
    border-right: 2px solid rgb(211, 210, 210);
    height: 1px !important;
    padding-left: 5px;
    padding-right: 5px;
 }
.carrer-info-section h4{
 margin-left: 100px;
 }
.carrer-info-section p{
    margin-left: 100px;
    margin-right: 100px;
    }
.carrer-info-section ul{
        margin-left: 50px;
        margin-right: 100px; list-style:decimal;
    }
    .carrer-info-section ul li{
        margin-left: 100px;
        margin-right: 100px;
        list-style:decimal;
    }
.hr-line{
    margin-left: 100px;
    margin-right: 100px;
}
.carrer-info-section .carrer-foo-btn{
   margin-left:45% !important;
   border-radius: 5px;
   background: transparent;
}
.carrer-info-section .carrer-foo-btn a{
    text-decoration: none;
 }
.alternate p{
    color: #fff;
}

 /* job application */
 .job-application-section{
    position: relative;
    top: 180px;
    height: 180vh;
    margin-bottom: 140px;
    
 }
 .job-h3,.job-h6{
    text-align: center;
 }
 .job-h3{
    font-size: 25px;
    color: #F76407;
    font-weight: 500;
 }
 .job-h6{
    margin-top: 5px;
    margin-bottom: 10px;
 }
 .hr-apply-line{
    margin-left: 20%;
    margin-right: 20%;
 }
 .carrer-application{
   background-image: url(../career/career-img/background-img.jpg);
    padding-top: 40px;
    padding-bottom: 100px;
    display:flex;
    justify-content: center;
    align-items: center;

 }
 .enquiry-application{
    padding-top: 40px;
    padding-bottom: 100px;
    display:flex;
    justify-content: center;
    align-items: center;
 }

  
 /* form for  productions*/
.carrer-application .card{
    background-color: #fffdfd;
    border-radius: 8px;
    padding: 10px !important;
    box-shadow: 0 1rem 3rem black;
    position: relative;
   
   }
   .card-container{
     margin-left: 0px!important;
   } 
  
   
   .card-container .card .form-control{
     border-radius: 5px;
     /* border:  2px solid rgb(51, 50, 50); */
     border: none;
     border-bottom:  2px solid #F76407;
     background: transparent;
     color: rgb(17, 17, 17);
   }
   .applyform
   textarea:focus, 
   textarea.form-control:focus, 
   input.form-control:focus, 
   input[type=text]:focus, 
   input[type=password]:focus, 
   input[type=email]:focus, 
   input[type=number]:focus, 
   select.form-control:focus,
   [type=text].form-control:focus, 
   [type=password].form-control:focus, 
   [type=email].form-control:focus, 
   [type=tel].form-control:focus, 
   [contenteditable].form-control:focus {
     box-shadow: inset 0 -1px 0 #ddd;
   }
   
   .card-container .card .form-control ::placeholder{
    color: #971919 !important;
  }

  .form-check .form-check-input{
    border:2px solid #F76407 !important;
  }

   .card-container .card .card-title{
     color: #f8f8f8;
     font-size: 25px;
     font-weight: 600;
     margin-left: 200px;
     margin-bottom: 20px;
   
   }
   
.card-container .enq-card{
    background-color: #f1eeee !important;
}

.apply-card h5{
    color: #F76407 !important;
}

.form-sub-btn{
    background-color: #F76407 !important;
    font-weight: 600;
}


@media(max-width: 574px){
    .carrer-application .card{
       
       width: 18rem;
       }
    .card-container .card .form-control{
        width: 23rem;
        margin-left: 40px;
    }
    .form-check{
        margin-left: 20px;
    }
    .sub-btn{
        margin-left: 40px;
    }
   }




   /* button */

.carrer_tm_button{
	width: auto;
}
.carrer_tm_button{
    padding-top: 15px !important;
	width: 100%;
	height: auto;
	clear: both;
	float: left;
}
 /* .carrer_tm_button a{
	text-decoration: none;
	color: #fff;
	display: inline-block;
	font-family: 'Jost', sans-serif;
	font-weight: 300;
	border-radius: 50px;
	border: 2px solid #f75023;
	padding: 3px 15px 3px 15px;
	position: relative;
	overflow: hidden;
}   */
.carrer_tm_button span{
	position: relative;
	z-index: 2;
	
	-webkit-transition: all .3s ease;
	   -moz-transition: all .3s ease;
	    -ms-transition: all .3s ease;
	     -o-transition: all .3s ease;
	        transition: all .3s ease;
}
.carrer_tm_button a:before{
	position: absolute;
	content: "";
	z-index: 0;
	background-color: #f75023;
	left: -5px;
	right: 0px;
	bottom: 0px;
	height: 110%;
	
	-webkit-transition: all .3s ease;
	   -moz-transition: all .3s ease;
	    -ms-transition: all .3s ease;
	     -o-transition: all .3s ease;
	        transition: all .3s ease;
}
.carrer_tm_button a:hover:before{
	height: 0px;
}
.carrer_tm_button a:hover span{
	color: #000;
    font-weight: 400;
}

.applyform .fileupload-req{
    font-size: 12px !important;
}

.application-responce{
    text-align: center !important;
    color: whitesmoke;
    /* display: flex;
    justify-content: center;
    align-items: start; */

}

.carrer_tm_button a{
    align-items: center;
    appearance: none;
    
   
    border-radius: 4px;
    border-width: 0;
    border-radius: 50px;
  
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    border:2px solid  #f75023;
    display: inline-flex;
    height: 40px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s,transform .15s; 
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
     will-change: box-shadow,transform; 
    font-size: 18px; 
   

}  
/* .carrer_tm_button a{
    height:40px;
    color:#fff;
} */