.career-section{
    /* background-color: #f1eaea; */
    background-image: url('../home/home-img/suma_site1.jpg');
    background-image: url('../career/career-img/background-img.jpg');
}
.section-title h3{
   color:#F76407;
}
.section-title p{
    color:#f8f8f8;
 }

.career-list{
    display: flex !important;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.career-list .card{
    margin: 15px;
    width: 100px;
    border: none;
    background-color: rgb(255, 255, 255);

}
.card-title {
    text-align:left !important;
}
.card-span{
    font-size: 15px;
    color: rgb(26, 87, 26);
}
.card-description{
    font-size: 18px;
    color: rgb(26, 87, 26);
    
}

.more-info-model1{
    position:fixed;
    top:0px;
    left:0px;
    width: 100%;
    height: 100vh;
    background-color: rgba(29, 28, 28, 0.877);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    opacity: 4;
    display: none;
    /* visibility: hidden; */
    
}
.model-active{
    display: block;
    /* visibility: visible; */
}
.more-section{
    height: 80vh;
    width: 80%;
    background-color: rgb(255, 255, 255);
    overflow:scroll;
    border-radius: 6px;
    border-top-right-radius: 6px !important;
}
.more-section h3{
    text-align: center;
}
.more-section p{
    margin-left: 25px;
    margin-right: 25px;
}
.model-close{
    color: red ;
    font-weight: 900;
    display: flex;
    justify-content: end;
    align-items: end;
    padding-right: 8px !important;
    cursor: pointer;
}

.card-body .card-btn{
    border-radius: 5px;
    background: transparent;
    color: #3b6efa;
}
.card-body .card-btn a{
    text-decoration: none;
}
.card-body .card-btn:hover{
    background-color:rgb(58, 250, 160);
    color:#3b6efa;
    font-weight: 500;
}
.more-section ul  li{
    margin-left: 50px !important;
    margin-right: 25px;
    list-style:decimal;
}
.more-section h4{
    margin-left: 25px;
    margin-right: 25px;
}
/*model form section */
.apply-form-model{
    position:fixed;
    top:0px;
    left:0px;
    width: 100%;
    height: 100vh;
    background-color: rgba(29, 28, 28, 0.877);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    opacity: 4;
    visibility: hidden;
}

.carrer-info-section{
   position: relative;
   top: 180px;
   height: 235vh;

}

.carrer-info-section h3{
text-align: center;
} 
 .diveder-right{
    border-right: 2px solid rgb(211, 210, 210);
    height: 1px !important;
    padding-left: 5px;
    padding-right: 5px;
 }
.carrer-info-section h4{
 margin-left: 100px;
 }
.carrer-info-section p{
    margin-left: 100px;
    margin-right: 100px;
    }
.carrer-info-section ul{
        margin-left: 50px;
        margin-right: 100px; list-style:decimal;
    }
    .carrer-info-section ul li{
        margin-left: 100px;
        margin-right: 100px;
        list-style:decimal;
    }
.hr-line{
    margin-left: 100px;
    margin-right: 100px;
}
.carrer-info-section .carrer-foo-btn{
   margin-left:45% !important;
   border-radius: 5px;
   background: transparent;
}
.carrer-info-section .carrer-foo-btn a{
    text-decoration: none;
 }
.alternate p{
    color: #fff;
}

 /* job application */
 .job-application-section{
    position: relative;
    top: 180px;
    height: 180vh;
 }
 .job-h3,.job-h6{
    text-align: center;
 }
 .job-h3{
    font-size: 25px;
    color: #F76407;
    font-weight: 500;
 }
 .job-h6{
    margin-top: 5px;
    margin-bottom: 10px;
 }
 .hr-apply-line{
    margin-left: 20%;
    margin-right: 20%;
 }
 .carrer-application{
   background-image: url(../career/career-img/background-img.jpg);
    padding-top: 40px;
    padding-bottom: 100px;

 }

  
 /* carrer  productions*/
.carrer-application .card{
    background-color: #9c1414;
    border-radius: 10px;
    box-shadow: 0 1rem 3rem rgba(#fff, .175);
   
   }
   .card-container{
     margin-left: 0px!important;
   } 
   .card-container .card .form-control{
     border-radius: 5px;
     border:  2px solid rgb(247, 242, 242);
     background: transparent;
     color: whitesmoke;
   }
   
   .card-container .card .card-title{
     color: #f8f8f8;
     font-size: 25px;
     font-weight: 600;
     margin-left: 150px;
     margin-bottom: 20px;
   
   }
   
@media(max-width: 574px){
    .carrer-application .card{
       margin-left: -400px !important;
       width: 18rem;
       }
    .card-container .card .form-control{
        width: 23rem;
        margin-left: 40px;
    }
    .form-check{
        margin-left: 20px;
    }
    .sub-btn{
        margin-left: 40px;
    }
   }