


.subheding-h3{
	font-size: 25px !important;
}

.choose-img{
	height: 600px;
	width: 600px;
	border-radius: 6px;

}
a.nav-btn.active {
    color: #f76407 !important;
}

a.nav-btn.active:hover {
    color: #f76407 !important;
}


.home-social-links li a{
	color: #f76407 !important;
	font-weight: 700;
	font-size: 20px;
}
.home-social-links li a:hover{
	color: #07dbf7 !important;
}

.swiper {
    width: 100%;
    height: 800px;
  }




.swiper-tm-slide img{
  padding-top: 125px;
  height: 500px ;
  width: 100%;
  overflow: hidden;
}
.swiper-vid-slide{
  padding-top: 125px;
  height: 50px ;
  width: 100%;
  overflow: hidden;
}

/*--------------------------------------------------------------
# owl carsoul Video slider
--------------------------------------------------------------*/
.owl-carousel .item-video {
  height: 350px;
  margin-top: 0px;
  width: 100%;
  margin-left: 15px;
  margin-right: 15px;
}
.item-video{
  padding-top: 0px;
}

.video_container{
  width: 100%;
  height: 100%!important;
  margin-top:0px;
  background-color:#f79148;
  border: 10px solid rgb(241, 238, 238);
  border-radius: 4px;
 
}


/*--------------------------------------------------------------
# swiper image  slider
--------------------------------------------------------------*/
#F3-content{
  margin-top:-17px;
  margin-bottom: 25px;
}
.f3_container{
  width: 100%;
  height: 100%;
}

.f3_container .img_swiper {
  width: 30%;
  height: 60vh;
  padding-top: 30px;
  padding-bottom: 80px;
  left: 400px;
  
 
 }

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 35px;
  height: 50px;
  background-position: center;
}

.imgSwiper .swiper-slide img {
  margin-top: -10px;
  display: block;
  width: 3500px;
  height: 400px;
  border-radius: 6px;
  border: 4px solid #fffcfc;
  flex-grow: 1!important;
} 

.imgSwiper{
  /* padding-left: -20px;
  padding-right: -20px; */
  background-position: center;
  position: relative;
  filter: blur(0px) !important;
}
.swiper-slide-active {
  filter: blur(0px) !important;
}

.swiper-slide-shadow-left{
  background-image: none !important;
}
.swiper-slide-shadow-right {
  background-image: none !important;

}

.icon-items{
  display: flex;
  justify-content: center;
}
.media{
  list-style-type:none;
  margin: 3px;

}


/* .dizme_tm_hero .avatar{
	width: 50%;
	padding-left: 100px;
}
.dizme_tm_hero .avatar img{
	max-height: 650px;
} */

.home-avatar{
  max-height: 950px !important;
  width: 100%;
}
.suma_tm_subscribe{
  margin-top: 25px;
}
.scroling-img-f3{
  margin-top: 25px;
}


/*---------------------------------------------------*/
/*	13) DIZME SUBSCRIBE
/*---------------------------------------------------*/

.suma_tm_subscribe{
	width: 100%;
	height: auto;
	clear: both;
	float: left;
}
.suma_tm_subscribe .inner{
	width: 100%;
	height: auto;
	clear: both;
	float: left;
	position: relative;
}
.suma_tm_subscribe .background{
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	border-radius: 12px;
}
.suma_tm_subscribe .background .dots{
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	border-radius: 12px;
}
.suma_tm_subscribe .background .overlay{
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	background-color: #f88838;
	z-index: 1;
	border-radius: 12px;
}
.suma_tm_subscribe .content{
	position: relative;
	z-index: 2;
	display: flex;
	align-items: center;
	padding: 83px 90px 86px 90px;
}
.suma_tm_subscribe .left{
	width: 50%;
	padding-right: 40px;
}
.suma_tm_subscribe .subtitle{
	display: inline-block;
	font-size: 21px;
	font-weight: 500;
	color: #fff;
	font-family: 'Jost', sans-serif;
	margin-bottom: 5px;
}
.suma_tm_subscribe .title{
	color: #fff;
	font-size: 48px;
	margin-bottom: 10px;
}
.suma_tm_subscribe .text{
	color: #fff;
}
.suma_tm_subscribe .right{
	width: 50%;
	padding-left: 10px;
}
.suma_tm_subscribe .field{
	width: 100%;
	position: relative;
}
.suma_tm_subscribe .field input[type="text"]{
	width: 100%;
	height: 72px;
	border-radius: 12px;
	color: #6f6b80;
	background-color: #fff;
	padding-left: 30px;
}
.suma_tm_subscribe .field input[type="text"]:focus{
	outline: none;
}
.suma_tm_subscribe .field input[type="submit"]{
	position: absolute;
	right: 0px;
	top: 0px;
	height: 72px;
	border-top-right-radius: 12px;
	border-bottom-right-radius: 12px;
	color: #fff;
	font-family: 'Jost', sans-serif;
	font-size: 18px;
	text-transform: capitalize;
	font-weight: 500;
	background-color: #f75023;
	padding: 0px 35px;
}


.home-img-slider{
	margin-bottom: 120px;
  }
@media(max-width: 767px){
.f3_container .img_swiper {
  width:250px;
  height: 100px;
  margin-left: -300px !important;
  /* transform: scale(1.2); */

 }
 .home-img-slider{
	margin-bottom: 350px;
  }
  /* .swiper-slide-active {
    filter: blur(5px);
  } */

} 
/*--help-us-container--*/
.help-us-container{
	background-color: #565859;
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 40px;
	margin-bottom: 70px;
	margin-top: 70px;
}
.help-button{
	background-color: #f75023;
	width:160px;
	height:40px;
	border-radius:10px;
	border-style:none;
	color: #ffffff;
	margin-top:5px;
}
.help-us-heading{
	color:#ffffff;
}
.help-us-description{
	color:#ffffff;
	font-weight:500;
	font-size:20px;
}
/*-----brief-container--*/
.brief-image{
	padding-left: 40px;
}

/*---our-Activities--*/

.our-activites-container{
	display: flex!important;
	flex-direction: row!important;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	

}
.services{
	width:50px;
	height:50px;
}
.activity-container{
	margin: 10px;
	width:300px;
	height:300px;
	box-shadow: #fffcfc;
	border-radius: 10px;

}
