.suma_tm_section{
    width: 100%;
	height: auto;
	clear: both;
	float: left;
}
.port_video_slider1{
	max-height: 450px !important;
	width: 100%;
	/* height: 100% !important; */
	
} 
.inner-port-img img{
    height: auto;
	width: 100%;
    margin-top: 20px;
    align-items: center;
    border-radius: 1px;
	padding: 10px;
}

/* .suma_tm_portfolio{
	width: 100%;
	height: auto;
	clear: both;
	float: left;
	position: relative;
    margin-top: 100px;
}


.portfolio-slider3{
	margin-top: -225px !important;
}
.portfolio-slider2{
	margin-top: -255px !important;
}
.blog{
	margin-top: -305px !important;
}

@media(max-width: 574px){
	.portfolio-slider2{
		margin-top: -255px !important;
	}
.inner-port-img img{
    height: 150px;
	width: 300px;
    border-radius: 1px;
	
}
.suma_tm_portfolio{
	margin-top: 20px;
}
.portfolio-slider2{
	margin-top: -350px;
}
.portfolio-slider3{
	margin-top: -350px;
	margin-bottom: -350px;
}
	
 }

 .pop-content{
	height: 250px;
	width: 300px;
	background-color: aliceblue;
 }


  */
