.suma_tm_section{
    width: 100%;
	height: auto;
	clear: both;
	float: left;
}
.port_video_slider1{
	max-height: 450px !important;
	width: 100%;
	/* height: 100% !important; */
	
} 
.inner-port-img img{
    height: auto;
	width: 100%;
    margin-top: 20px;
    align-items: center;
    border-radius: 1px;
	padding: 10px;
}

/* .suma_tm_portfolio{
	width: 100%;
	height: auto;
	clear: both;
	float: left;
	position: relative;
    margin-top: 100px;
}


.portfolio-slider3{
	margin-top: -225px !important;
}
.portfolio-slider2{
	margin-top: -255px !important;
}
.blog{
	margin-top: -305px !important;
}

@media(max-width: 574px){
	.portfolio-slider2{
		margin-top: -255px !important;
	}
.inner-port-img img{
    height: 150px;
	width: 300px;
    border-radius: 1px;
	
}
.suma_tm_portfolio{
	margin-top: 20px;
}
.portfolio-slider2{
	margin-top: -350px;
}
.portfolio-slider3{
	margin-top: -350px;
	margin-bottom: -350px;
}
	
 }

 .pop-content{
	height: 250px;
	width: 300px;
	background-color: aliceblue;
 }


  */

  
.video-media {
	position: relative; }
	.video-media:before {
	  position: absolute;
	  content: "";
	  top: 0;
	  left: 0;
	  right: 0;
	  bottom: 0;
	  background: rgba(0, 0, 0, 0.3); }
	.video-media .play-button {
	  position: absolute;
	  display: block;
	  bottom: 20px;
	  left: 20px;
	  font-size: 20px;
	  font-weight: 700;
	  color: #fff;
	  width: 100%; }
	  .video-media .play-button .icon {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 50px;
		flex: 0 0 50px;
		height: 50px;
		border-radius: 50%;
		background: #ee1e46;
		position: relative; }
		.video-media .play-button .icon:before {
		  content: "";
		  position: absolute;
		  left: -5px;
		  top: -5px;
		  width: 60px;
		  height: 60px;
		  border: 2px solid #ee1e46;
		  border-radius: 50%; }
		.video-media .play-button .icon > span {
		  position: absolute;
		  top: 50%;
		  color: #fff;
		  left: 55%;
		  font-size: 18px;
		  -webkit-transform: translate(-50%, -50%);
		  -ms-transform: translate(-50%, -50%);
		  transform: translate(-50%, -50%); }
	  .video-media .play-button .meta {
		font-size: 12px; }
	  .video-media .play-button .caption {
		width: 100%; }
		.video-media .play-button .caption h3 {
		  line-height: 1;
		  color: #fff;
		  font-weight: 700;
		  font-size: 18px; 
		  list-style: none;
		  padding-left: 10px;
		}
	.video-media a{
		text-decoration: none;
	}
