
noscript~ul.job_listings, noscript~ul.resumes {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
ul.job_listings, ul.resumes {
    margin: 0;
    padding: 0;
    list-style: none;
    border: 1px solid #ccc;
    border-radius: 6px;
    background: #fff;
}
.img-fluid{
    width:100%;
    height:auto;
    transition:0.2s;
   
}

.img-fluid:hover{
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.1); 
    overflow: hidden;
}