{% extends 'uifiles/base.html' %}
{% load static %}
{% block content %}
<!--top banner -->
<div class="page-baner-section">
    <h1 class="text-center" >About</h1>
</div>
<!-- ABOUT -->
<div class="dizme_tm_section" id="about">
    <div class="dizme_tm_about">
        <div class="container">
            <div class="wrapper">
                <div class="left" data-aos="fade-right">
                    <div class="image about-img">
                        <img src="{% static 'home/home-img/suma-filmy-art-about2.png' %}" alt="" />
                        <div class="numbers year">
                            <div class="wrapper">
                                <h3><span class="dizme_tm_counter" data-from="0" data-to="20" data-speed="2000">0</span>
                                </h3>
                                <span class="name">Years of<br />Success</span>
                            </div>
                        </div>
                        <div class="numbers project">
                            <div class="wrapper">
                                <h3><span class="dizme_tm_counter" data-from="0" data-to="9" data-speed="2000">0</span>K
                                </h3>
                                <span class="name">Total<br />Projects</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="right" data-aos="fade-left">
                    <div class="title wow fadeInUp" data-wow-duration="1s">
                        <span style="font-size: 35px;">Who we are</span>

                        <!--<h3>I Can Design Anything You Want</h3>-->
                    </div>
                    <div class="text wow fadeInUp" data-wow-duration="1s">
                        <p>Hello there! I'm a web designer, and I'm very passionate and dedicated to my work. With 20
                            years experience as a professional web developer, I have acquired the skills and knowledge
                            necessary to make your project a success. I enjoy every step of the design process, from
                            discussion and collaboration.</p>
                    </div>
                    <div class="dizme_tm_button wow fadeInUp" data-wow-duration="1s">
                        <a class="anchor" href="#contact"><span>Know More</span></a>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="brush_1 wow fadeInLeft" data-wow-duration="1s"><img src="{% static 'img/brushes/about/1.png' %}" alt="" /></div>
        <div class="brush_2 wow fadeInRight" data-wow-duration="1s"><img src="{% static 'img/brushes/about/2.png' %}" alt="" /></div> -->
    </div>
</div>
<!-- /ABOUT -->

<!--Vision-->
<!--<div class="dizme_tm_section p-5">
    
        <h1 style="font-size:35px;color: #f75203; text-align:center;" class="dizme_tm_main_title">Vision & Mission</h1>
           <p style="margin:15px">We at Suma Filmy arts strongly believe that magic is bound to happen when limitless entertainment and sophisticated technology collide with each other with a perfect blend of cutting edge creativity and strong content
            With innovation and brilliant minds, impossibilities are just opportunities. We specialize in strong content and our success rate speaks for it. Our goal is to be remembered as a top class vivid firm.
           </p>
</div>-->
<div class="dizme_tm_section" id="about">
    <div class="dizme_tm_about">
        <!-- <h1 style="color:#f75203;text-align:center;">Vision & Mission</h1> -->
        <div class="container">
            <div class="wrapper ">
                <div class="right" data-aos="fade-left">
                    <div class="text wow fadeInUp" data-wow-duration="1s">
                        <div class="title wow fadeInUp" data-wow-duration="1s">
                            <span style="font-size: 35px;">Vision & Mission</span>
    
                            <!--<h3>I Can Design Anything You Want</h3>-->
                        </div>
                        <!-- <h3>Vision & Mission</h3> -->
                        <p>We at Suma Filmy arts strongly believe that magic is bound to happen when limitless
                            entertainment and sophisticated technology collide with each other with a perfect blend of
                            cutting edge creativity and strong content
                            With innovation and brilliant minds, impossibilities are just opportunities. We specialize
                            in strong content and our success rate speaks for it. Our goal is to be remembered as a top
                            class vivid firm.</p>
                    </div>
                    <div class="dizme_tm_button wow fadeInUp" data-wow-duration="1s">
                        <a class="anchor" href="#contact"><span>view  More</span></a>
                    </div>
                </div>
                <div class="left" data-aos="fade-right">
                    <div class="image vision-left">
                        <img src="{% static 'img/home/suma-filmy-art-vission.png' %}" alt="" />
                        <!--<div class="numbers year">
                            <div class="wrapper">
                                <h3><span class="dizme_tm_counter" data-from="0" data-to="18" data-speed="2000">0</span></h3>
                                <span class="name">Years of<br />Success</span>
                            </div>
                        </div>
                        <div class="numbers project">
                            <div class="wrapper">
                                <h3><span class="dizme_tm_counter" data-from="0" data-to="9" data-speed="2000">0</span>K</h3>
                                <span class="name">Total<br />Projects</span>
                            </div>
                        </div>-->
                    </div>
                </div>

            </div>
        </div>
        <!-- <div class="brush_1 wow fadeInLeft" data-wow-duration="1s"><img src="{% static 'img/brushes/about/1.png' %}" alt="" /></div>
        <div class="brush_2 wow fadeInRight" data-wow-duration="1s"><img src="{% static 'img/brushes/about/2.png' %}" alt="" /></div> -->
    </div>
</div>
<!--end-vision-->

<!--what-we-Do-->
<div class="dizme_tm_section" id="about">
    <div class="dizme_tm_about">
        <div class="container">
            <div class="wrapper">
                <div class="left" data-aos="fade-right">
                    <div class="image">
                        <img src="{% static 'img/home/suma-filmy-art-about-350x445.png' %}" alt="" />

                    </div>
                </div>
                <div class="right" data-aos="fade-left">
                    <div class="title wow fadeInUp" data-wow-duration="1s">
                        <span style="font-size: 35px;">What we Do</span>

                        <!--<h3>I Can Design Anything You Want</h3>-->
                    </div>
                    <div class="text wow fadeInUp" data-wow-duration="1s">
                        <p>Hello there! I'm a web designer, and I'm very passionate and dedicated to my work. With 20
                            years experience as a professional web developer, I have acquired the skills and knowledge
                            necessary to make your project a success. I enjoy every step of the design process, from
                            discussion and collaboration.</p>
                    </div>
                    <div class="dizme_tm_button wow fadeInUp" data-wow-duration="1s">
                        <a class="anchor" href="#contact"><span>View  More</span></a>
                    </div>
                </div>


            </div>
        </div>
        <!-- <div class="brush_1 wow fadeInLeft" data-wow-duration="1s"><img src="{% static 'img/brushes/about/1.png' %}" alt="" /></div>
        <div class="brush_2 wow fadeInRight" data-wow-duration="1s"><img src="{% static 'img/brushes/about/2.png' %}" alt="" /></div> -->
    </div>
</div>

<!-- awards slider -->
<div class="dizme_tm_section">
    <div class="dizme_tm_testimonials">
        <div class="dizme_tm_main_title" data-align="center">
            <span>Awards</span>
            <h3>Awards & Achievements</h3>
            <p>Awards for Anchoring events that gets Success on Tollywood Industry </p>
        </div>
        <div class="list_wrapper">
            <div class="total">
                <div class="in">
                    <ul class="owl-carousel owl-theme">
                        <li>
                            <div class="icon" data-merge="3">
                                <img class="awards-img" src="{% static 'img/suma_main/suma_awards2.png' %}"
                                    alt="iamge1" />
                            </div>

                        </li>
                        <li>
                            <div class="icon" data-merge="3">
                                <img class="awards-img" src="{% static 'img/suma_main/suma _awards.png' %}" alt="" />
                            </div>
                        </li>
                        <li>
                            <div class="icon" data-merge="3">
                                <img class="awards-img" src="{% static 'img/suma_main/suma_awards2.png' %}" alt="" />
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="left_details">
                    <div class="det_image one wow fadeIn" data-wow-duration="1s"
                        data-img-url="{% static 'About/about-imgs/bubble4.png' %}"></div>
                    <div class="det_image two wow fadeIn" data-wow-duration="1s" data-wow-delay="0.1s"
                        data-img-url="{% static 'About/about-imgs/bubble.png' %}"></div>
                    <div class="det_image three wow fadeIn" data-wow-duration="1s" data-wow-delay="0.2s"
                        data-img-url="{% static 'About/about-imgs/bubble2.png' %}"></div>
                    <div class="det_image four wow fadeIn" data-wow-duration="1s" data-wow-delay="0.3s"
                        data-img-url="{% static 'About/about-imgs/bubble3.png' %}"></div>
                    <span class="circle green animPulse"></span>
                    <span class="circle yellow animPulse"></span>
                    <span class="circle border animPulse"></span>
                </div>
                <div class="right_details">
                    <div class="det_image one wow fadeIn" data-wow-duration="1s"
                        data-img-url="{% static 'About/about-imgs/bubble2.png' %}"></div>
                    <div class="det_image two wow fadeIn" data-wow-duration="1s" data-wow-delay="0.2s"
                        data-img-url="{% static 'About/about-imgs/bubble4.png' %}"></div>
                    <div class="det_image three wow fadeIn" data-wow-duration="1s" data-wow-delay="0.4s"
                        data-img-url="{% static 'About/about-imgs/bubble3.png' %}"></div>
                    <span class="circle yellow animPulse"></span>
                    <span class="circle purple animPulse"></span>
                    <span class="circle border animPulse"></span>
                </div>
            </div>
        </div>
        <div class="brush_1 wow fadeInRight" data-wow-duration="1s"><img
                src="{% static 'img/brushes/testimonials/1.png' %}" alt="" /></div>
    </div>
</div>
<!-- /awards slider -->
            <!-- PORTFOLIO -->
            <!-- <div class="dizme_tm_section" id="portfolio">
            <div class="dizme_tm_portfolio">
        <div class="container">
             <div class="dizme_tm_main_title" data-align="center">
                <span>Social Videos</span>
                <h3>My Amazing Videos</h3>
                <p>Most common events for organized events  that get  huge response  on telugu film industry</p>
            </div> -->
           
<!---gallery-->
<!-- <div class="dizme_tm_section">
    <div class="grid-container col-12">
        <div class="gallery-image col-sm-12 col-md-4 col-lg-2">
            <img class="item" src="{% static 'img/suma_main/suma_awards2.png' %}"
            alt="iamge1" />
        </div>
        <div class="gallery-image col-sm-12 col-md-4 col-lg-2">
            <img class="item" src="{% static 'img/suma_main/suma_awards2.png' %}"
            alt="iamge1" />
        </div>
        <div class="gallery-image col-sm-12 col-md-4 col-lg-2">
            <img class="img-fluid" src="{% static 'img/suma_main/suma_awards2.png' %}"
            alt="iamge1" />
        </div>
        <div class="gallery-image4 col-sm-12 col-md-4 col-lg-2">
            <img class="item" src="{% static 'img/suma_main/suma_awards2.png' %}"
            alt="iamge1" />
        </div>
        <div class="gallery-image col-sm-12 col-md-4 col-lg-2">
            <img class="item" src="{% static 'img/suma_main/suma_awards2.png' %}"
            alt="iamge1" />
        </div>
        <div class="gallery-image col-sm-12 col-md-4 col-lg-2">
            <img class="item5" src="{% static 'img/suma_main/suma_awards2.png' %}"
            alt="iamge1" />
        </div>
        <div class="gallery-image col-sm-12 col-md-4 col-lg-2">
            <img class="item" src="{% static 'img/suma_main/suma_awards2.png' %}"
            alt="iamge1" />
        </div>
        <div class="gallery-image col-sm-12 col-md-4 col-lg-2">
            <img class="item" src="{% static 'img/suma_main/suma_awards2.png' %}"
            alt="iamge1" />
        </div>
        <div class="gallery-image col-sm-12 col-md-4 col-lg-2">
            <img class="item" src="{% static 'img/suma_main/suma_awards2.png' %}"
            alt="iamge1" />
        </div>
        <div class="gallery-image col-sm-12 col-md-4 col-lg-2">
            <img class="item" src="{% static 'img/suma_main/suma_awards2.png' %}"
            alt="iamge1" />
        </div>
    </div>
</div> -->
<!------->

    <!-- Gallery Start -->
    <div class="dizme_tm_section">
      <h1 class="text-center mb-3" style="font-family:roboto ,sans-serif;">Gallery</h1> 
    <div class="container-xxl py-0 px-0">
        <div class="row g-0">
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="row g-0">
                    <div class="col-12">
                        <a class="d-block" href="img/gallery-5.jpg" data-lightbox="gallery">
                            <img class="img-fluid" src="{%static 'About/about-imgs/gallery-5.png' %}" alt=" no img">
                        </a>
                    </div>
                    <div class="col-12">
                        <a class="d-block" href="img/gallery-1.jpg" data-lightbox="gallery">
                            <img class="img-fluid" src="{% static 'About/about-imgs/gallery-1.png' %}" alt="">
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="row g-0">
                    <div class="col-12">
                        <a class="d-block" href="img/gallery-2.jpg" data-lightbox="gallery">
                            <img class="img-fluid" src="{% static 'About/about-imgs/gallery-2.png' %}" alt="">
                        </a>
                    </div>
                    <div class="col-12">
                        <a class="d-block" href="img/gallery-6.jpg" data-lightbox="gallery">
                            <img class="img-fluid" src="{% static 'About/about-imgs/gallery-6.png' %}" alt="">
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="row g-0">
                    <div class="col-12">
                        <a class="d-block" href="img/gallery-7.jpg" data-lightbox="gallery">
                            <img class="img-fluid" src="{% static 'About/about-imgs/gallery-7.png' %}" alt="">
                        </a>
                    </div>
                    <div class="col-12">
                        <a class="d-block" href="img/gallery-3.jpg" data-lightbox="gallery">
                            <img class="img-fluid" src="{% static 'About/about-imgs/gallery-3.png' %}" alt="">
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.7s">
                <div class="row g-0">
                    <div class="col-12">
                        <a class="d-block" href="img/gallery-4.jpg" data-lightbox="gallery">
                            <img class="img-fluid" src="{% static 'About/about-imgs/gallery-4.png' %}" alt="">
                        </a>
                    </div>
                    <div class="col-12 ">
                        <a class="d-block" href="img/gallery-8.jpg" data-lightbox="gallery">
                            <img class="img-fluid" src="{% static 'About/about-imgs/gallery-8.png' %}" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    
    <!-- Gallery End -->



</div>
</div>
</div>

{% endblock %}