{% extends 'uifiles/base.html' %}
{% load static %}
{% block content %}
<!--top banner -->
<div class="page-baner-section" >
    <h1 class="text-center" style="font-size:40px;">About Us </h1>
</div>
<!-- ABOUT -->
<section class="vision-container" style="padding: 50px 0 30px;">
    <div class="container">
        <div class="objects">
            <div class="col-10  object" style="border: 2px solid  #f75023;
            border-radius: 10px;
            margin: 50px auto;
            text-align: center;
            padding: 0 30px 30px;">
                <h2 class="heading upper-text primary-color-text text-center" style="background-color: #fff;
                font-size: 35px;
                line-height: 35px;
                -webkit-transform: translateY(-50%);
                -ms-transform: translateY(-50%);
                transform: translateY(-50%);
                display: inline-block;
                padding: 5px 10px;
                margin: 0;
            ">Vision</h2>
                <p class="content text-center">To strengthen our global leadership in specialty films through innovative.</p>

            </div>
        </div>
    </div>
    
    
</section>
<section class="vision-container" >
    <div class="container">
        <div class="objects">
            <div class="col-lg-10 object" style="border: 2px solid  #f75023;
            border-radius: 10px;
            margin: 50px auto;
            text-align: center;
            padding: 0 30px 30px;">
                <h2 class="heading upper-text primary-color-text text-center" style="background-color: #fff;
                font-size: 35px;
                line-height: 35px;
                -webkit-transform: translateY(-50%);
                -ms-transform: translateY(-50%);
                transform: translateY(-50%);
                display: inline-block;
                padding: 5px 10px;
                margin: 0;
            ">Mission</h2>
                <p class="content text-center">Sumafilmyarts mission is feature films and ultimate goal is to be a world renowned, multi-faceted movie studio that revolutionizes the way films are financed and consumed, while inspiring talented, undiscovered artists to achieve their specific goals.</p>

            </div>
        </div>
    </div>
    
    
</section>
<div class="dizme_tm_section " id="about">
    <div class="dizme_tm_about">
        <div class="container">
            <div class="dizme_tm_main_title mb-5" data-align="center">
                <!-- <span>Vision - to Entertain people - 
                    Mission</span> -->
               
            </div>
            <div class="wrapper">
                <div class="left" data-aos="fade-right">
                    <div class="image about-img">
                        <img src="{% static 'home/home-img/sumafilmyarts-about-400x350.png' %}" alt="" />
                        
                    </div>
                </div>
                <div class="right" data-aos="fade-left">
                    <!-- <div class="title wow fadeInUp" data-wow-duration="1s">
                         <span style="font-size: 35px;">Vision - to entertain people - 
mission</span> 

                        <h3>I Can Design Anything You Want</h3>
                    </div> -->
                    <div class="text wow fadeInUp" data-wow-duration="1s">
                        <p  style="font-size:18px;text-align: justify;">Suma Kanakala is an award-winning television presenter, actress, and producer who primarily works in Telugu television. Her humour and 
                            ability to combine modernity with tradition have earned her a plethora of admirers in her 30-year-long career, making her widely popular. Despite not being born Telugu, her ability to express herself eloquently, combined with her wit and engaging personality has seen her become one of the most respected presenters in the TV industry.</p>
                    </div>
                    <div class="dizme_tm_button wow fadeInUp" data-wow-duration="1s">
                        <!-- <a class="anchor" href="#contact"><span>Know More</span></a> -->
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="brush_1 wow fadeInLeft" data-wow-duration="1s"><img src="{% static 'img/brushes/about/1.png' %}" alt="" /></div>
        <div class="brush_2 wow fadeInRight" data-wow-duration="1s"><img src="{% static 'img/brushes/about/2.png' %}" alt="" /></div> -->
    </div>
</div>
<!-- /ABOUT -->

<!--Vision-->

<div class="dizme_tm_section mt-5 mb-2" id="about">
    <div class="dizme_tm_about">
        <!-- <h1 style="color:#f75203;text-align:center;">Vision & Mission</h1> -->
        <div class="container">
            <div class="dizme_tm_main_title mb-5" data-align="center">
                <span>Our Brief
                    </span>
               
            </div>
            <div class="wrapper ">
                <div class="left about-right-content " data-aos="fade-right">
                    <div class="text wow fadeInUp" data-wow-duration="1s">
                        <div class="title wow fadeInUp" data-wow-duration="1s">
                        </div>
                        <!-- <h3>Vision & Mission</h3> -->
                        <p style="font-size:18px;text-align: justify;">Suma Filmy Arts is one of the top production houses in the television industry. Led by Suma Kanakala, renowned Indian television presenter and producer, our debut production, the gameshow Lakku Kikku, was a critical hit. Energised by the success, more such innovative ideas were nurtured under the wisdom of Suma Filmy Arts culminating in TV shows Genes, F3, and Bhale Chance le, a comedy web series - House of Hungama and entertainment channels Jujube TV & Suma Akka, which translated into an atmosphere of unbound joy in millions of households.</p>
                    </div>
                    <!-- <div class="dizme_tm_button wow fadeInUp" data-wow-duration="1s">
                         <a class="anchor" href="#contact"><span>view  More</span></a> 
                    </div> -->
                </div>
                <div class="right about-right-img" data-aos="fade-left">
                    <div class="image about-img">
                        <img src="{% static 'img/home/sumafilmyarts-aboutpage-suma.png' %}" style="border-radius:5px;" alt="" />
                       
                    </div>
                </div>

            </div>
        </div>
       
    </div>
</div>
<!--end-vision-->

<!--what-we-Do-->
<div class="dizme_tm_section mt-5 mb-5 " id="about">
    <div class="dizme_tm_about pt-0">
        <div class="container">
            <div class="dizme_tm_main_title mb-5" data-align="center">
                <span> Our Founder 
                    </span>
            </div>

            <section class="vision-container" >
                <div class="container">
                    <div class="objects">
                        <div class="col-lg-12 object" style="
                        border-radius: 10px;
                        margin: 50px auto;
                        text-align: center;
                        padding: 0 30px 30px;">
                          
             <p style="font-size:18px;text-align: justify; padding-bottom:4px;">Armed with vast experience in the Tv industry, technical intricacies, and by now legendary humour, Suma debuted as a producer in 2012 with the hit show Lukku Kikku
                which also featured her as the host delivering to the audience a new and engaging experience.</p>
                <p style="font-size:18px;text-align: justify;">Inspired by the success, suma went on to become one of the leading producers in the Telugu TV industry, ensuring she is the source of Joy even when she is not hosting. With her passion project, Suma Filmy Arts, Suma is devoted to developing new, young talent to guarantee the quality of productions in
                    the coming years, and she is actively collaborating on producing films featuring newcomers</p>
                        </div>
                    </div>
                </div>
                
                
            </section>
            <!-- <div class="">
                <div class="right" data-aos="fade-left">
                    <div class="title wow fadeInUp" data-wow-duration="1s">
                       
                    </div>
                    <div class="text wow fadeInUp" data-wow-duration="1s">
                        <p >Armed with vast experience in the Tv industry, technical intricacies, and by now legendary humour, Suma debuted as a producer in 2012 with the hit show Lukku Kikku
                             which also featured her as the host delivering to the audience a new and engaging experience.</p>
                             <p style="font-size:18px;text-align: justify;">Inspired by the success, suma went on to become one of the leading producers in the Telugu TV industry, ensuring she is the source of Joy even when she is not hosting. With her passion project, Suma Filmy Arts, Suma is devoted to developing new, young talent to guarantee the quality of productions in
                                 the coming years, and she is actively collaborating on producing films featuring newcomers</p>
                    </div>
                </div>
            </div> -->

        </div>
    </div>
</div>




    <!-- Gallery Start -->
    <div class="dizme_tm_section" data-align="center">
      <!-- <h3 class="text-center mb-5" style="font-family:'Jost' ,sans-serif;font-size: 35px; ">Gallery</h3>  -->
    <div class="container-xxl py-0 px-0">
        <div class="row g-0">
            <div class="col-12 col-lg-12 col-md-12">
                <img class="img-fluid" src="{%static 'About/about-imgs/sumafilmyart-main-image1900x1050.png' %}" alt=" no img">
            </div>
           
        </div>
    </div>
    </div>
    
    <!-- Gallery End -->



</div>
</div>
</div>

{% endblock %}