{% extends 'uifiles/base.html' %}
{% load static %}
{% block content %}
<!--top banner -->
<div class="page-baner-section" >
    <h1 class="text-center" style="font-size:40px;">About Us </h1>
</div>
<!-- ABOUT -->
<section class="vision-container" style="padding: 50px 0 30px;">
    <div class="container">
        <div class="objects">
            <div class="col-8  object" style="border: 2px solid  #f75023;
            border-radius: 10px;
            margin: 50px auto;
            text-align: center;
            padding: 0 30px 30px;">
                <h2 class="heading upper-text primary-color-text text-center" style="background-color: #fff;
                font-size: 35px;
                line-height: 35px;
                -webkit-transform: translateY(-50%);
                -ms-transform: translateY(-50%);
                transform: translateY(-50%);
                display: inline-block;
                padding: 5px 10px;
                margin: 0;
            ">Vision</h2>
                <p class="content text-center" style="color:rgb(65, 65, 65); font-weight:700; font-size:18px;">"To deliver entertaining and creative experiences while nurturing  talent."</p>

            </div>
        </div>
    </div>
    
</section>

<section class="vision-container" >
    <div class="container">
        <div class="objects">
            <div class="col-8 object" style="border: 2px solid  #f75023;
            border-radius: 10px;
            margin: 50px auto;
            text-align: center;
            padding: 0 30px 30px;">
                <h2 class="heading upper-text primary-color-text text-center" style="background-color: #fff;
                font-size: 35px;
                line-height: 35px;
                -webkit-transform: translateY(-50%);
                -ms-transform: translateY(-50%);
                transform: translateY(-50%);
                display: inline-block;
                padding: 5px 10px;
                margin: 0;
            ">Mission</h2>
                <p class="content text-center" style="color:rgb(65, 65, 65); font-weight:700; font-size:18px;">"To create and develop content that entertains and offers an enriching experience to our audience."</p>

            </div>
        </div>
    </div>
</section>

<div class="dizme_tm_section mb-5 mt-5" id="about" >
    <div class="dizme_tm_about">
        <div class="container">
            <div class="dizme_tm_main_title mb-5" data-align="center">
                <span> Our Founder
                </span>
            </div>
            <div class="wrapper">
                <div class="left" data-aos="fade-right">
                    <div class="image about-img">
                        <img src="{% static 'img/about/sumafilmyarts-our-founder-400x600.png' %}" alt="" />
                        
                    </div>
                </div>
                <div class="right" data-aos="fade-left">
                   
                    <div class="text wow fadeInUp mt-1" data-wow-duration="1s">
                        <p  style="font-size:18px;text-align: justify; padding-bottom:5px;">Suma Kanakala is an award-winning television presenter, actress, and producer who primarily works in Telugu television. Her humour and ability to combine modernity with tradition have earned her a plethora of admirers in her 30-year-long career, making her widely popular. Despite not being born Telugu, her ability to express herself eloquently, combined with her wit and engaging personality has seen her become one of the most respected presenters in the TV industry.</p>
                        <p  style="font-size:18px;text-align: justify;">At 15 Suma Kanakala began presenting various Telugu tv with serials. In 1991 she started her acting career appearing in films, serials and telefilms. Her day time live show on star maa, Avakayyara was a huge hit, which lead to another show Star Mahila that propelled Suma Kanakala into becoming an award-winning powerhouse. The show won her two Best Anchor awards in 2010 and entered the Limca Book of World Records as India's longest-running game show. Her show Panchavataram is a testament to Suma's versatility which earned her a Nandi Award for Best TV Anchor in 2018. Cash, Genes, Bhale Chance Le, Start Music, F3 are few of her hit shows. After hosting more than 20 TV shows throughout her career, In 2020 she returned to silver screen with the movie Jayamma Panchayathi, which received critical acclaim.</p>
                        
                    </div>
                </div>
            </div>
        </div>
        <section class="vision-container">
            <div class="container">
                <div class="objects">
                    <div class="col-lg-12 object pt-3" style="
                    text-align: center;">
                        <p style="font-size:18px;text-align: justify;">Armed with vast experience in the TV
                            industry, technical intricacies, and by now legendary humour, Suma Kanakala debuted as a producer
                            in 2012 with the hit show Bhale Chance le which also featured her as the host delivering
                            an entertaining experience. Inspired by the success, Suma Kanakala went on to produce many hit TV
                            shows like F3, Wife Chetilo Life, House of Hungama and became one of the leading
                            producers in the Telugu TV industry, ensuring she is the source of Joy even when she is
                            not hosting. With her new vibrant production house Suma Filmy Arts, Suma Kanakala is devoted to
                            developing new, young talent to guarantee the quality of productions in the coming
                            years, and she is will be producing films featuring new talent. Her mission through Suma
                            Filmy Arts is to entertain the world through her content.</p>
                    </div>
                </div>
            </div>


        </section>
        
    </div>
</div>
<!-- /ABOUT -->

<!--Vision-->

<!-- <div class="dizme_tm_section mt-5 mb-2" id="about">
    <div class="dizme_tm_about"> -->
        <!-- <h1 style="color:#f75203;text-align:center;">Vision & Mission</h1> -->
        <!-- <div class="container">
            <div class="dizme_tm_main_title mb-5" data-align="center">
                <span>Our Brief
                    </span>
               
            </div>
            <div class="wrapper ">
                <div class="left about-right-content " data-aos="fade-right">
                    <div class="text wow fadeInUp" data-wow-duration="1s">
                        <div class="title wow fadeInUp" data-wow-duration="1s">
                        </div>
                        
                        <p style="font-size:18px;text-align: justify;">IAt 15 Suma began presenting various Telugu film audio launches, film awards and functions. In 1991 she started her acting career appearing in films, serials and telefilms. Her day time live show on star maa, Avakayyara was a huge hit, which lead to another show Star Mahila that propelled Suma into becoming an award-winning powerhouse. The show won her two Best Anchor awards in 2010 and entered the Limca Book of World Records as India's longest-running game show. Her show Panchavataram is a testament to Suma's versatility which earned her a Nandi Award for Best TV Anchor in 2018. Cash, Genes, Bhale Chance Le, Start Music, F3 are few of her hit shows. After hosting more than 20 TV shows throughout her career, In 2020 she returned to silver screen with the movie Jayamma Panchayathi, which received critical acclaim.</p>
                    </div>
                   
                </div>
                <div class="right about-right-img" data-aos="fade-left">
                    <div class="image about-img">
                        <img src="{% static 'img/home/sumafilmyarts-aboutpage-suma.png' %}" style="border-radius:5px;" alt="" />
                       
                    </div>
                </div>

            </div>
        </div>
       
    </div>
</div> -->
<!--end-vision-->





    <!-- Gallery Start -->
    <!-- <div class="dizme_tm_section mt-5" data-align="center">
    <div class="container-xxl py-0 px-0">
        <div class="row g-0">
            <div class="col-12 col-lg-12 col-md-12">
                <img class="img-fluid" src="{%static 'About/about-imgs/sumafilmyart-main-image1900x1050.png' %}" alt=" no img">
            </div>
           
        </div>
    </div>
    </div> -->
    
    <!-- Gallery End -->



</div>
</div>
</div>

{% endblock %}