{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<meta name="description" content="Name of your web site">
<meta name="author" content="Marketify">

<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<title>SumaFilmyArt | Home</title>

<!-- STYLES -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
<link rel="stylesheet" type="text/css" href="{% static 'css/plugins.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/dark.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/about.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/portfolio.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/news_events.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'home/static-home.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'about/about.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'sponsors/sponsors.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'career/career.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'collabrations/collabration.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'fans-intraction/fans-intraction.css' %}" />

<link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css"/>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/fontawesome.min.css">
<!-- oel carosul -->
<link rel="stylesheet" href="owlcarousel/owl.carousel.min.css">
<link rel="stylesheet" href="owlcarousel/owl.theme.default.min.css">
<!-- /owl carsolul -->
<!--bootstrap -->

<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<!--[if lt IE 9]> <script type="text/javascript" src="js/modernizr.custom.js"></script> <![endif]-->
<!-- /STYLES -->

</head>

<body> 
	<!-- PRELOADER -->
	<!-- <div id="preloader">
		<div class="loader_line"></div>
	</div> -->
	<!-- /PRELOADER -->
	
	<!-- WRAPPER ALL -->
	<div class="dizme_tm_all_wrap" data-magic-cursor="show">
	
		<!-- MOBILE MENU -->
		<div class="dizme_tm_mobile_menu">
			<div class="mobile_menu_inner">
				<div class="mobile_in">
					<div class="logo">
						<a href="/"><img src="{% static 'img/logo/Suma filmy arts.png' %}" alt="" /></a>
					</div>
					<div class="trigger">
						<div class="hamburger hamburger--slider">
							<div class="hamburger-box">
								<div class="hamburger-inner"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="dropdown">
				<div class="dropdown_inner">
					<ul class="anchor_nav">
						<li class="current"><a class="nav-btn active" href="/">Home</a></li>
						<li><a class="nav-btn" href="/about/">About</a></li>
						<li><a class="nav-btn" href="/portfolio/">Portfolio</a></li>
						
						<li class="nav-item dropdown mobial-nav">
							<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
								Connect us
							</a>
							<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
							  <li><a class="dropdown-item" href="/collaboration/">Collabratations</a></li>
							  <li><a class="dropdown-item" href="/sponsorship/">Sponcership</a></li>
							  <li><a class="dropdown-item" href="/fansinteraction/">Fans Interaction</a></li>
							  <li><a class="dropdown-item" href="/shows_productions/">Enquiries</a></li>
							  <li><a class="dropdown-item" href="/contact/">Contact</a></li>
							</ul>
						  </li>
						<li><a class="nav-btn" href="/news_events/">News&Events</a></li>
						<li><a class="nav-btn"  href="/career/">Careers</a></li>
						<!-- <li><a class="nav-btn" href="/contact/">Contact</a></li> -->
						
					</ul>
				</div>
			</div>
		</div>
		<!-- /MOBILE MENU -->
	
		<!-- HEADER -->
		<div class="dizme_tm_header">
			<div class="container">
				<div class="inner">
					<div class="logo">
						<a href="/"><img src="{% static 'img/logo/Suma filmy arts.png' %}" alt="" /></a>
					</div>
					<div class="menu">
						<ul class="anchor_nav">
							<li class=""><a class="nav-btn {% if navbar == 'home' %} active {% endif %}" href="/">Home</a></li>
							<li><a class="nav-btn {% if navbar == 'about' %} active  {% endif %}" 	href="/about/">About</a></li>
							<li><a class="nav-btn {% if navbar == 'portfolio' %} active {% endif %}"  href="/portfolio/">Portfolio</a></li>
							<li class="dropdown">
								<a class="nav-btn nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
									Connect with us
								</a>
								<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
								  <li><a class="dropdown-item {% if navbar == 'collaboration' %} active {% endif %}" href="/collaboration/">Collabrations</a></li>
								  <li><a class="dropdown-item {% if navbar == 'sponsorship' %} active {% endif %}" href="/sponsorship/">Sponsorship</a></li>
								  <li><a class="dropdown-item {% if navbar == 'fansinteraction' %} active {% endif %}" href="/fansinteraction/">Interaction with suma</a></li>
							      <li><a class="dropdown-item {% if navbar == 'shows_productions' %} active {% endif %}" href="/shows_productions/">Enquiries</a></li>
								  <li><a class="dropdown-item {% if navbar == 'contact' %} active {% endif %}" href="/contact/">Contact</a></li>
								</ul>
							  </li>

							<li><a class="nav-btn {% if navbar == 'news_events' %} active {% endif %}" href="/news_events/">News&Events</a></li>
							<li><a class="nav-btn {% if navbar == 'career' %} active {% endif %}"  href="/career/">Careers</a></li>
						</ul>
					</div>
					 <div class="menu ">
						<ul class='home-social-links'>
							<li><a href="#"><i class="icon-facebook-1"></i></a></li>
							<li><a href="#"><i class="icon-instagram-1"></i></a></li>
							<li><a href="#"><i class="bi bi-linkedin"></i></a></li> 
							<!-- <li><a href="#"><i class="icon-behance"></i></a></li> -->
						</ul>
					</div> 
				</div>
			</div>
		</div>
		<!-- /HEADER -->

	
	{% block content %}
    
    {% endblock %}
	

		
			  <!-- End Footer -->
			  <div class="dizme_tm_section suma-footer">
				<div class="dizme_tm_copyright footer" style="padding-bottom: -30px!important;">
			  
				<div class="container-black">
					<div class="row">
						<div class="footer-col" style="display: flex;justify-content: center;align-items: center;">
							<div class="logo">
							<a href="/"><img src="{% static 'img/logo/Suma filmy arts.png' %}" style="width:60%;height:auto;"  alt="" /></a>
						</div>
						</div>
						<div class="footer-col">
							<h4>Quick Links</h4>
							<ul>
								<li><a href="#">About</a></li>
								<li><a href="#">Portfolio</a></li>
								<li><a href="#">news&events</a></li>
								<li><a href="#">Careers</a></li>
							</ul>
						</div>
						<div class="footer-col">
							<h4>Contact Us</h4>
							<ul>
								<li><a href="#">twitter</a></li>
								<li><a href="#">facebook</a></li>
								<li><a href="#">instagram</a></li>
								<li><a href="#">info@gmail.com</a></li>
							</ul>
						</div>
						<!-- <div class="footer-col">
							<h4>Privacy Policies</h4>
							<ul>
								<li><a href="#">Terms of Use </a></li>
								<li><a href="#">Refund Policy</a></li>
								<li><a href="#">Return Policy</a></li>
								<li><a href="#">conditions</a></li>
							</ul>
						</div> -->
						
					</div>
					
				</div>
				
			</div>
			 <!-- <div class="me-md-auto text-center text-md-center  mt-5">
				 <div class="copyright f-container-section">
					<div class="social-links">
						<a href="#"><i class="fab fa-facebook-f"></i></a>
						<a href="#"><i class="fab fa-twitter"></i></a>
						<a href="#"><i class="fab fa-instagram"></i></a>
						<a href="#"><i class="fab fa-linkedin-in"></i></a>
					</div>
					<div class="">
						&copy; Copyright <span>SumaFilmyArts</span>. All Rights Reserved
					</div>
					   
					    <div class="credits">Designed by <a href="https://bootstrapmade.com/" style="color:#000600bb;font-weight:600;text-decoration: none;">DT7Solutions</a>
						<div class="social  text-md-center f-container-section3">
							
							<a href="#"><i class="icon-facebook-2"></i></a>
							<a href="#"><i class="icon-twitter-2"></i></a>
							<a href="#"><i class="icon-linkedin-2"></i></a>
							<a href="#"><i class="icon-behance-1"></i></a>
						
					</div>
					  </div> 
					 
			  </div> -->
			
		   
	</div>
	
	
	<div class="dizme_tm_copyright footer  py-4">
		
        <div class="container-black">
            <div class="row">
				<hr class="w-100" style="height: 3px;">
				<div style="display:flex;justify-content: center; font-size:x-small;">
					&copy; Copyright  Sumafilmyarts All Rights Reserved
				</div>
            </div>
        </div>
    </div> 
		 
		


<!-- CURSOR -->
<div class="mouse-cursor cursor-outer"></div>
<div class="mouse-cursor cursor-inner"></div>
<!-- /CURSOR -->

<!-- TOTOP -->
<div class="progressbar">
	<a href="#"><span class="text">To Top</span></a>
	<span class="line"></span>
</div>
<!-- /TOTOP -->

</div>
<!-- / WRAPPER ALL -->
		
	
	
<!-- SCRIPTS -->
<script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
<script src="{% static 'js/jquery.js' %}"></script>
<!--[if lt IE 10]> <script type="text/javascript" src="js/ie8.js"></script> <![endif]-->	
<script src="{% static 'js/plugins.js' %}"></script>
<script src="{% static 'js/init.js' %}"></script>
<script src="{% static 'js/home.js' %}"></script>
<script src="{% static 'js/portfolio.js' %}"></script>
<script src="{% static 'home/static-home.js' %}"></script>
<script src="{% static 'career/career.js' %}"></script>
<script src="{% static 'contact/contact.js' %}"></script>

<!-- <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script> -->
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
	
<!-- owl carsoul js liberys -->
<!-- <script src="jquery.min.js"></script> -->
<!-- <script src="owlcarousel/owl.carousel.min.js"></script> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
<!--end  owl carsoul js liberys -->
<!--bootstrap -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">
<!-- <script src="lib/parallax/parallax.min.js"></script> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/parallax/3.1.0/parallax.min.js"></script>
 <!-- Libraries Stylesheet -->
<link href="lib/animate/animate.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
<!-- /SCRIPTS -->




<script>
    AOS.init({
		duration: 2000,
	});
	
</script>


</body>
</html>