{% extends 'uifiles/base.html' %}
{% load static %}
{% block content %}
<!--top banner -->
<div class="page-baner-section">
  <h1 class="text-center">Careers</h1>
</div>
<div class="row career-section ">
  <div class="row sponsor-headig">
    <div class="col-12 mt-5 mb-5 " >
      <!-- <div class="section-title"> -->
      <!-- <h1 class="text-center" style="font-family:roboto ,sans-serif ;"> Job Openings</h1> -->
      <div class="dizme_tm_main_title" data-align="center">
        <span style="font-family:ubuntu;font-weight:600">Job Openings</span>
    </div>
      <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusm tempor incididunt ut labore dolore</p> -->
      <!-- </div> -->
    </div>
  </div>

  <!--carrer-1-->
  <div class=" career-list">
    <div class="card career-card shadow p-3 mb-5 bg-white rounded" style="width: 55rem;" data-aos="fade-right">
      <div class="card-body">
        <h5 class="card-title">Graphic Designer</h5>
        <h6 class="card-subtitle mb-2 text-muted">Suma filmy arts </h6>
        <h6 class="job-location mb-2 ">Location:<span class="card-span">Hyderabad</span></h6>
        <h6 class="job-posted mb-0 ">Posted:<span class="card-span">24-10-2022</span></h6>
        <p class="card-text"><span class="card-description mb-4">Description:</span>Some quick example text to build on
          the card title and make up the bulk of the card's content.</p>
        <div class="carrer_tm_button wow fadeInUp " data-wow-duration="1s">
          <a class="anchor mb-3 mx-1" href="/assistent_director/" ><span style="font-family:ubuntu;">More Info</span></a>
          <a class="anchor mb-3 mx-2" href="/jobapplication/"><span style="font-family:ubuntu;">Apply Now</span></a>
          <a class="anchor mb-3" data-bs-toggle="modal" data-bs-target="#popcarrer"><span style="font-family:ubuntu;">Quick Apply</span></a>
      </div>
      </div>
    </div>
    <!-- <div class="card career-card shadow p-3 mb-5 bg-white rounded" style="width: 55rem;" data-aos="fade-right">
      <div class="card-body">
        <h5 class="card-title">Tv Producer</h5>
        <h6 class="card-subtitle mb-2 text-muted">Suma filmy arts </h6>
        <h6 class="job-location mb-2 ">Location:<span class="card-span">Hyderabad</span></h6>
        <h6 class="job-posted mb-2 ">Posted:<span class="card-span">22-10-2022</span></h6>
        <p class="card-text"><span class="card-description">Description:</span>Some quick example text to build on the
          card title and make up the bulk of the card's content.</p>
        <div class="carrer_tm_button wow fadeInUp " data-wow-duration="1s">
          <a class="anchor mb-3" href="/tvproducer/"><span>More Info</span></a>
          <a class="anchor mb-3" href="/jobapplication/"><span>Apply Now</span></a>
          <a class="anchor mb-3" data-bs-toggle="modal" data-bs-target="#popcarrer"><span>Quick Apply</span></a>
      </div>
      </div>
    </div> -->
    <!-- <div class="card career-card shadow p-3 mb-3 bg-light rounded mb-5" style="width: 55rem;" data-aos="fade-left">
      <div class="card-body" data-aos="fade-left">
        <h5 class="card-title">Unit Production</h5>
        <h6 class="card-subtitle mb-2 text-muted">Suma filmy arts </h6>
        <h6 class="job-location mb-2 ">Location:<span class="card-span">Hyderabad</span></h6>
        <h6 class="job-posted mb-2 ">Posted:<span class="card-span">20-10-2022</span></h6>
        <p class="card-text"><span class="card-description">Description:</span>Some quick example text to build on the
          card title and make up the bulk of the card's content.</p>

        <div class="carrer_tm_button wow fadeInUp " data-wow-duration="1s">
          <a class="anchor mb-3" href="/unit_production/"><span>More Info</span></a>
          <a class="anchor mb-3" href="/jobapplication/"><span>Apply Now</span></a>
          <a class="anchor mb-3" data-bs-toggle="modal" data-bs-target="#popcarrer"><span>Quick Apply</span></a>
      </div>
      
      </div>
    </div> -->
  </div>
</div>

<div class="more-info-model1">
  <div class="more-section">
    <span class="model-close">x</span>

  </div>
</div>
<!--carrer-2-->

<!-- popup -->

<div class="modal fade" id="popcarrer" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header " >
        <div class="col-7">
        <h5 class="modal-title " style="text-align: right;"  id="modalCenterTitle ">Quick apply</h5>
      </div>
      <div class="col-5 " style="text-align:right ;">
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
          style="text-align: right!important;"
         
        ></button>
      </div>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col mb-3">
            <label for="nameWithTitle" class="form-label">Linkedin Url</label>
            <input
              type="text"
              id="nameWithTitle"
              class="form-control"
              placeholder="Enter Your Url"
            />
          </div>
        </div>
       
       
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <button type="button" class="btn btn-primary">Submit</button>
      </div>
    </div>
  </div>
</div>
<!-- popup -end-->

{% endblock %}
