{% extends 'uifiles/base.html' %}
{% load static %}
{% block content %} 
<!--top banner -->
<div class="page-baner-section">
    <h1 class="text-center" >Careers</h1>
</div>

<div class="row career-section">
    <div class="row sponsor-headig">
        <div class="col-12">
            <div class="section-title">
                <h1 class="text-center">Openings</h1>
                <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusm tempor incididunt ut labore dolore</p> -->
            </div>
        </div>
    </div>

<!--carrer-1-->
<div class="row career-list">
            <div class="card career-card shadow p-3 mb-5 bg-white rounded" style="width: 55rem;" data-aos="fade-right">
                <div class="card-body" >
                  <h5 class="card-title">Graphic Designer</h5>
                  <h6 class="card-subtitle mb-2 text-muted">Suma filmy arts </h6>
                  <h6 class="job-location mb-2 ">Location:<span class="card-span">Hyderabad</span></h6>
                  <h6 class="job-posted mb-0 ">Posted:<span class="card-span">24-10-2022</span></h6>
                  <p class="card-text"><span class="card-description mb-4">Description:</span>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <button href="#" id="more-info1" class="card-btn"><a href="/assistent_director/">More Information</a></button>
                  <button  class="card-btn"><a href="/jobapplication/">Apply Now</a></button>
                </div>
              </div>
              <div class="card career-card shadow p-3 mb-5 bg-white rounded" style="width: 55rem;" data-aos="fade-right">
                <div class="card-body" >
                  <h5 class="card-title">Tv Producer</h5>
                  <h6 class="card-subtitle mb-2 text-muted">Suma filmy arts </h6>
                  <h6 class="job-location mb-2 ">Location:<span class="card-span">Hyderabad</span></h6>
                  <h6 class="job-posted mb-2 ">Posted:<span class="card-span">22-10-2022</span></h6>
                  <p class="card-text"><span class="card-description">Description:</span>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <button href="#" id="more-info1" class="card-btn"><a href="/tvproducer/">More Information</a></button>
                  <button  class="card-btn"><a href="/jobapplication/">Apply Now</a></button>
                </div>
              </div>
              <div class="card career-card shadow p-3 mb-3 bg-light rounded mb-5" style="width: 55rem;"data-aos="fade-left">
                <div class="card-body" data-aos="fade-left">
                  <h5 class="card-title">Unit Production</h5>
                  <h6 class="card-subtitle mb-2 text-muted">Suma filmy arts </h6>
                  <h6 class="job-location mb-2 ">Location:<span class="card-span">Hyderabad</span></h6>
                  <h6 class="job-posted mb-2 ">Posted:<span class="card-span">20-10-2022</span></h6>
                  <p class="card-text"><span class="card-description">Description:</span>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <button href="#" id="more-info1" class="card-btn"><a href="/unit_production/">More Information</a></button>
                  <button  class="card-btn"><a href="/jobapplication/">Apply Now</a></button>
                </div>
              </div>
</div>
</div>

<div class="more-info-model1">
  <div class="more-section">
      <span class="model-close">x</span>
      
  </div>
</div>
<!--carrer-2-->
{% endblock %}