{% extends 'uifiles/base.html' %}
{% load static %}
{% block content %} 
<!--top banner -->
<div class="page-baner-section">
    <h1 class="text-center">collaboration</h1>
</div>
<div class="collbration-container">
     
    <div class="cancer-care shadow p-3 mb-5 bg-white rounded">
        <div class="cancer-care-img col-lg-4">
            <img src="{% static 'collabrations/collabration-img/suma-filmy-art2-200x150.png' %}" alt="" class="partner">
        </div>
        <div class="cancer-care-content  col-lg-8">
           <p>IILM University is delighted to collaborate with Gurugram University .Both the Universities have signed a MoU for strengthening the training & academic relationship in various fields of education like management, engineering, research and training.</p>
        </div>
     </div>
     <div class="cancer-care shadow p-3 mb-5 bg-white rounded">
        <div class="cancer-care-img col-lg-4">
            <img src="{% static 'collabrations/collabration-img/suma-filmy-art2-200x150.png' %}" alt="" class="partner">
        </div>
        <div class="cancer-care-content col-lg-8">
           <p>IILM University is delighted to collaborate with Gurugram University .Both the Universities have signed a MoU for strengthening the training & academic relationship in various fields of education like management, engineering, research and training.</p>
        </div>
     </div>
     <div class="cancer-care shadow p-3 mb-5 bg-white rounded">
        <div class="cancer-care-img col-lg-4">
            <img src="{% static 'collabrations/collabration-img/suma-filmy-art2-200x150.png' %}" alt="" class="partner">
        </div>
        <div class="cancer-care-content col-lg-8">
           <p>IILM University is delighted to collaborate with Gurugram University .Both the Universities have signed a MoU for strengthening the training & academic relationship in various fields of education like management, engineering, research and training.</p>
        </div>
     </div>
     <div class="cancer-care shadow p-3 mb-5 bg-white rounded">
        <div class="cancer-care-img col-lg-4">
            <img src="{% static 'collabrations/collabration-img/suma-filmy-art2-200x150.png' %}" alt="" class="partner">
        </div>
        <div class="cancer-care-content  col-lg-8">
           <p>IILM University is delighted to collaborate with Gurugram University .Both the Universities have signed a MoU for strengthening the training & academic relationship in various fields of education like management, engineering, research and training.</p>
        </div>
     </div>
     <div class="cancer-care shadow p-3 mb-5 bg-white rounded ">
        <div class="cancer-care-img col-lg-4">
            <img src="{% static 'collabrations/collabration-img/suma-filmy-art2-200x150.png' %}" alt="" class="partner">
        </div>
        <div class="cancer-care-content  col-lg-8">
           <p>IILM University is delighted to collaborate with Gurugram University .Both the Universities have signed a MoU for strengthening the training & academic relationship in various fields of education like management, engineering, research and training.</p>
        </div>
     </div>
     <div class="cancer-care shadow p-3 mb-5 bg-white rounded">
        <div class="cancer-care-img col-lg-4">
            <img src="{% static 'collabrations/collabration-img/suma-filmy-art2-200x150.png' %}" alt="" class="partner">
        </div>
        <div class="cancer-care-content  col-lg-8">
           <p>IILM University is delighted to collaborate with Gurugram University .Both the Universities have signed a MoU for strengthening the training & academic relationship in various fields of education like management, engineering, research and training.</p>
        </div>
     </div>

</div>

{% endblock %}