{% extends 'uifiles/base.html' %}
{% load static %}
{% block content %} 
<!--top banner -->
<div class="page-baner-section" >
    <h1 class="text-center">Collaboration</h1>
</div>
<div class="collbration-container">
    <div class="dizme_tm_main_title" data-align="center">
        <span>Collabration</span>
    </div>
    <div class="cancer-care shadow p-3 mb-5 bg-white rounded" data-aos="fade-up">
        <div class="cancer-care-img col-lg-4">
            <img src="{% static 'collabrations/collabration-img/suma-filmy-art2-200x150.png' %}" alt="" class="partner">
        </div>
        <div class="cancer-care-content  col-lg-8" >
            <h3 style="color:#670000">Grace Cancer Foundation</h3>
           <p class="cancer-care-description">IILM University is delighted to collaborate with Gurugram University .Both the Universities have signed a MoU for strengthening the training & academic relationship in various fields of education like management, engineering, research and training.
            Mega Cancer Screening Camp by TANA Foundation with the help of Ms. Suma Kanakala (Festivals For Joy) on December 5th 2021, Hyderabad
           </p>
           <button type="button" class="cancer-care-button"> View More</button>
        </div>
     </div>
     <div class="cancer-care shadow p-3 mb-5 bg-white rounded" data-aos="fade-up">
        <div class="cancer-care-img col-lg-4">
            <img src="{% static 'collabrations/collabration-img/suma-filmy-art2-200x150.png' %}" alt="" class="partner">
        </div>
        <div class="cancer-care-content col-lg-8">
            <h3 style="color:#670000">Grace Cancer Foundation</h3>
           <p class="cancer-care-description">IILM University is delighted to collaborate with Gurugram University .Both the Universities have signed a MoU for strengthening the training & academic relationship in various fields of education like management, engineering, research and training.
            Mega Cancer Screening Camp by TANA Foundation with the help of Ms. Suma Kanakala (Festivals For Joy) on December 5th 2021, Hyderabad
           </p>
           <button type="button" class="btn btn-primary cancer-care-button"> View More</button>
        </div>
     </div>
     <div class="cancer-care shadow p-3 mb-5 bg-white rounded" data-aos="fade-up">
        <div class="cancer-care-img col-lg-4">
            <img src="{% static 'collabrations/collabration-img/suma-filmy-art2-200x150.png' %}" alt="" class="partner">
        </div>
        <div class="cancer-care-content col-lg-8" >
            <h3 style="color:#670000">Grace Cancer Foundation</h3>
           <p class="cancer-care-description">IILM University is delighted to collaborate with Gurugram University .Both the Universities have signed a MoU for strengthening the training & academic relationship in various fields of education like management, engineering, research and training.
            Mega Cancer Screening Camp by TANA Foundation with the help of Ms. Suma Kanakala (Festivals For Joy) on December 5th 2021, Hyderabad
           </p>
           <button type="button" class="btn btn-primary cancer-care-button">View More</button>
        </div>
     </div>
     <div class="cancer-care shadow p-3 mb-5 bg-white rounded" data-aos="fade-up">
        <div class="cancer-care-img col-lg-4">
            <img src="{% static 'collabrations/collabration-img/suma-filmy-art2-200x150.png' %}" alt="" class="partner">
        </div>
        <div class="cancer-care-content  col-lg-8 ">
            <h3 style="color:#670000">Grace Cancer Foundation</h3>
           <p class="cancer-care-description">IILM University is delighted to collaborate with Gurugram University .Both the Universities have signed a MoU for strengthening the training & academic relationship in various fields of education like management, engineering, research and training.
            Mega Cancer Screening Camp by TANA Foundation with the help of Ms. Suma Kanakala (Festivals For Joy) on December 5th 2021, Hyderabad
           </p>
           <button type="button" class="btn btn-primary cancer-care-button">View More</button>
        </div>
     </div>
     <div class="cancer-care shadow p-3 mb-5 bg-white rounded" data-aos="fade-up">
        <div class="cancer-care-img col-lg-4">
            <img src="{% static 'collabrations/collabration-img/suma-filmy-art2-200x150.png' %}" alt="" class="partner">
        </div>
        <div class="cancer-care-content  col-lg-8" >
            <h3 style="color:#670000">Grace Cancer Foundation</h3>
           <p class="cancer-care-description">IILM University is delighted to collaborate with Gurugram University .Both the Universities have signed a MoU for strengthening the training & academic relationship in various fields of education like management, engineering, research and training.
            Mega Cancer Screening Camp by TANA Foundation with the help of Ms. Suma Kanakala (Festivals For Joy) on December 5th 2021, Hyderabad
           </p>
           <button type="button" class="btn btn-primary cancer-care-button">View More</button>
        </div>
     </div>
     <div class="cancer-care shadow p-3 mb-5 bg-white rounded" data-aos="fade-up">
        <div class="cancer-care-img col-lg-4">
            <img src="{% static 'collabrations/collabration-img/suma-filmy-art2-200x150.png' %}" alt="" class="partner">
        </div>
        <div class="cancer-care-content  col-lg-8" >
            <h3 style="color:#670000">Grace Cancer Foundation</h3>
           <p class="cancer-care-description">IILM University is delighted to collaborate with Gurugram University .Both the Universities have signed a MoU for strengthening the training & academic relationship in various fields of education like management, engineering, research and training.
            Mega Cancer Screening Camp by TANA Foundation with the help of Ms. Suma Kanakala (Festivals For Joy) on December 5th 2021, Hyderabad
           </p>
        
           <button type="button" class="btn btn-primary cancer-care-button">View More</button>
        </div>
     </div>



<div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
    <h3 class="text-center  cancer-care-text"> Our Partners</h3>
    <div class="container py-5 mb-5">
        <div>
            <div class="owl-carousel vendor-carousel">
                <img src="{% static 'collabrations/collabration-img/suma-filmy-art-200x150.png' %}" alt="">
                <img src="{% static 'collabrations/collabration-img/suma-filmy-art-200x150.png' %}" alt="">
                <img src="{% static 'collabrations/collabration-img/suma-filmy-art-200x150.png' %}" alt="">
                <img src="{% static 'collabrations/collabration-img/suma-filmy-art-200x150.png' %}" alt="">
                <img src="{% static 'collabrations/collabration-img/suma-filmy-art-200x150.png' %}" alt="">
                <img src="{% static 'collabrations/collabration-img/suma-filmy-art-200x150.png' %}" alt="">
                <img src="{% static 'collabrations/collabration-img/suma-filmy-art-200x150.png' %}" alt="">
                <img src="{% static 'collabrations/collabration-img/suma-filmy-art-200x150.png' %}" alt="">
                <img src="{% static 'collabrations/collabration-img/suma-filmy-art-200x150.png' %}" alt="">
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}