{% extends 'uifiles/base.html' %}
{% load static %}
{% block content %} 
<!--top banner -->
<div class="page-baner-section">
    <h1 class="text-center" style="font-size:40px;">Collaboration</h1>
</div>
<div class="dizme_tm_section" id="contact">
    <div class="dizme_tm_contact">
        <div class="container">
            <div class="dizme_tm_main_title" data-align="center">
                <h2 style="color: rgb(194, 201, 205);">Get in touch with us to combine forces and deliver content.</h2>
            </div>

            <div class="contact_inner d-flex justify-content-center aligen-items-center">
                <div class="card collabration-card" style="max-width: 40rem;">
                    <div class="card-body enq-body-card ">
                        <h5 class=" mb-3 text-center" style="color: coral; font-size:30px">Apply Here</h5>
                        <div>
                           <h6 class="mb-3 text-center" style="flex-wrap: wrap;"> Schedule A Call : Our team will contact you within 24 hours to 48 hours.</h6>
                        <!-- <form method="post" class="row g-3 applyform " enctype="multipart/form-data"  autocomplete="off">
                           <div class="col-md-6 col-6">
                            <input type="text" name="name" class="form-control" id="name" placeholder="First Name" required>
                        </div>
                        <div class="col-md-6 col-6">
                            <input type="text" name="name" class="form-control" id="name" placeholder="Last Name" required>
                        </div>
                            <div class="col-md-12 col-12">
                                <input type="email" name="email" class="form-control" id="email" placeholder="Email" required>
                            </div>
                            <div class="col-md-12 col-12">
    
                                <input type="number" name="phone" class="form-control" id="phone" placeholder="phonenumber" required>
                            </div>
    
                            <div class="col-md-12 col-12">
                                <input type="text" name="Brand" class="form-control" id="Brand" placeholder="Name of Brand/Agency " required>
                            </div>
                            <div class="col-md-12 col-12">
                                <input type="text" name="Industry" class="form-control" id="Industry" placeholder="Industry" required>
                            </div>
                         -->
                            <!-- <div class="question ml-sm-5 pl-sm-5 pt-2">
                                <div class="py-2 h5"><b>Kind of collaboration?</b></div>
                                <div class="ml-md-3 ml-sm-3 pl-md-5 pt-sm-0 pt-3" id="options">
                                     <label class="options">Instagram 
                                        <input  type="radio" name="Instagram" value="Instagram" id="Instagram">
                                        <span class="checkmark"></span>
                                    </label>
                                    <label class="options">Youtube 
                                        <input type="radio" name="radio" id="Youtube"  value="Youtube">
                                        <span class="checkmark"></span>
                                    </label>
                                    <label class="options">Youtube Reel 
                                        <input type="radio" name="radio2"  id="reel" value="reel">
                                        <span class="checkmark"></span>
                                    </label>
                                    <label class="options">Facebook 
                                        <input type="radio" name="radio3"  id="facebook" value="facebook">
                                        <span class="checkmark"></span>
                                    </label>
                                    <label class="options">Other
                                        <input type="radio" name="radio5" id="other" value="other">
                                        <span class="checkmark"></span>
                                    </label>
                                    
   
                                      
                                    
                                
                                </div>
                                
                        </div> -->
                        

                            <form method="post" class="row g-3 applyform " enctype="multipart/form-data" autocomplete="off">
                                <div class="col-md-6 col-6">
                                    <input type="text" name="name" class="form-control" id="name" placeholder="First Name" required>
                                </div>
                                <div class="col-md-6 col-6">
                                    <input type="text" name="name" class="form-control" id="name" placeholder="Last Name" required>
                                </div>
                                <div class="col-md-12 col-12">
                                    <input type="email" name="email" class="form-control" id="email" placeholder="Email" required>
                                </div>
                                <div class="col-md-12 col-12">
                                    <input type="number" name="phone" class="form-control" id="phone" placeholder="phonenumber" required>
                                </div>
                            
                                <div class="col-md-12 col-12">
                                    <input type="text" name="Brand" class="form-control" id="Brand" placeholder="Name of Brand/Agency " required>
                                </div>
                                <div class="col-md-12 col-12">
                                    <input type="text" name="Industry" class="form-control" id="Industry" placeholder="Industry" required>
                                </div>
                            
                                <div class="question ml-sm-5 pl-sm-5 pt-2">
                                    <div class="py-2 h5  ch-box" ><b>Kind of collaboration?</b></div>
                                
                                    <div>
                                       
                                        <label for="Instagram" class="script ">Instagram
                                            <input type="checkbox" id="Instagram" name="Instagram" value="Instagram">
                                            <span class="geekmark"></span>
                                        </label>

                                        <label for="Youtube" class="script">Youtube
                                            <input type="checkbox" id="Youtube" name="Youtube" value="Youtube">
                                        </label>

                                        <label for="YoutubeReel" class="script"> YoutubeReel
                                            <input type="checkbox" id="YoutubeReel" name="YoutubeReel" value="YoutubeReel">
                                        </label>
                                        <label for="FaceBook" class="script"> FaceBook
                                            <input type="checkbox" id="FaceBook" name="FaceBook" value="FaceBook">
                                        </label>
                                        <label for="Other" class="script"> Other
                                            <input type="checkbox" id="Other" name="Other" value="Other"  onchange="yesnoCheck(this);">
                                        </label>
                                    </div>
                                </div>


                                <div class="col-12 mt-2 mb-3" id="ifYes1">
                                    <input type="text" name="message" class="form-control" id="ifYes"
                                        placeholder="write detail what are looking for" required>
                                </div>
                            
                                <div id="hide" class="col-lg-8 col-xs-8 mt-3">
                                    <label class="d-block custom-file-button">
                                        <input required name="upload file" id="formfile" type="file" class="form-control"
                                            placeholder="Upload Resume" accept="application/msword,application/msword,application/pdf"
                                            style="border:none; padding-left: 0px!important;" />
                                        <span class="fileupload-req text-danger">please upload .pdf and .doc,.docx and
                                            size must be 2.5 mb</span>
                                        <span class="choosefile-COL">Upload a File</span>
                                    </label>
                                </div>
                            
                                <div class="carrer_tm_button wow fadeInUp" data-wow-duration="1s">
                                    <button type="submit" href="#" class="btn btn-primary form-sub-btn">Send</button>
                                </div>
                            </form>


                    </div>
                </div>
            </div>


        </div>
    </div>
</div>


<div class="dizme_tm_section  pb-5" id="contact">
    <div class="dizme_tm_contact">
        <div class="container">
            <div class="dizme_tm_main_title mb-4" data-align="center">
                <h2 style="color: rgb(194, 201, 205);">Our Partners</h2>

            </div>
            <div class="owl-carousel  project-carousel wow fadeInUp" data-wow-delay="0.3s">
                <div class="testimonial-item">

                    <img src="{% static 'home/home-img/logo1.png' %}" alt="">

                </div>
                <div class="testimonial-item">

                    <img src="{% static 'home/home-img/logo2.png' %}" alt="">

                </div>
                <div class="testimonial-item">

                    <img src="{% static 'home/home-img/logo1.png' %}" alt="">

                </div>
                <div class="testimonial-item">

                    <img src="{% static 'home/home-img/logo2.png' %}" alt="">

                </div>

            </div>
        </div>
    </div>
</div>
<!-- /CONTACT -->


{% endblock %}