{% extends 'uifiles/base.html' %}
{% load static %}
{% block content %} 
<div class="page-baner-section">
    <h1 class="text-center"  style="font-size:40px;">Your Ideas</h1>
</div>
<!-- CONTACT -->
<div class="dizme_tm_section" id="contact">
    <div class="dizme_tm_contact"> 
        <div class="container ali">
            <div class="dizme_tm_main_title" data-align="center">
                <h2 style="font-family: ubuntu;color: aliceblue;">Get in touch with us </h2>
            </div>
            <div class="contact_inner d-flex justify-content-center  idea-form ps-md-5">
           
                <div class="card collabration-card  ms-md-3" style="max-width: 40rem;">
                    <p class="returnmessage" style="text-align: center; padding-top:8px"></p>
                    <div class="card-body enq-body-card ">
                        <h5 class=" mb-3 text-center" style="color: coral; font-size:30px">Fill the form</h5>
                        <div>
                        <form method="POST" class="row g-3 applyform"  id="ideaform" enctype="multipart/form-data"  autocomplete="off">
                            {% csrf_token %}
                            <div class="col-md-12 col-12">
                                <input type="text" name="fname" class="form-control" id="fname" placeholder="Full Name" required>
                            </div>
                           
                            <div class="col-md-12 col-12">
                                <input type="email" name="email" class="form-control" id="email" placeholder="Email" required>
                            </div>
                            <div class="col-md-12 col-12">
                                <input type="number" name="phone" class="form-control" id="phone" placeholder="Phonenumber" required>
                            </div>
    
    
                            <div class="col-12">
                                <input type="text" name="subject" class="form-control" id="subject"
                                    placeholder="Title of Your Concept" required>
                            </div>
                            <div id="hide" class="col-lg-8 col-xs-8">
                                <div class="col-12 pt-2">
                                    <label for="file" class="custom-file-upload" id="choose-file-label">
                                        Upload file
                                     </label>
                                     <input name="file" type="file" id="file" 
                                        accept=".jpg,.jpeg,.pdf,doc,docx,application/msword,.png" style="display: none;" />
                                </div>
                                <span class="fileupload-req text-danger">please upload .pdf and .doc,.docx and size must be 2.5 mb</span>
                            </div>
                        
                           
                            <script src='https://www.google.com/recaptcha/api.js'></script>
                            <div class="g-recaptcha px-3 mb-2" data-sitekey="6LfvVUskAAAAAGlwyp52_FaIJu4vaTuJQ7RiGOJd" required></div>

                            <div class="carrer_tm_button wow fadeInUp" data-wow-duration="1s">
                                <button type="button" href="#" class="btn btn-primary form-sub-btn submit">Send</button>
                            </div>
                        </form>
                    </div>
                    </div>
                </div>
                
            </div>
           
        </div>
            
        </div>
        <div class="brush_1 wow fadeInLeft" data-wow-duration="1s"><img src="img/brushes/contact/1.png" alt="" /></div>
    </div>
</div>
<!-- /CONTACT -->
{% endblock %}
