{% extends 'uifiles/base.html' %}
{% load static %}
{% block content %} 
<div class="page-baner-section">
    <h1 class="text-center"  style="font-size:40px;">Your Ideas</h1>
</div>
<!-- CONTACT -->
<div class="dizme_tm_section" id="contact">
    <div class="dizme_tm_contact"> 
        <div class="container">
            <div class="dizme_tm_main_title" data-align="center">
                <h2 style="font-family: ubuntu;color: aliceblue;">Get in touch with us </h2>
              
            </div>
            <!-- <div class="contact_inner">
               
                <div class=" wow fadeInRight" data-wow-duration="1s">
                    <div class="fields"> 
                        <form  method="post" class="contact_form" id="contact_form" autocomplete="off">
                            {% csrf_token %}
                            {% for mes in messages %}
                            <h5 class="responce-text">hi dinesh </h5>
                            {% endfor  %}
                            <div class="returnmessage" ></div>
                            <div class="empty_notice"><span>Please Fill Required Fields</span></div>
                            <div class="input_list">
                                <ul>
                                    <li><input name ="name" id="name" type="text" placeholder="Your Name" /></li>
                                    <li><input name ="email" id="email" type="text" placeholder="Your Email" /></li>
                                    <li><input name ="phone" id="phone" type="number" placeholder="Your Phone" /></li>
                                    <li><input name ="subject" id="subject" type="text" placeholder="Subject" /></li>
                                </ul>
                            </div>
                            <div class="message_area">
                                <textarea name ="message" id="message" placeholder="Write your message here"></textarea>
                            </div>
                            <div class="carrer_tm_button wow fadeInUp" data-wow-duration="1s">
                                <button type="submit" class="send-button form-sub-btn">Send</button>
                               
                            </div>
                        </form>
                    </div>
                </div>
                <div class="brush_2 wow fadeInRight" data-wow-duration="1s"><img src="img/brushes/contact/2.png" alt="" /></div>
            </div>
            -->
            <div class="contact_inner d-flex justify-content-center aligen-items-center">
           
                <div class="card collabration-card" style="max-width: 40rem;">
                    <div class="card-body enq-body-card ">
                        <h5 class=" mb-3 text-center" style="color: coral; font-size:30px">Fill the form</h5>
                        <div>
                        <form method="post" class="row g-3 applyform " enctype="multipart/form-data"  autocomplete="off">
                            <div class="col-md-12 col-12">
                                <input type="text" name="name" class="form-control" id="name" placeholder="Full Name" required>
                            </div>
                           
                            <div class="col-md-12 col-12">
                                <input type="email" name="email" class="form-control" id="email" placeholder="Email" required>
                            </div>
                            <div class="col-md-12 col-12">
    
                                <input type="number" name="phone" class="form-control" id="phone" placeholder="phonenumber" required>
                            </div>
    
    
                            <div class="col-12">
                                <input type="text" name="message" class="form-control" id="message"
                                    placeholder="Title of Your Concept" required>
                            </div>
                            <div class="col-12">
                                <input type="file" name="message" class="form-control" id="message"
                                    placeholder="upload file" required style="border:none;padding-left:0px!important">
                                    <span class="choosefile" style="position:absolute;bottom: 110px;right:80%;font-size: 17px;background-color: #f76407;border-radius: 5px;padding: 5px;padding-left: 5px;padding-right: 5px;color:aliceblue">Upload a File</span>
                            </div>
                            
                           
                            <div class="carrer_tm_button wow fadeInUp" data-wow-duration="1s">
                                <button type="submit" href="#" class="btn btn-primary form-sub-btn">Send</button>
                            </div>
                        </form>
                    </div>
                    </div>
                </div>
                
            </div>
           
        </div>
            
        </div>
        <div class="brush_1 wow fadeInLeft" data-wow-duration="1s"><img src="img/brushes/contact/1.png" alt="" /></div>
    </div>
</div>
<!-- /CONTACT -->
{% endblock %}
{% comment %} <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1903.5612604165465!2d78.377292861971!3d17.405906865861937!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bcb956183506289%3A0x5263bdf08c51e9a6!2sFestivals%20For%20Joy!5e0!3m2!1sen!2sin!4v1665637739628!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe> {% endcomment %}