{% extends 'uifiles/base.html' %}
{% load static %}
{% block content %} 
<!--top banner -->
<div class="page-baner-section">
    <h1 class="text-center " style="font-size:40px;">Interaction with Suma</h1>
</div>
<div class="dizme_tm_section" id="contact">
    <div class="dizme_tm_contact"> 
        <div class="container">
            <div class="dizme_tm_main_title" data-align="center">
                <h2 style="color: rgb(3, 46, 66);" >Enquiries & Interactions
                    Get in touch with us!
                    </h2>
              
            </div>
            <div class="contact_inner d-flex justify-content-center aligen-items-center">
               
                <div class="card collabration-card" >
                    <div class="card-body enq-body-card ">
                        <h5 class=" mb-3 text-center" style="color: coral; font-size:30px">Apply Here</h5>
                        <div>
                        <form method="post" class="row g-3 applyform " enctype="multipart/form-data"  autocomplete="off">
                            <div class="col-md-6 col-6">
                                <input type="text" name="name" class="form-control" id="name" placeholder="First Name" required>
                            </div>
                            <div class="col-md-6 col-6">
                                <input type="text" name="name" class="form-control" id="name" placeholder="Last Name" required>
                            </div>
                            <div class="col-md-12 col-12">
                                <input type="email" name="email" class="form-control" id="email" placeholder="Email" required>
                            </div>
                            <div class="col-md-12 col-12">
    
                                <input type="number" name="phone" class="form-control" id="phone" placeholder="phonenumber" required>
                            </div>
    
    
                            <div class="col-12">
                                <input type="text" name="message" class="form-control" id="message"
                                    placeholder="Message" required>
                            </div>
                            
                           
                            <div class="carrer_tm_button wow fadeInUp" data-wow-duration="1s">
                                <button type="submit" href="#" class="btn btn-primary form-sub-btn">Send</button>
                            </div>
                        </form>
                    </div>
                    </div>
                </div>
    </div>
</div>
<!-- /CONTACT -->

{% endblock %}