{% extends 'uifiles/base.html' %}
{% load static %}
{% block content %} 
<!--top banner -->
<div class="page-baner-section">
    <h1 class="text-center " style="font-size:25px;">Interaction with Suma</h1>
</div>
<div class="dizme_tm_section" id="contact">
    <div class="dizme_tm_contact"> 
        <div class="container">
            <div class="dizme_tm_main_title" data-align="center">
                <h2 style="font-family: ubuntu;">Show and spread your love for us</h2>
              
            </div>
            <div class="contact_inner">
                
                <div class=" wow fadeInRight" data-wow-duration="1s">
                    <div class="fields"> 
                        <form  method="post" class="contact_form" id="contact_form" autocomplete="off">
                            {% csrf_token %}
                            {% for mes in messages %}
                            <h5 class="responce-text">hi dinesh </h5>
                            {% endfor  %}
                            <div class="returnmessage" ></div>
                            <div class="empty_notice"><span>Please Fill Required Fields</span></div>
                            <div class="input_list">
                                <ul>
                                    <li><input name ="name" id="name" type="text" placeholder="Your Name" /></li>
                                    <li><input name ="email" id="email" type="text" placeholder="Your Email" /></li>
                                    <li><input name ="phone" id="phone" type="number" placeholder="Your Phone" /></li>
                                    <li><input name ="subject" id="subject" type="text" placeholder="Subject" /></li>
                                </ul>
                            </div>
                            <div class="message_area">
                                <textarea name ="message" id="message" placeholder="Write your message here"></textarea>
                            </div>
                            <div class="carrer_tm_button wow fadeInUp" data-wow-duration="1s">
                                <button type="submit" class="send-button form-sub-btn">Send</button>
                               
                            </div>
                        </form>
                    </div>
                </div>
                <div class="brush_2 wow fadeInRight" data-wow-duration="1s"><img src="img/brushes/contact/2.png" alt="" /></div>
            </div>
           
            
        </div>
        <div class="brush_1 wow fadeInLeft" data-wow-duration="1s"><img src="img/brushes/contact/1.png" alt="" /></div>
    </div>
</div>
<!-- /CONTACT -->

{% endblock %}