{% extends 'uifiles/base.html' %}
{% load static %}
{% block content %}

<!-- Slider main container -->
<section class="home-banner">
<div class="swiper mySwiper">
    <div class="swiper-wrapper">
      <!-- Slides -->
      <div class="swiper-slide">
        <div class="dizme_tm_section" id="home">
			<div class="dizme_tm_hero">
                <div class="background" data-img-url="{% static 'home/home-img/Sumafilmyarts-homepage-topbanner-f3show-1920x1080.jpg' %}"></div>
            </div>
        </div>
        </div>
      <div class="swiper-slide">
        <div class="dizme_tm_section" id="home">
			<div class="dizme_tm_hero">
                <div class="background" data-img-url="{% static 'home/home-img/Sumafilmyarts-homepage-topbanner-bhalechancele-1920x1080.jpg' %}"></div>
                
            </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="dizme_tm_section" id="home">
			<div class="dizme_tm_hero">
                <div class="background" data-img-url="{% static 'home/home-img/Sumafilmyarts-homepage-topbanner-jeans-1920x1080.jpg' %}"></div>
                
            </div>
        </div>
      </div>
    </div>
</div>
</section>
<!-- about section  -->
  <div class="dizme_tm_section " id="about">
    <div class="dizme_tm_about pt-5">
        <div class="container">
            <div class="wrapper">
                <div class="left" data-aos="fade-left">
					<div class="image brief-image">
                        <img src="{% static 'home/home-img/sumafilmyart-home-500x500.png' %}" alt="" />
                        
                    </div>
				<!-- <div class="col-lg-12">
                    <div class="row g-4 align-items-center">
                        <div class="col-md-6">
                            <div class="row g-4">
                                 <div class="col-12 wow fadeIn" data-wow-delay="1s">
                                    <div class="text-center rounded py-5 px-4" style="box-shadow: 0 0 45px rgba(0,0,0,.08);">
                                        <div class="btn-square bg-light rounded-circle mx-auto mb-4" style="width: 90px; height: 90px;">
											
											<img class="home-avatar" src="{% static 'home/home-img/suma-filmy-art-home4-90x90.png' %}" alt="" />
											 <img class="img-fluid" src="{%static 'home/home-img/check.png' %}" alt="" >
                                        </div>
                                        <h4 class="mb-0">Latest Technology</h4>
                                    </div>
                                </div>
                                <div class="col-12 wow fadeIn" data-wow-delay="0.5s">
                                    <div class="text-center rounded py-5 px-4" style="box-shadow: 0 0 45px rgba(0,0,0,.08);">
                                        <div class="btn-square bg-light rounded-circle mx-auto mb-4" style="width: 90px; height: 90px;">
                                             <img class="img-fluid" src="{%static 'home/home-img/suma-filmy-art-bg2-350x445.png' %}" alt=""> 
											<img class="home-avatar" src="{% static 'home/home-img/suma-filmy-art-home-90x90.png' %}" alt="" />
                                        </div> 
                                        <h4 class="mb-0">Dedicated Team</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 wow fadeIn " data-wow-delay="0.7s">
                            <div class="text-center rounded py-5 px-4" style="box-shadow: 0 0 45px rgba(0,0,0,.08);">
                                <div class="btn-square bg-light rounded-circle mx-auto mb-4" style="width: 90px; height: 90px;">
                                     <img class="img-fluid" src="{%static 'home/home-img/suma-filmy-art-bg2-350x445.png' %}" alt="">
									
									<img class="home-avatar" src="{% static 'home/home-img/suma-filmy-art-home2-90x90.png' %}" alt="" />
                                </div>
                                <h4 class="mb-0">Modern Equipment</h4>
                            </div>
                        </div>
                    </div>
                </div> -->
				</div>
                <div class="right" data-aos="fade-right">
                    <div class="title wow fadeInUp" data-wow-duration="1s">
						<span></span>
                        <h3 class="subheding-h3"></h3>
                    </div>
                    <div class="text wow fadeInUp" data-wow-duration="1s">
                        <p style="font-size:18px;text-align: justify;">Suma Filmy Arts is one of the top production houses in the television industry. Led by Suma Kanakala, renowned Indian television presenter and producer, our debut production, the gameshow Lakku Kikku, was a critical hit. Energised by the success, more such innovative ideas were nurtured under the wisdom of Suma Filmy Arts culminating in TV shows Genes, F3, and Bhale Chance le, a comedy web series - House of Hungama and entertainment channels Jujube TV & Suma Akka, which translated into an atmosphere of unbound joy in millions of households.

					</p>
                    </div>
                    <div class="dizme_tm_button wow fadeInUp" data-wow-duration="2s">
                        <!-- <a class="anchor" href="#contact"><span></span></a> -->
                    </div>
                </div>
            </div>
        </div>
        {% comment %} <div class="brush_1 wow fadeInLeft" data-wow-duration="1s"><img src="{% static 'img/brushes/about/1.png' %}" alt="" /></div>
        <div class="brush_2 wow fadeInRight" data-wow-duration="1s"><img src="{% static 'img/brushes/about/2.png' %}" alt="" /></div> {% endcomment %}
    </div>
</div>
<!-- /why we are  -->
<!--brief-history-->
	<div class="dizme_tm_section mt-5" id="about">
    <div class="dizme_tm_about">
        <div class="container">
            <div class="wrapper">
				<div class="right" data-aos="fade-left">
                    <div class="title wow fadeInUp" data-wow-duration="1s">
						<!-- <span>Our Brief History</span> -->
                        <!--<h3>I Can  organize  Any Event You Want</h3>-->
                    </div>
                    <div class="text wow fadeInUp" data-wow-duration="1s">
                        <p style="font-size:18px;text-align: justify;">We are proud to serve as a home to some of India’s biggest entertaining shows and through our versatile, and stress-busting content we bring out laugh riots. Backed by originality
							 with a keen eye for detail and technical perfection, we believe in creating and developing content that entertains and offers an enriching experience to our audience. While catering to popular opinion and producing star-studded shows, Suma Filmy Arts is also keen on cultivating fresh, young talent to secure the quality of content in the future, and is actively involved in producing films starring debutants.</p>
                    </div>
                    <div class="dizme_tm_button wow fadeInUp" data-wow-duration="1s">
                        <!-- <a class="anchor" href="#contact"><span>View More</span></a> -->
                    </div>
                </div>
                <div class="left" data-aos="fade-right">
                    <div class="image brief-image">
                        <img src="{% static 'home/home-img/suma-filmy-arts-our-brief-history.png' %}" alt="" />
                        
                    </div>
                </div>
            </div>
        </div>
        {% comment %} <div class="brush_1 wow fadeInLeft" data-wow-duration="1s"><img src="{% static 'img/brushes/about/1.png' %}" alt="" /></div>
        <div class="brush_2 wow fadeInRight" data-wow-duration="1s"><img src="{% static 'img/brushes/about/2.png' %}" alt="" /></div> {% endcomment %}
    </div>
</div>
<!--- /video slider  -->

<!-- promo videos section  -->
{% comment %} <div class="dizme_tm_section mb-2" id="promovideos">
    <div class="dizme_tm_about">
        <div class="container">
			<div class="dizme_tm_main_title" data-align="center">
				<span>Promo Videos</span>
				<h3>Whatch My Videos Hear</h3>
				<p>Most common events for organized events  that get  huge response  on telugu film industry</p>
			</div>
            <div class="wrapper">
                <div class="video_container">
					<div class="owl-carousel">
						<div class="item-video" data-merge="2">
							<a class="owl-video" href="https://youtu.be/aujuLcLiCyU"></a>
						</div>
						<div class="item-video" data-merge="2">
						  <a class="owl-video" href="https://www.youtube.com/watch?v=5GHR9-j-KPI"></a>
					  </div>
					  <div class="item-video" data-merge="2">
						<a class="owl-video" href="https://youtu.be/8KG1doqRLwc"></a>
					  </div>
					  <div class="item-video" data-merge="2">
						<a class="owl-video" href="https://youtu.be/3YfXu-jxiAk"></a>
					  </div>
					  <div class="item-video" data-merge="2">
						<a class="owl-video" href="https://youtu.be/KvE_bmGRwEk"></a>
					  </div>
					  </div>
    			</div>
            </div>
        </div> {% endcomment %}
        {% comment %} <div class="brush_1 wow fadeInLeft" data-wow-duration="1s"><img src="{% static 'img/brushes/about/2.png' %}" alt="" /></div>
        <div class="brush_2 wow fadeInRight" data-wow-duration="1s"><img src="{% static 'img/brushes/news/2.png' %}" alt="" /></div> {% endcomment %}
    {% comment %} </div>
</div> {% endcomment %}
<!-- /promo videos  -->
<!-- our activites -->
<div class="container-xxl py-5">
	<div class="container mt-5">
		<div class="text-center mx-auto pb-4 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
			<div class="dizme_tm_main_title mt-5 mb-5" data-align="center">
				<span class="mt-5" style="font-weight:500 ;font-size:35px"></span>
				<!-- <p style ="color:#000;font-size: 20px;font-family:'Jost',sans-serif;">Most common events for organized events  that get  huge response  on telugu film industry</p> -->
			</div>
			
			
			
		</div>
		<div class="row gy-5 gx-4">
			<div class="col-lg-4 col-md-6 pt-5 wow fadeInUp" data-wow-delay="0.1s">
				<div class="service-item d-flex h-100">
					<div class="service-img">
						<img class="img-fluid" src="{%static 'home/home-img/suma-filmy-art-bg4-350x445.png' %}" alt="">
					</div>
					<div class="service-text p-5 pt-0">
						<div class="service-icon">
							<img class="img-fluid rounded-circle" src="{%static 'home/home-img/Suma-filmy-art11-120x120.png' %}" alt="">
						</div>
						<h5 class="heading-activity mb-3">TV Commercial</h4>
						<p class="mb-4">In-depth, hands-on, practical training across the key disciplines of Production Design and Art Direction will help you start and continue your career in Film &amp; Television Industry successfully.</p>
						<a class="btn btn-square rounded-circle" href=""><i class="bi bi-chevron-double-right"></i></a>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 pt-5 wow fadeInUp" data-wow-delay="0.3s">
				<div class="service-item d-flex h-100">
					<div class="service-img">
						<!-- <img class="img-fluid" src="{%static 'home/home-img/suma-filmy-art-bg2-350x445.png' %}" alt=""> -->
					    <img class="img-fluid" src="{%static 'home/home-img/sumafilmyart-homepage-featurefilm-350x400.png' %}" alt="">
					</div>
					<div class="service-text p-5 pt-0">
						<div class="service-icon">
							<!-- <img class="img-fluid rounded-circle" src="{% static 'home/home-img/suma-filmy-art-120x120.png' %}" alt=""> -->
						    <img class="img-fluid rounded-circle" src="{% static 'home/home-img/Suma-filmy-art5-120x120.png' %}" alt="">
						</div>
						<h5 class=" heading-activity mb-3">Feature Film </h5>
						<p class="mb-4">Direct your first feature film while graduating. Pursue your passion to become Film Director at one of India's most updated film schools. Training with practicing film.</p>
						<a class="btn btn-square rounded-circle" href=""><i class="bi bi-chevron-double-right"></i></a>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 pt-5 wow fadeInUp" data-wow-delay="0.5s">
				<div class="service-item d-flex h-100">
					<div class="service-img">
						<img class="img-fluid" src="{%static 'home/home-img/Sumafilmyart-homepage-photography-350x445.png' %}" alt="">
					</div>
					<div class="service-text p-5 pt-0">
						<div class="service-icon">
							<img class="img-fluid rounded-circle" src="{% static 'home/home-img/watch-tv.png' %}" alt="">
						</div>
						<h5 class="heading-activity mb-3">Photography</h5>
						<p class="mb-4">Start your journey as an actor by practicing the craft with the help of a Professional Filmmaking Setup. Act every day, Dub every day, every day make your show-reel.</p>
						<a class="btn btn-square rounded-circle" href=""><i class="bi bi-chevron-double-right"></i></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="container-xxl py-5">
	<div class="container mt-0">
		<div class="row gy-5 gx-4">
			<div class="col-lg-4 col-md-6 pt-5 wow fadeInUp" data-wow-delay="0.1s">
				<div class="service-item d-flex h-100">
					<div class="service-img">
						<img class="img-fluid" src="{%static 'home/home-img/Sumafilmyart-homepage-Documentary-350x445.png' %}" alt="">
					</div>
					<div class="service-text p-5 pt-0">
						<div class="service-icon">
							<img class="img-fluid rounded-circle" src="{%static 'home/home-img/suma-filmy-art3-120x120.png' %}" alt="">
						</div>
						<h5 class="heading-activity mb-3">Documentary</h4>
						<p class="mb-4">In-depth, hands-on, practical training across the key disciplines of Production Design and Art Direction will help you start and continue your career in Film &amp; Television Industry successfully.</p>
						<a class="btn btn-square rounded-circle" href=""><i class="bi bi-chevron-double-right"></i></a>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 pt-5 wow fadeInUp" data-wow-delay="0.3s">
				<div class="service-item d-flex h-100">
					<div class="service-img">
						<img class="img-fluid" src="{%static 'home/home-img/Sumafilmyarts-homepage-corporate-350x450.png' %}" alt="">
					</div>
					<div class="service-text p-5 pt-0">
						<div class="service-icon">
							<img class="img-fluid rounded-circle" src="{% static 'home/home-img/Suma-filmy-art4-120x120.png' %}" alt="">
						</div>
						<h5 class="heading-activity mb-3">Corporate </h5>
						<p class="mb-4">Direct your first feature film while graduating. Pursue your passion to become Film Director at one of India's most updated film schools. Training with practicing film.</p>
						<a class="btn btn-square rounded-circle" href=""><i class="bi bi-chevron-double-right"></i></a>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 pt-5 wow fadeInUp" data-wow-delay="0.5s">
				<div class="service-item d-flex h-100">
					<div class="service-img">
						<img class="img-fluid" src="{%static 'home/home-img/Sumafilmyarts-homepage-productionservices-350x445.png' %}" alt="">
					</div>
					<div class="service-text p-5 pt-0">
						<div class="service-icon">
							<img class="img-fluid rounded-circle" src="{% static 'home/home-img/sumafilmyarts-homepage-productionservices-100x100.png' %}" alt="">
						</div>
						<h5 class="heading-activity mb-3">Production Services</h5>
						<p class="mb-4">In-depth, hands-on, practical training across the key disciplines of Production Design and Art Direction will help you start and continue your career in Film &amp; Television Industry successfully</p>
						<a class="btn btn-square rounded-circle" href=""><i class="bi bi-chevron-double-right"></i></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- our activitys End -->
<!-- Banner Start -->
<div class="container-fluid banner my-5  mb-0 py-5 parallax ">
	<div class="container-banner py-5">
		<!-- <div class="row gy-5"> -->
			<div class="col-lg-12 wow fadeIn" data-wow-delay="0.3s">
				<div class="row g-4 align-items-center">
					{% comment %} <div class="col-sm-4">
						<img class="img-fluid rounded" src="img/banner.png" alt="">
					</div> {% endcomment %}
					<div class="want-work mt-3" >
						<div class="text wow fadeInUp  description-conatiner" data-wow-duration="1s">
							<h1 class="mt-3" style="color:#f75203 ;font-weight:600;"> Work with us</h1>
							<p class="banner-paragraph ">Get in touch with us for collaborations, sponsorships and any other enquiries you may have.</p>
						</div>
						<div class="dizme_tm_button apply-btn wow fadeInUp" data-wow-duration="1s">
							<a  href="/jobapplication/"><span class="apply">Connect us </span></a>
						</div>
					</div>
				<!-- </div>  -->
			</div>
		</div>
	</div>
</div>
<!-- Banner End -->
<!-- start bottom image slider --> 
<!-- <div class="untree_co-section mb-3">
	<div class="container img-container">
		<div class="row text-center justify-content-center mb-5">
			<div class="dizme_tm_main_title " data-align="center">
				<span class="mt-5" style="font-weight:500 ;">Popular Show</span>
				
				<p style ="color:#000;font-size: 20px;font-family:'Jost',sans-serif;">Most common events for organized events  that get  huge response  on telugu film industry</p>
			</div>
		</div>

		<div class="owl-carousel owl-3-slider">

			<div class="item">
				<a class="media-thumb" href="images/hero-slider-1.jpg" data-fancybox="gallery">
					<div class="media-text">
						<h3>EJunction</h3>
						<span class="location">Family show</span>
					</div>
					<img src="{% static 'home/home-img/sum-filmy-art-slider-1.png' %}" alt="Image" class="img-fluid">
				</a> 
			</div>

			<div class="item">
				<a class="media-thumb" href="images/hero-slider-2.jpg" data-fancybox="gallery">
					<div class="media-text">
						<h3>Star Mahila</h3>
						<span class="location"></span>
					</div>
					<img src="{% static 'home/home-img/sum-filmy-art-slider-2.png' %}" alt="Image" class="img-fluid">
				</a> 
			</div>

			<div class="item">
				<a class="media-thumb" href="images/hero-slider-3.jpg" data-fancybox="gallery">
					<div class="media-text">
						<h3>Cash</h3>
						<span class="location">Game Show</span>
					</div>
					<img src="{% static 'home/home-img/sum-filmy-art-slider-3.png' %}" alt="Image" class="img-fluid">
				</a> 
			</div>


			<div class="item">
				<a class="media-thumb" href="images/hero-slider-4.jpg" data-fancybox="gallery">
					<div class="media-text">
						<h3>Bhale Chance Le </h3>
						<span class="location">Game Show</span>
					</div>
					<img src="{% static 'home/home-img/sum-filmy-art-slider-4.png' %}" alt="Image" class="img-fluid">
				</a> 
			</div>
		</div>

	</div>
</div> -->
<!--bottom image slider -->    
	
{% endblock %} 