{% extends 'uifiles/base.html' %}
{% load static %}
{% block content %}

<!-- Slider main container -->

<section class="home-banner">
	<div class="swiper mySwiper">
		<div class="swiper-wrapper">
			<!-- Slides -->
			<div class="swiper-slide">
				<div class="dizme_tm_section" id="home">
					<div class="dizme_tm_hero">
						<img src="{% static 'img/home/sumafilmyart-bhalechancle-top-banner-1920x1080.png' %}" alt="">
						<!-- <div class="background" data-img-url="{% static 'home/home-img/Sumafilmyarts-homepage-topbanner-f3show-1920x1080.jpg' %}"></div> -->
					</div>
				</div>
			</div>
			<div class="swiper-slide">
				<div class="dizme_tm_section" id="home">
					<div class="dizme_tm_hero">
						<img src="{% static 'img/home/sumafilmyarts-homepage-top-banner-1920x1080.png' %}" alt="">
						<!-- <div class="background" data-img-url="{% static 'home/home-img/Sumafilmyarts-homepage-topbanner-bhalechancele-1920x1080.jpg' %}"></div> -->

					</div>
				</div>
			</div>
			<div class="swiper-slide">
				<div class="dizme_tm_section" id="home">
					<div class="dizme_tm_hero">
						<img src="{% static 'img/home/sumafilmyarts-homepage-top-banner-houseofhungama-1920x1080.png' %}"
							alt="">
						<!-- <div class="background" data-img-url="{% static 'home/home-img/Sumafilmyarts-homepage-topbanner-jeans-1920x1080.jpg' %}"></div> -->
					</div>
				</div>
			</div>
			<div class="swiper-slide">
				<div class="dizme_tm_section" id="home">
					<div class="dizme_tm_hero">
						<img src="{% static 'img/home/sumafilmyarts-homepage-top-banner-stressbusters1920x1080.png' %}"
							alt="">
						<!-- <div class="background" data-img-url="{% static 'home/home-img/Sumafilmyarts-homepage-topbanner-suma.jpg' %}"></div> -->
					</div>
				</div>
			</div>

		</div>
	</div>
</section>
<!-- home section-1 -->


<div class="dizme_tm_section suma-about-section">
	<div class="dizme_tm_about pt-5">
		<div class="container">
			<div class="wrapper">
				<div class="left home-left-img" data-aos="fade-left">
					<div class="image brief-image ">
						<img src="{% static 'home/home-img/sumafilmyart-home-500x500.png' %}" alt="" />
					</div>
				</div>
				<div class="right home-right-content " data-aos="fade-right">
					<div class="text wow fadeInUp" data-wow-duration="1s">
						<p class="home-content-1" style="font-size:18px;text-align: justify;">Suma Filmy Arts is one of
							the top production houses in the television industry. Led by Suma Kanakala, renowned Indian
							television presenter and producer, our debut production, the gameshow Bhale Chance le, was a
							huge hit. Energised by the success, more such innovative ideas were nurtured under the
							wisdom of Suma Filmy Arts culminating in TV shows F3, Wife Chethilo Life, a comedy web
							series - House of Hungama and entertainment channels Jujube TV & Suma Kanakala, which
							translated into an atmosphere of unbound joy in millions of households.
						</p>
					</div>
				</div>

			</div>
		</div>
	</div>
</div>
<!-- end section1  -->



<!--home section 2-->
<div class="dizme_tm_section mt-4 mb-2">
	<div class="dizme_tm_about pt-3 pb-3">
		<div class="container">
			<div class="wrapper">
				<div class="right home-left-img2 " data-aos="fade-left">
					<div class="text">
						<p style="font-size:18px;text-align: justify;">We are proud to serve as a home to some of
							India’s biggest entertaining shows and through our versatile, and stress-busting content we
							bring out laugh riots. Backed by originality with a keen eye for detail and technical
							perfection, we believe in creating and developing content that entertains and offers an
							enriching experience to our audience. While catering to popular opinion and producing
							star-studded shows, Suma Filmy Arts is also keen on cultivating fresh, young talent to
							secure the quality of content in the future, and will be producing films starring debutants.
						</p>
					</div>
				</div>
				<div class="left home-right-content2" data-aos="fade-right">
					<div class="image brief-image">
						<img src="{% static 'home/home-img/suma-filmy-arts-our-brief-history.png' %}" alt="" />
					</div>
				</div>

			</div>
		</div>
	</div>
</div>
<!--- end section 2  -->

<!-- our activites -->
<div class="container-xxl py-5">
	<div class="container ">
		<!-- <div class="text-center mx-auto pb-4 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
			<div class="dizme_tm_main_title  mb-2" data-align="center">	</div>
		</div> -->
		<div class="row gy-5 gx-4">

			
			<div class="col-lg-4 col-md-6 pt-5 wow fadeInUp" data-wow-delay="0.5s">
				<div class="service-item d-flex h-100">
					<div class="service-img">
						<img class="img-fluid" src="{%static 'home/home-img/suma-filmy-art-bg1-350x445.png' %}" alt="">
					</div>
					<div class="service-text p-5 pt-0">
						<div class="service-icon">
							<img class="img-fluid rounded-circle"
								src="{% static 'home/home-img/fit.png' %}"
								alt="">
						</div>
						<h5 class="heading-activity mb-2 text-center">TV Commercial</h5>
						<p class="mb-4">Whether you’re launching a new product or enhancing your existing brand
							image, suma flimy arts is an invaluable resource for creating memorable TV commercials..</p>
						<!-- <a class="btn btn-square rounded-circle" href=""><i class="bi bi-chevron-double-right"></i></a> -->
					</div>
				</div>
			</div>

			<div class="col-lg-4 col-md-6 pt-5 wow fadeInUp" data-wow-delay="0.5s">
				<div class="service-item d-flex h-100">
					<div class="service-img">
						<img class="img-fluid" src="{%static 'home/home-img/suma-filmy-art-bg2-350x445.png' %}" alt="">
					</div>
					<div class="service-text p-5 pt-0">
						<div class="service-icon">
							<img class="img-fluid rounded-circle"
								src="{% static 'home/home-img/Sumafilmyarts-homepage-productionservices2-100x100.png' %}"
								alt="">
						</div>
						<h5 class="heading-activity mb-2 text-center">Tv production</h5>
						<p class="mb-4">There is a so much opportunity in tv production, suma filmy arts always exceeds
							expectations and offers hope for viewers everywhere.</p>
						<!-- <a class="btn btn-square rounded-circle" href=""><i class="bi bi-chevron-double-right"></i></a> -->
					</div>
				</div>
			</div>

			<div class="col-lg-4 col-md-6 pt-5 wow fadeInUp" data-wow-delay="0.3s">
				<div class="service-item d-flex h-100">
					<div class="service-img">
						
						<img class="img-fluid" src="{%static 'home/home-img/suma-filmy-art-bg3-350x445.png' %}" alt="">
					</div>
					<div class="service-text p-5 pt-0">
						<div class="service-icon">
							<img class="img-fluid rounded-circle"
								src="{% static 'home/home-img/Sumafilmyarts-homepage-feature-film-100x100.png' %}"
								alt="">
						</div>
						<h5 class=" heading-activity mb-2 text-center">Feature Film </h5>
						<p class="mb-4">Though there is still much progress to be made when it comes to creating feature
							films for all audiences, the suma flimy arts has begun to diversify their efforts
							exponentially in recent years.</p>
						<!-- <a class="btn btn-square rounded-circle" href=""><i class="bi bi-chevron-double-right"></i></a> -->
					</div>
				</div>
			</div>


		<!-- </div>
	</div>
</div>
<div class="container-xxl  my-5 py-5">
	<div class="container mt-0">
		<div class="row gy-5 gx-4"> -->
			<div class="col-lg-4 col-md-6 pt-5 wow fadeInUp" data-wow-delay="0.1s">
				<div class="service-item d-flex h-100">
					<div class="service-img">
						<img class="img-fluid" src="{%static 'home/home-img/suma-filmy-art-bg4-350x445.png' %}" alt="">
					</div>
					<div class="service-text p-5 pt-0">
						<div class="service-icon">
							<img class="img-fluid rounded-circle"
								src="{%static 'home/home-img/Sumafilmyarts-homepage-Documentary-100x100.png' %}" alt="">
						</div>
						<h5 class="heading-activity mb-2 text-center">Web production</h4>
							<p class="mb-4">Our team strives to address every aspect of web production in order to
								ensure that your vision is reflected effectively and accurately.You can trust suma filmy
								arts for a reliable and quality web production solution.</p>
							<!-- <a class="btn btn-square rounded-circle" href=""><i class="bi bi-chevron-double-right"></i></a> -->
					</div>
				</div>
			</div>

			<div class="col-lg-4 col-md-6 pt-5 wow fadeInUp" data-wow-delay="0.3s">
				<div class="service-item d-flex h-100">
					<div class="service-img">
						<img class="img-fluid" src="{%static 'home/home-img/suma-filmy-art-bg7-350x445.png' %}" alt="">
					</div>
					<div class="service-text p-5 pt-0">
						<div class="service-icon">
							<img class="img-fluid rounded-circle"
								src="{% static 'home/home-img/Sumafilmyarts-homepage-corprate-100x100.png' %}" alt="">
						</div>
						<h5 class="heading-activity mb-2 text-center">Events</h5>
						<p class="mb-4">With suma flimy arts curating these special film events and patrons being able
							to watch them from the comfort of their own homes, the possibilities are endless.</p>
						<!-- <a class="btn btn-square rounded-circle" href=""><i class="bi bi-chevron-double-right"></i></a> -->
					</div>
				</div>
			</div>

			<div class="col-lg-4 col-md-6 pt-5 wow fadeInUp" data-wow-delay="0.5s">
				<div class="service-item d-flex h-100">
					<div class="service-img">
						<img class="img-fluid" src="{%static 'home/home-img/suma-filmy-art-bg8-350x445.png' %}" alt="">
					</div>
					<div class="service-text p-5 pt-0">
						<div class="service-icon">
							<img class="img-fluid rounded-circle"
								src="{% static 'home/home-img/Sumafilmyarts-homepage-photographyicon-100x100.png' %}"
								alt="">
						</div>
						<h5 class="heading-activity mb-2 text-center">Creative concepts</h5>
						<p class="mb-4">However, it's important to note that creative concepts require more than just
							effort - the idea must be open-minded and flexible in order to really resonate..</p>
						<!-- <a class="btn btn-square rounded-circle" href=""><i class="bi bi-chevron-double-right"></i></a> -->
					</div>
				</div>
			</div>

		</div>
	</div>
</div>
<!-- our activitys End -->

<!-- Banner Start -->
<div class="container-fluid banner   mb-0 py-5 parallax ">
	<div class="container-banner py-5">
		<!-- <div class="row gy-5"> -->
		<div class="col-lg-12 wow fadeIn" data-wow-delay="0.3s">
			<div class="row g-4 align-items-center">
				<div class="want-work mt-3">
					<div class="text wow fadeInUp  description-conatiner" data-wow-duration="1s">
						<h1 class="mt-3" style="color:#f75203 ;font-weight:600;"> Work with us</h1>
						<p class="banner-paragraph ">Get in touch with us for collaborations, sponsorships and any other
							enquiries you may have.</p>
					</div>
					<div class="dizme_tm_button apply-btn wow fadeInUp" data-wow-duration="1s">
						<a href="/enquiries/"><span class="apply">Connect us </span></a>
					</div>
				</div>
	
			</div>
		</div>
	</div>
</div>
<!-- Banner End -->


{% endblock %}