{% extends 'uifiles/base.html' %}
{% load static %}
{% block content %}

<!-- Slider main container -->
<div class="swiper mySwiper">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
      <!-- Slides -->
      <div class="swiper-slide">
        <div class="dizme_tm_section" id="home">
			<div class="dizme_tm_hero">
                <div class="background" data-img-url="{% static 'img/home/banar-slider.jpg' %}"></div>
                <div class="container">
					<div class="content">
						<div class="details">
							<div class="hello">
								<h3 class="orangeText" >Hello, I'm</h3>
							</div>
							<div class="name">
								<h3>	
									Suma Kanakala</h3>
							</div>
							<div class="job">
								<p>A <span class="greenText"> television presenter</span> From <span class="purpleText"> Secunderabad, Telangana </span></p>
							</div>
							<div class="text">
								<p>I'm television presenter in Secunderabad, and I'm very passionate and dedicated to my work.</p>
							</div>
							<div class="button">
								<div class="dizme_tm_button">
									<a class="anchor" href="#about"><span>About Me</span></a>
								</div>
								<div class="social">
									<ul>
										<li><a href="#"><i class="icon-facebook-1"></i></a></li>
										<li><a href="#"><i class="icon-twitter-1"></i></a></li>
										<li><a href="#"><i class="icon-linkedin-1"></i></a></li>
										<li><a href="#"><i class="icon-behance"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
						<div class="avatar">
							<div class="image">
								<img class="home-avatar" src="{%static 'img/home/suma sj4.png' %}" alt="" />
								{% comment %} <span class="skills illustrator anim_moveBottom"><img class="svg" src="img/svg/skills/illustrator.svg" alt="" /></span>
								<span class="skills photoshop anim_moveBottom"><img class="svg" src="img/svg/skills/photoshop.svg" alt="" /></span>
								<span class="skills figma anim_moveBottom"><img class="svg" src="img/svg/skills/figma.svg" alt="" /></span> {% endcomment %}
							</div>
						</div>
						<div class="dizme_tm_down">
							<a class="anchor" href="#about">
								<svg width="26px" height="100%" viewBox="0 0 247 390" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:1.5;">
									<path id="wheel" d="M123.359,79.775l0,72.843" style="fill:none;stroke:#000;stroke-width:20px;"/>
									<path id="mouse" d="M236.717,123.359c0,-62.565 -50.794,-113.359 -113.358,-113.359c-62.565,0 -113.359,50.794 -113.359,113.359l0,143.237c0,62.565 50.794,113.359 113.359,113.359c62.564,0 113.358,-50.794 113.358,-113.359l0,-143.237Z" style="fill:none;stroke:#000;stroke-width:20px;"/>
								</svg>
							</a>
						</div>
					</div>
				</div>
            </div>
        </div>
        </div>
      <div class="swiper-slide">
        <div class="dizme_tm_section" id="home">
			<div class="dizme_tm_hero">
                <div class="background" data-img-url="{% static 'img/home/suma_site1.jpg' %}"></div>
                <div class="container">
					<div class="content">
						<div class="details">
							<div class="hello">
								<h3 class="orangeText">Hello, I'm</h3>
							</div>
							<div class="name">
								<h3>Suma Kanakala</h3>
							</div>
							<div class="job">
								<p>A <span class="greenText"> television presenter</span> From <span class="purpleText"> Secunderabad</span></p>
							</div>
							<div class="text">
								<p>I'm television Presenter from Secunderabad, and I'm very passionate and dedicated to my work.</p>
							</div>
							<div class="button">
								<div class="dizme_tm_button">
									<a class="anchor" href="#about"><span>About Me</span></a>
								</div>
								<div class="social">
									<ul>
										<li><a href="#"><i class="icon-facebook-1"></i></a></li>
										<li><a href="#"><i class="icon-twitter-1"></i></a></li>
										<li><a href="#"><i class="icon-linkedin-1"></i></a></li>
										<li><a href="#"><i class="icon-behance"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
						<div class="avatar">
							<div class="image">
								<img class="home-avatar" src="{%static 'img/home/suma sj1.png' %}" alt="" />
								{% comment %} <span class="skills illustrator anim_moveBottom"><img class="svg" src="img/svg/skills/illustrator.svg" alt="" /></span>
								<span class="skills photoshop anim_moveBottom"><img class="svg" src="img/svg/skills/photoshop.svg" alt="" /></span>
								<span class="skills figma anim_moveBottom"><img class="svg" src="img/svg/skills/figma.svg" alt="" /></span> {% endcomment %}
							</div>
						</div>
						<div class="dizme_tm_down">
							<a class="anchor" href="#about">
								<svg width="26px" height="100%" viewBox="0 0 247 390" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:1.5;">
									<path id="wheel" d="M123.359,79.775l0,72.843" style="fill:none;stroke:#000;stroke-width:20px;"/>
									<path id="mouse" d="M236.717,123.359c0,-62.565 -50.794,-113.359 -113.358,-113.359c-62.565,0 -113.359,50.794 -113.359,113.359l0,143.237c0,62.565 50.794,113.359 113.359,113.359c62.564,0 113.358,-50.794 113.358,-113.359l0,-143.237Z" style="fill:none;stroke:#000;stroke-width:20px;"/>
								</svg>
							</a>
						</div>
					</div>
				</div>
            </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="dizme_tm_section" id="home">
			<div class="dizme_tm_hero">
                <div class="background" data-img-url="{% static 'img/home/banar-slider.jpg' %}"></div>
                <div class="container">
					<div class="content">
						<div class="details">
							<div class="hello">
								<h3 class="orangeText">Hello, I'm</h3>
							</div>
							<div class="name">
								<h3>Suma Kanakala</h3>
							</div>
							<div class="job">
								<p>A <span class="greenText">television Presenter</span> From <span class="purpleText"> Secunderabad</span></p>
							</div>
							<div class="text">
								<p>I'm television Presenter from Secunderabad, and I'm very passionate and dedicated to my work.</p>
							</div>
							<div class="button">
								<div class="dizme_tm_button">
									<a class="anchor" href="#about"><span>About Me</span></a>
								</div>
								<div class="social">
									<ul>
										<li><a href="#"><i class="icon-facebook-1"></i></a></li>
										<li><a href="#"><i class="icon-twitter-1"></i></a></li>
										<li><a href="#"><i class="icon-linkedin-1"></i></a></li>
										<li><a href="#"><i class="icon-behance"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
						<div class="avatar">
							<div class="image">
								<img class="home-avatar" src="{%static 'img/home/suma image 2.png' %}" alt="" />
								{% comment %} <span class="skills illustrator anim_moveBottom"><img class="svg" src="img/svg/skills/illustrator.svg" alt="" /></span>
								<span class="skills photoshop anim_moveBottom"><img class="svg" src="img/svg/skills/photoshop.svg" alt="" /></span>
								<span class="skills figma anim_moveBottom"><img class="svg" src="img/svg/skills/figma.svg" alt="" /></span> {% endcomment %}
							</div>
						</div>
						<div class="dizme_tm_down">
							<a class="anchor" href="#about">
								<svg width="26px" height="100%" viewBox="0 0 247 390" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:1.5;">
									<path id="wheel" d="M123.359,79.775l0,72.843" style="fill:none;stroke:#000;stroke-width:20px;"/>
									<path id="mouse" d="M236.717,123.359c0,-62.565 -50.794,-113.359 -113.358,-113.359c-62.565,0 -113.359,50.794 -113.359,113.359l0,143.237c0,62.565 50.794,113.359 113.359,113.359c62.564,0 113.358,-50.794 113.358,-113.359l0,-143.237Z" style="fill:none;stroke:#000;stroke-width:20px;"/>
								</svg>
							</a>
						</div>
					</div>
				</div>
            </div>
        </div>
      </div>
    </div>
    <!-- If we need pagination -->
    <div class="swiper-pagination"></div>
</div>
<!-- about section  -->
  <div class="dizme_tm_section" id="about">
    <div class="dizme_tm_about">
        <div class="container">
            <div class="wrapper">
                <div class="left" data-aos="fade-left">
				<div class="col-lg-12">
                    <div class="row g-4 align-items-center">
                        <div class="col-md-6">
                            <div class="row g-4">
                                <div class="col-12 wow fadeIn" data-wow-delay="1s">
                                    <div class="text-center rounded py-5 px-4" style="box-shadow: 0 0 45px rgba(0,0,0,.08);">
                                        <div class="btn-square bg-light rounded-circle mx-auto mb-4" style="width: 90px; height: 90px;">
											
											<img class="home-avatar" src="{% static 'home/home-img/suma-filmy-art-home4-90x90.png' %}" alt="" />
											<!-- <img class="img-fluid" src="{%static 'home/home-img/check.png' %}" alt="" > -->
                                        </div>
                                        <h4 class="mb-0">Latest Technology</h4>
                                    </div>
                                </div>
                                <div class="col-12 wow fadeIn" data-wow-delay="0.5s">
                                    <div class="text-center rounded py-5 px-4" style="box-shadow: 0 0 45px rgba(0,0,0,.08);">
                                        <div class="btn-square bg-light rounded-circle mx-auto mb-4" style="width: 90px; height: 90px;">
                                            <!-- <img class="img-fluid" src="{%static 'home/home-img/suma-filmy-art-bg2-350x445.png' %}" alt=""> -->
											<img class="home-avatar" src="{% static 'home/home-img/suma-filmy-art-home-90x90.png' %}" alt="" />
                                        </div>
                                        <h4 class="mb-0">Dedicated Team</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 wow fadeIn" data-wow-delay="0.7s">
                            <div class="text-center rounded py-5 px-4" style="box-shadow: 0 0 45px rgba(0,0,0,.08);">
                                <div class="btn-square bg-light rounded-circle mx-auto mb-4" style="width: 90px; height: 90px;">
                                    <!-- <img class="img-fluid" src="{%static 'home/home-img/suma-filmy-art-bg2-350x445.png' %}" alt=""> -->
									
									<img class="home-avatar" src="{% static 'home/home-img/suma-filmy-art-home2-90x90.png' %}" alt="" />
                                </div>
                                <h4 class="mb-0">Modern Equipment</h4>
                            </div>
                        </div>
                    </div>
                </div>
				</div>
                <div class="right" data-aos="fade-right">
                    <div class="title wow fadeInUp" data-wow-duration="1s">
						<span>Why choose Us</span>
                        <h3 class="subheding-h3">What Makes Us One Of The Best Option</h3>
                    </div>
                    <div class="text wow fadeInUp" data-wow-duration="1s">
                        <p>Hello there! I'm a Television Anchor, and I'm very passionate and dedicated to my work. With 32 years experience as a  Television Presenter, I have acquired the skills and knowledge necessary to make your event   success. I enjoy every step of the event  process, from discussion and collaboration.</p>
                    </div>
                    <div class="dizme_tm_button wow fadeInUp" data-wow-duration="2s">
                        <a class="anchor" href="#contact"><span>View More</span></a>
                    </div>
                </div>
            </div>
        </div>
        {% comment %} <div class="brush_1 wow fadeInLeft" data-wow-duration="1s"><img src="{% static 'img/brushes/about/1.png' %}" alt="" /></div>
        <div class="brush_2 wow fadeInRight" data-wow-duration="1s"><img src="{% static 'img/brushes/about/2.png' %}" alt="" /></div> {% endcomment %}
    </div>
</div>
<!-- /why we are  -->
<!--brief-history-->
	<div class="dizme_tm_section" id="about">
    <div class="dizme_tm_about">
        <div class="container">
            <div class="wrapper">
				<div class="right" data-aos="fade-left">
                    <div class="title wow fadeInUp" data-wow-duration="1s">
						<span>Our Brief History</span>
                        <!--<h3>I Can  organize  Any Event You Want</h3>-->
                    </div>
                    <div class="text wow fadeInUp" data-wow-duration="1s">
                        <p>Hello there! I'm a Television Anchor, and I'm very passionate and dedicated to my work. With 32 years experience as a  Television Presenter, I have acquired the skills and knowledge necessary to make your event   success. I enjoy every step of the event  process, from discussion and collaboration.</p>
                    </div>
                    <div class="dizme_tm_button wow fadeInUp" data-wow-duration="1s">
                        <a class="anchor" href="#contact"><span>View More</span></a>
                    </div>
                </div>
                <div class="left" data-aos="fade-right">
                    <div class="image brief-image">
                        <img src="{% static 'home/home-img/sum-folmy-arts-history.jpg' %}" alt="" />
                        
                    </div>
                </div>
            </div>
        </div>
        {% comment %} <div class="brush_1 wow fadeInLeft" data-wow-duration="1s"><img src="{% static 'img/brushes/about/1.png' %}" alt="" /></div>
        <div class="brush_2 wow fadeInRight" data-wow-duration="1s"><img src="{% static 'img/brushes/about/2.png' %}" alt="" /></div> {% endcomment %}
    </div>
</div>
<!--- /video slider  -->

<!-- promo videos section  -->
{% comment %} <div class="dizme_tm_section mb-2" id="promovideos">
    <div class="dizme_tm_about">
        <div class="container">
			<div class="dizme_tm_main_title" data-align="center">
				<span>Promo Videos</span>
				<h3>Whatch My Videos Hear</h3>
				<p>Most common events for organized events  that get  huge response  on telugu film industry</p>
			</div>
            <div class="wrapper">
                <div class="video_container">
					<div class="owl-carousel">
						<div class="item-video" data-merge="2">
							<a class="owl-video" href="https://youtu.be/aujuLcLiCyU"></a>
						</div>
						<div class="item-video" data-merge="2">
						  <a class="owl-video" href="https://www.youtube.com/watch?v=5GHR9-j-KPI"></a>
					  </div>
					  <div class="item-video" data-merge="2">
						<a class="owl-video" href="https://youtu.be/8KG1doqRLwc"></a>
					  </div>
					  <div class="item-video" data-merge="2">
						<a class="owl-video" href="https://youtu.be/3YfXu-jxiAk"></a>
					  </div>
					  <div class="item-video" data-merge="2">
						<a class="owl-video" href="https://youtu.be/KvE_bmGRwEk"></a>
					  </div>
					  </div>
    			</div>
            </div>
        </div> {% endcomment %}
        {% comment %} <div class="brush_1 wow fadeInLeft" data-wow-duration="1s"><img src="{% static 'img/brushes/about/2.png' %}" alt="" /></div>
        <div class="brush_2 wow fadeInRight" data-wow-duration="1s"><img src="{% static 'img/brushes/news/2.png' %}" alt="" /></div> {% endcomment %}
    {% comment %} </div>
</div> {% endcomment %}
<!-- /promo videos  -->
<!-- our activites -->
<div class="container-xxl py-5">
	<div class="container mt-5">
		<div class="text-center mx-auto pb-4 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
			<div class="dizme_tm_main_title mt-5 mb-5" data-align="center">
				<span class="mt-5" style="font-weight:500 ;font-size:35px">Our Activities</span>
				<p style ="color:#000;font-size: 20px;font-family:'Jost',sans-serif;">Most common events for organized events  that get  huge response  on telugu film industry</p>
			</div>
			
			
			
		</div>
		<div class="row gy-5 gx-4">
			<div class="col-lg-4 col-md-6 pt-5 wow fadeInUp" data-wow-delay="0.1s">
				<div class="service-item d-flex h-100">
					<div class="service-img">
						<img class="img-fluid" src="{%static 'home/home-img/suma-filmy-art-bg4-350x445.png' %}" alt="">
					</div>
					<div class="service-text p-5 pt-0">
						<div class="service-icon">
							<img class="img-fluid rounded-circle" src="{%static 'home/home-img/Suma-filmy-art11-120x120.png' %}" alt="">
						</div>
						<h5 class="heading-activity mb-3">TV Commercial</h4>
						<p class="mb-4">In-depth, hands-on, practical training across the key disciplines of Production Design and Art Direction will help you start and continue your career in Film &amp; Television Industry successfully.</p>
						<a class="btn btn-square rounded-circle" href=""><i class="bi bi-chevron-double-right"></i></a>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 pt-5 wow fadeInUp" data-wow-delay="0.3s">
				<div class="service-item d-flex h-100">
					<div class="service-img">
						<!-- <img class="img-fluid" src="{%static 'home/home-img/suma-filmy-art-bg2-350x445.png' %}" alt=""> -->
					    <img class="img-fluid" src="{%static 'home/home-img/suma-filmy-art-bg8-350x445.png' %}" alt="">
					</div>
					<div class="service-text p-5 pt-0">
						<div class="service-icon">
							<!-- <img class="img-fluid rounded-circle" src="{% static 'home/home-img/suma-filmy-art-120x120.png' %}" alt=""> -->
						    <img class="img-fluid rounded-circle" src="{% static 'home/home-img/Suma-filmy-art5-120x120.png' %}" alt="">
						</div>
						<h5 class=" heading-activity mb-3">Feature Film & TV/Web Series</h5>
						<p class="mb-4">Direct your first feature film while graduating. Pursue your passion to become Film Director at one of India's most updated film schools. Training with practicing film.</p>
						<a class="btn btn-square rounded-circle" href=""><i class="bi bi-chevron-double-right"></i></a>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 pt-5 wow fadeInUp" data-wow-delay="0.5s">
				<div class="service-item d-flex h-100">
					<div class="service-img">
						<img class="img-fluid" src="{%static 'home/home-img/suma-filmy-art-bg7-350x445.png' %}" alt="">
					</div>
					<div class="service-text p-5 pt-0">
						<div class="service-icon">
							<img class="img-fluid rounded-circle" src="{% static 'home/home-img/suma-filmy-art9-120x120.png' %}" alt="">
						</div>
						<h5 class="heading-activity mb-3">photography</h5>
						<p class="mb-4">Start your journey as an actor by practicing the craft with the help of a Professional Filmmaking Setup. Act every day, Dub every day, every day make your show-reel.</p>
						<a class="btn btn-square rounded-circle" href=""><i class="bi bi-chevron-double-right"></i></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="container-xxl py-5">
	<div class="container mt-0">
		<div class="row gy-5 gx-4">
			<div class="col-lg-4 col-md-6 pt-5 wow fadeInUp" data-wow-delay="0.1s">
				<div class="service-item d-flex h-100">
					<div class="service-img">
						<img class="img-fluid" src="{%static 'home/home-img/suma-filmy-art-bg9-350x445.png' %}" alt="">
					</div>
					<div class="service-text p-5 pt-0">
						<div class="service-icon">
							<img class="img-fluid rounded-circle" src="{%static 'home/home-img/suma-filmy-art3-120x120.png' %}" alt="">
						</div>
						<h5 class="heading-activity mb-3">Documentary</h4>
						<p class="mb-4">In-depth, hands-on, practical training across the key disciplines of Production Design and Art Direction will help you start and continue your career in Film &amp; Television Industry successfully.</p>
						<a class="btn btn-square rounded-circle" href=""><i class="bi bi-chevron-double-right"></i></a>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 pt-5 wow fadeInUp" data-wow-delay="0.3s">
				<div class="service-item d-flex h-100">
					<div class="service-img">
						<img class="img-fluid" src="{%static 'home/home-img/suma-filmy-art-bg4-350x445.png' %}" alt="">
					</div>
					<div class="service-text p-5 pt-0">
						<div class="service-icon">
							<img class="img-fluid rounded-circle" src="{% static 'home/home-img/Suma-filmy-art4-120x120.png' %}" alt="">
						</div>
						<h5 class="heading-activity mb-3">Corporate & ad Films</h5>
						<p class="mb-4">Direct your first feature film while graduating. Pursue your passion to become Film Director at one of India's most updated film schools. Training with practicing film.</p>
						<a class="btn btn-square rounded-circle" href=""><i class="bi bi-chevron-double-right"></i></a>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 pt-5 wow fadeInUp" data-wow-delay="0.5s">
				<div class="service-item d-flex h-100">
					<div class="service-img">
						<img class="img-fluid" src="{%static 'home/home-img/suma-filmy-art-bg3-350x445.png' %}" alt="">
					</div>
					<div class="service-text p-5 pt-0">
						<div class="service-icon">
							<img class="img-fluid rounded-circle" src="{% static 'home/home-img/Suma-filmy-art8-120x120.png' %}" alt="">
						</div>
						<h5 class="heading-activity mb-3">Production Services</h5>
						<p class="mb-4">In-depth, hands-on, practical training across the key disciplines of Production Design and Art Direction will help you start and continue your career in Film &amp; Television Industry successfully</p>
						<a class="btn btn-square rounded-circle" href=""><i class="bi bi-chevron-double-right"></i></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- our activitys End -->
<!-- Banner Start -->
<div class="container-fluid banner my-5 py-5 parallax ">
	<div class="container-banner py-5">
		<!-- <div class="row gy-5"> -->
			<div class="col-lg-12 wow fadeIn" data-wow-delay="0.3s">
				<div class="row g-4 align-items-center">
					{% comment %} <div class="col-sm-4">
						<img class="img-fluid rounded" src="img/banner.png" alt="">
					</div> {% endcomment %}
					<div class="want-work mt-3" >
						<div class="text wow fadeInUp  description-conatiner" data-wow-duration="1s">
							<h1 class="mt-3" style="color:#f75203 ;font-weight:600;">Want To Work Us</h1>
							<p class="banner-paragraph ">knowledge necessary to make your event   success. I enjoy every step of the event  process, from discussion and collaboration.</p>
						</div>
						<div class="dizme_tm_button apply-btn wow fadeInUp" data-wow-duration="1s">
							<a  href="/jobapplication/"><span class="apply">Apply Now</span></a>
						</div>
					</div>
				<!-- </div>  -->
			</div>
		</div>
	</div>
</div>
<!-- Banner End -->
<!-- start bottom image slider --> 
<div class="untree_co-section">
	<div class="container img-container">
		<div class="row text-center justify-content-center mb-5">
			<div class="dizme_tm_main_title mb-5" data-align="center">
				<span class="mt-5" style="font-weight:500 ;">Popular Show</span>
				
				<p style ="color:#000;font-size: 20px;font-family:'Jost',sans-serif;">Most common events for organized events  that get  huge response  on telugu film industry</p>
			</div>
		</div>

		<div class="owl-carousel owl-3-slider">

			<div class="item">
				<a class="media-thumb" href="images/hero-slider-1.jpg" data-fancybox="gallery">
					<div class="media-text">
						<h3>EJunction</h3>
						<span class="location">Family show</span>
					</div>
					<img src="{% static 'home/home-img/sum-filmy-art-slider-1.png' %}" alt="Image" class="img-fluid">
				</a> 
			</div>

			<div class="item">
				<a class="media-thumb" href="images/hero-slider-2.jpg" data-fancybox="gallery">
					<div class="media-text">
						<h3>Star Mahila</h3>
						<span class="location"></span>
					</div>
					<img src="{% static 'home/home-img/sum-filmy-art-slider-2.png' %}" alt="Image" class="img-fluid">
				</a> 
			</div>

			<div class="item">
				<a class="media-thumb" href="images/hero-slider-3.jpg" data-fancybox="gallery">
					<div class="media-text">
						<h3>Cash</h3>
						<span class="location">Game Show</span>
					</div>
					<img src="{% static 'home/home-img/sum-filmy-art-slider-3.png' %}" alt="Image" class="img-fluid">
				</a> 
			</div>


			<div class="item">
				<a class="media-thumb" href="images/hero-slider-4.jpg" data-fancybox="gallery">
					<div class="media-text">
						<h3>Bhale Chance Le </h3>
						<span class="location">Game Show</span>
					</div>
					<img src="{% static 'home/home-img/sum-filmy-art-slider-4.png' %}" alt="Image" class="img-fluid">
				</a> 
			</div>
		</div>

	</div>
</div>
<!--bottom image slider -->    
	
{% endblock %} 