{% extends 'uifiles/base.html' %}
{% load static %}
{% block content %} 

<div class="dizme_tm_section" id="service">
    <div class="dizme_tm_services">
        <div class="container">
            <div class="dizme_tm_main_title" data-align="center">
                <span>News & Events</span>
                <h3>My Amazing Works</h3>
                <p>Most Successfull  for  organizing events that gets Success on Tollywood Industry</p>
            </div>
            <div class="service_list">
                <ul>
                    <li class="wow fadeInLeft" data-wow-duration="1s">
                        <div class="list_inner tilt-effect">
                            <span class="icon">
                                <img class="svg" src="{% static 'img/svg/service/F3.svg' %}" alt="" />
                                <img class="back" src="{% static 'img/brushes/service/1.png' %}" alt="" />
                            </span>
                            <div class="title">
                                <h3>F3</h3>
                                <span class="price">Comedy Show <span></span></span>
                            </div>
                            <div class="text">
                                <p>F3 - Fun Family Frustration is a fun-filled family reality show that airs on Star Maa.</p>
                            </div>
                            <a class="dizme_tm_full_link" href="#"></a>
                            <div class="service_hidden_details">
                                <div class="service_popup_informations">
                                    <div class="news-banner">
                                        {% comment %} <img class="popup_service_image2" src="{% static 'img/service/4.png' %}" alt="" /> {% endcomment %}
                                        <iframe width="727" height="409" src="https://www.youtube.com/embed/oS9pk56ZHLg" title="DT7Solutions" allowfullscreen></iframe>
                                    </div>
                                    <div class="descriptions">
                                        <p>F3 - Fun Family Frustration is a fun-filled family reality show that airs on Star Maa. The famous host of the channel charming Suma Kanakala is the host of the show. This show is a double treat of happiness as our favorite stars teams up with their family members to bag numerous prizes. This humorous game show depicts the atrocities of the stars with their family. It also reveals their real home spirit as they play some funny tasks in the program. The first episode of the show started with Omkar and Ali. They played several rounds in the program with some fun and joy. Usually, the first round of the show is Dabba Dance Aduthu.</p>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.2s">
                        <div class="list_inner tilt-effect">
                            <span class="icon">
                                <img class="svg" src="{% static 'img/svg/service/Star-Mahila.svg'%}" alt="" />
                                <img class="back" src="{% static 'img/brushes/service/2.png'%}" alt="" />
                            </span>
                            <div class="title">
                                <h3>Bhale Chance le </h3>
                                <span class="price"><span></span></span>
                            </div>
                            <div class="text">
                                <p>Suma Kanakala is back with her successful game show Bhale Chancele. The brand new season of Bhale Chancele is all set to premiere from 4 th April (Thursday). The show is scheduled to telecast every Thursday, Friday and Saturday.</p>
                            </div>
                            <a class="dizme_tm_full_link" href="#"></a>
                            {% comment %} <img class="popup_service_image" src="{% static 'img/suma_main/image8.jpg' %}" style="width:500px;height:500px;background-size:cover;" alt="" /> {% endcomment %}
                            <div class="service_hidden_details">
                                <div class="service_popup_informations">
                                    <div class="news-banner">
                                        {% comment %} <img class="popup_service_image2" src="{% static 'img/service/4.png' %}" alt="" /> {% endcomment %}
                                        <iframe width="727" height="409" src="https://www.youtube.com/embed/oS9pk56ZHLg" title="DT7Solutions" allowfullscreen></iframe>
                                    </div>
                                    <div class="descriptions">
                                        <p>Dizme is a leading web design agency with an award-winning design team that creates innovative, effective websites that capture your brand, improve your conversion rates, and maximize your revenue to help grow your business and achieve your goals.</p>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="wow fadeInLeft" data-wow-duration="1s">
                        <div class="list_inner tilt-effect">
                            <span class="icon">
                                {% comment %} <img class="svg" src="{% static 'img/svg/service/Star-Mahila.svg'%}" alt="" /> {% endcomment %}
                                <img class="back" src="{% static 'img/brushes/service/3.png'%}" alt="" />
                            </span>
                            <div class="title ">
                                <h3>House of Hungama </h3>
                                <span class="price">Game Show<span></span></span>
                            </div>
                            <div class="text">
                                <p>Ace host Suma Kanakala is on an entertainment spree. Besides her recently launched game show ‘Wife Chethilo Life’, Suma is all set to entertain fans with the upcoming sitcom House of Hungama from March 16 (Monday).</p>
                            </div>
                            <a class="dizme_tm_full_link" href="#"></a>
                            {% comment %} <img class="popup_service_image height:250px" src="{% static 'img/service/4.png' %}" alt="" /> {% endcomment %}
                           <div class="service_hidden_details"> 
                                <div class="service_popup_informations">
                                    <div class="news-banner">
                                        {% comment %} <img class="popup_service_image2" src="{% static 'img/service/4.png' %}" alt="" />{% endcomment %}
                                        <iframe width="727" height="409" src="https://www.youtube.com/embed/oS9pk56ZHLg" title="DT7Solutions" allowfullscreen></iframe>
                                    </div>
                                     
                                    <div class="descriptions">
                                        <p>Ace host Suma Kanakala is on an entertainment spree. Besides her recently launched game show ‘Wife Chethilo Life’, Suma is all set to entertain fans with the upcoming sitcom House of Hungama from March 16 (Monday)..</p>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.2s">
                        <div class="list_inner tilt-effect">
                            <span class="icon">
                                <img class="svg" src="{% static 'img/brushes/service/4.png'%}" alt="" />
                                <img class="back" src="{% static 'img/events/1.png' %}" alt="" />
                            </span>
                            <div class="title">
                                <h3>Cash</h3>
                                <span class="price">Starts from <span></span></span>
                            </div>
                            <div class="text">
                                <p>Watch four celebrity stars clash in a unique game show presented by famed anchor Suma, ultimately to win cash. Catch the contestants answer simple questions ...
                                </p>
                            </div>
                            <a class="dizme_tm_full_link" href="#"></a>
                            <img class="popup_service_image" src="{% static 'img/service/4.jpg' %}" alt="" />
                            <div class="service_hidden_details">
                                <div class="service_popup_informations">
                                    <div class="news-banner">
                                        <iframe width="727" height="409" src="https://www.youtube.com/embed/oS9pk56ZHLg" title="DT7Solutions" allowfullscreen></iframe>
                                    </div>
                                    <div class="descriptions">
                                        <p>Watch four celebrity stars clash in a unique game show presented by famed anchor Suma, ultimately to win cash. Catch the contestants answer simple questions ...
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="brush_1 wow fadeInLeft" data-wow-duration="1s"><img src="{% static 'img/brushes/service/5.png' %}" alt="" /></div>
        <div class="brush_2 wow zoomIn" data-wow-duration="1s"><img src="{% static 'img/brushes/service/6.png' %}" alt="" /></div> 
    </div>
</div>
<!-- /SERVICES -->

<!-- awards slider -->
<div class="new-event_section">
    <div class="dizme_tm_testimonials">
        <div class="dizme_tm_main_title" data-align="center">
            <span>Awards</span>
            <h3>What My Clients Say</h3>
            <p>Most common methods for designing websites that work well on desktop is responsive and adaptive design</p>
        </div>
        <div class="list_wrapper">
            <div class="total">
                <div class="in">
                    <ul class="owl-carousel owl-theme">
                        <li>
                            <div class="icon"data-merge="3">
                                <img class="awards-img" src="{% static 'img/suma_main/suma_awards2.png' %}" alt="iamge1" />
                            </div>
                             
                        </li>
                        <li>
                             <div class="icon"data-merge="3">
                                <img class="awards-img" src="{% static 'img/suma_main/suma _awards.png' %}" alt="" />
                            </div>
                        </li>
                        <li>
                            <div class="icon"data-merge="3">
                                <img class="awards-img" src="{% static 'img/suma_main/suma_awards2.png' %}" alt="" />
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="left_details">
                    <div class="det_image one wow fadeIn" data-wow-duration="1s" data-img-url="{% static 'img/testimonials/2.jpg' %}"></div>
                    <div class="det_image two wow fadeIn" data-wow-duration="1s" data-wow-delay="0.1s" data-img-url="{% static 'img/testimonials/1.png' %}"></div>
                    <div class="det_image three wow fadeIn" data-wow-duration="1s" data-wow-delay="0.2s" data-img-url="{% static 'img/testimonials/3.jpg' %}"></div>
                    <div class="det_image four wow fadeIn" data-wow-duration="1s" data-wow-delay="0.3s" data-img-url="{% static 'img/testimonials/4.jpg' %}"></div>
                    <span class="circle green animPulse"></span>
                    <span class="circle yellow animPulse"></span>
                    <span class="circle border animPulse"></span>
                </div>
                <div class="right_details">
                    <div class="det_image one wow fadeIn" data-wow-duration="1s" data-img-url="{% static 'img/testimonials/1.png' %}"></div>
                    <div class="det_image two wow fadeIn" data-wow-duration="1s" data-wow-delay="0.2s" data-img-url="{% static 'img/testimonials/11.jpg' %}"></div>
                    <div class="det_image three wow fadeIn" data-wow-duration="1s" data-wow-delay="0.4s" data-img-url="{% static 'img/testimonials/10.jpg' %}"></div>
                    <span class="circle yellow animPulse"></span>
                    <span class="circle purple animPulse"></span>
                    <span class="circle border animPulse"></span>
                </div>
            </div>
        </div>
        <div class="brush_1 wow fadeInRight" data-wow-duration="1s"><img src="{% static 'img/brushes/testimonials/1.png' %}" alt="" /></div>
    </div>
</div>
<!-- /awards slider -->
<!-- /TESTIMONIALS -->


<!-- NEWS -->
<div class="suma_timeline_section" id="blog">
    <div class="timeline_news">
        <div class="container">
            <div class="dizme_tm_main_title" data-align="center">
                <span>Activities</span>
                <h3>Improving My career</h3>
            </div>
            <div class="timeline_list">
                
<section class="timeline-section">
	<div class="timeline-items">
		<div class="timeline-item  ">
			<div class="timeline-dot"></div>
			<div class="timeline-date">Anchor</div>
			<div class="card timelinecard-left  shadow  p-3 mb-3 bg-white rounded wow fadeInRight list_inner tilt-effect" data-wow-duration="s " style="width: 18rem;">
                <img src="{% static 'img/brushes/testimonials/1.png' %}" alt="" />
                <div class="card-body">
                  <h5 class="card-title">Anchor</h5>
                  <p class="card-text">Some quick example text to build.</p>
                  <div class="text-center">
                    <button type="button" class="btn btn-primary">view more</button>
                  </div>
                </div>
              </div>
		</div>
		<div class="timeline-item">
			<div class="timeline-dot"></div>
			<div class="timeline-date">Shows</div>
			<div class="card timelinecard  shadow  p-3 mb-3 bg-white rounded  wow fadeInLeft list_inner tilt-effect" data-wow-duration="s " style="width: 18rem;">
                <img src="{% static 'img/brushes/testimonials/1.png' %}" alt="" />
                <div class="card-body">
                  <h5 class="card-title">Shows</h5>
                  <p class="card-text">Some quick example text to build.</p>
                  <div class="text-center">
                    <button type="button" class="btn btn-primary">view more</button>
                  </div>
                </div>
              </div>
		</div>
		<div class="timeline-item">
			<div class="timeline-dot"></div>
			<div class="timeline-date">Actor</div>
			<div class="card timelinecard-left  shadow  p-3 mb-3 bg-white rounded wow fadeInRight list_inner tilt-effect" data-wow-duration="s " style="width: 18rem;">
                <img src="{% static 'img/brushes/testimonials/1.png' %}" alt="" />
                <div class="card-body">
                  <h5 class="card-title">Actor</h5>
                  <p class="card-text">Some quick example text to build.</p>
                  <div class="text-center">
                    <button type="button" class="btn btn-primary">view more</button>
                  </div>
                </div>
              </div>
		</div>
		<div class="timeline-item">
            <div class="timeline-dot"></div>
            <div class="timeline-date">Movies</div>
			<div class="card timelinecard  shadow  p-3 mb-3 bg-white rounded  wow fadeInLeft list_inner tilt-effect" data-wow-duration="s " style="width: 18rem;">
                <img src="{% static 'img/brushes/testimonials/1.png' %}" alt="" />
                <div class="card-body">
                  <h5 class="card-title">Movies</h5>
                  <p class="card-text">Some quick example text to build.</p>
                  <div class="text-center">
                    <button type="button" class="btn btn-primary">view more</button>
                  </div>
                </div>
              </div>
		</div>
	</div>
</section>
            
</div>
        {% comment %} </div>
        <div class="brush_1 wow zoomIn" data-wow-duration="1s"><img src="{% static 'img/brushes/news/1.png' %}" alt="" /></div>
        <div class="brush_2 wow zoomIn" data-wow-duration="1s"><img src="{% static 'img/brushes/news/2.png' %}" alt="" /></div>
    </div> {% endcomment %}
</div>
<!-- /NEWS -->
<!--activity-->

<!-- SUBSCRIBE -->
<div class="dizme_tm_section mb-5">
    <div class="dizme_tm_subscribe">
        <div class="container">
            <div class="inner">
                <div class="background">
                    <div class="dots" data-img-url="img/subscribe/dots.jpg"></div>
                    <div class="overlay"></div>
                </div>
                <div class="content">
                    <div class="left wow fadeInLeft" data-wow-duration="1s">
                        <span class="subtitle">Subscribe Now</span>
                        <h3 class="title">My Youtube channel</h3>
                        <p class="text">Get latest news, updates, tips and trics in your inbox</p>
                    </div>
                    <div class="right wow fadeInRight" data-wow-duration="1s">
                        <div class="field">
                            <input type="text" placeholder="Your email here">
                            <input type="submit" value="Send Now" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /SUBSCRIBE -->
<!--/Activities--> 


{% endblock %}