{% extends 'uifiles/base.html' %}
{% load static %}
{% block content %} 


<!-- /NEWS -->
<div class="page-baner-section">
    <h1 class="text-center" style="font-size:40px;">news & events</h1>
</div>
<!-- sumafilmyarts updates -->
<div class="latest-news pt-150 pb-150 mb-5">
    <div class="container">

        <div class="row">
            <div class="col-lg-8 col-12 offset-lg-2 text-center">
                <div class="dizme_tm_main_title  mt-5 " data-align="center">
                    <span style="font-weight:600;text-align: center;" class="">Suma Filmy Arts Updates</span>
                    <div class="col-lg-12 col-md-6 offset-md-3 mt-5 offset-lg-0 ">
                        <div class="single-latest-news">
                            <a href="single-news.html">
                                <div class="latest-news-bg news-bg-10"></div>
                            </a>
                            <div class="news-text-box p-3">
                                <h3>Anchor Suma interacts with stress busters, laugh and enjoy</h3>
                                <p class="blog-meta">
                                    <!-- <span class="author" style="font-size:14px;margin-right:2px;"><i class="bi bi-person"></i> Admin</span-->
                                    <span class="date" style="font-size:14px;margin-left:2px;"><i
                                            class="bi bi-calendar4"></i> 4 January, 2023</span>
                                </p>
                                <p class="excerpt" style="text-align: justify;">Sharing her first video on her official YouTube channel, Telugu popular anchor Suma Kanakala said that there exists a lot of stress in life and many people get frustrated for even small things
                                </p>
                                <span><a href="https://www.ap7am.com/lv-351463/" style="text-decoration: none; font-size:18px">Read More</a></span>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>



<!-- sumakanakala updates -->
<div class="latest-news pt-150 pb-150 mb-5">
    <div class="container">

        <div class="row">
            <div class="col-lg-8 col-12 offset-lg-2 text-center">
                <div class="dizme_tm_main_title  mt-5 " data-align="center">
                    <span style="font-weight:600;text-align: center;" class="">Suma Kanakala Updates</span>

                    <div class="col-lg-12 col-md-6 offset-md-3 mt-5 offset-lg-0 ">
                        <div class="single-latest-news">
                            <a href="single-news.html">
                                <div class="latest-news-bg news-bg-11"></div>
                            </a>
                            <div class="news-text-box p-3">
                                <h3>It felt empowering to return to a film set after 25 years: Suma</h3>
                                <p class="blog-meta">
                                    <!-- <span class="author" style="font-size:14px;margin-right:2px;"><i class="bi bi-person"></i> Admin</span>-->
                                    <span class="date" style="font-size:14px;margin-left:2px;"><i
                                            class="bi bi-calendar4"></i> 4 January, 2023</span>
                                </p>
                                <p class="excerpt" style="text-align: justify;">Turn on the television and chances are that if it’s a game show or a pre-release event being telecasted, you’ll see Suma Kanakala’s hosting it. Witty with her repartee and quick on her feet
                                    
                                </p>
                                <span><a href="https://timesofindia.indiatimes.com/entertainment/telugu/movies/news/it-felt-empowering-to-return-to-a-film-set-after-25-years-suma/articleshow/88477982.cms" style="text-decoration: none; font-size:18px">Read More</a></span>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- <div class="latest-news pt-150 pb-150 mb-5">
    <div class="container">

        <div class="row">
            <div class="col-lg-8 col-12 offset-lg-2 text-center">
                <div class="dizme_tm_main_title  mt-5 " data-align="center">	
                    <span style="font-weight:600;text-align: center;" class="news-text">Our  events</span>
                    <h4  style="text-align: center!important;" class="news-text mt-2">Current happenings</h4>
                   
                </div>
            </div>
        </div>  -->
        <!-- <div class="row">
        <div class="col-lg-4 col-md-6 offset-md-3 mt-5 offset-lg-0 ">
            <div class="single-latest-news">
                <a href="single-news.html"><div class="latest-news-bg news-bg-10"></div></a>
                <div class="news-text-box p-3">
                    <h3>Cancer Screening camp for women technicians and union family members</h3>
                    <p class="blog-meta">
                        <span class="author" style="font-size:14px;margin-right:2px;"><i class="bi bi-person"></i> Admin</span>
                        <span class="date" style="font-size:14px;margin-left:2px;"><i class="bi bi-calendar4"></i> 5 December, 2021</span>
                    </p>
                    <p class="excerpt" style="text-align: justify;">As the anchor, Suma Kanakala, we all know what has been with us for the last 20 years as an actress playing in our house. She started a charity called ‘Festivals for Joy’ with the aim of serving the people.</p>
                     <a href="https://festivalsforjoy.com/news-and-events/" class="read-more-btn" style="text-decoration: none;">Read more <i class="bi bi-chevron-right"></i></a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 offset-md-3 mt-5 offset-lg-0 ">
            <div class="single-latest-news">
                <a href="single-news.html"><div class="latest-news-bg news-bg-11"></div></a>
                <div class="news-text-box p-3">
                    <h3>Good thoughts bear good fresh juicy fruit.</h3>
                    <p class="blog-meta">
                        <span class="author" style="font-size:14px;margin-right:2px;"><i class="bi bi-person"></i> Admin</span>
                        <span class="date" style="font-size:14px;margin-left:2px;"><i class="bi bi-calendar4"></i> 5 December, 2021</span>
                    </p>
                    <p class="excerpt" style="text-align: justify;">For the first time, the Grace Foundation for Health Care, in collaboration with Tana, conducted a cancer screening test for 250 people in the film and television industries during the latest Christmas, which falls on Sunday.</p>
                     <a href="https://festivalsforjoy.com/news-and-events/" class="read-more-btn" style="text-decoration: none;">Read more <i class="bi bi-chevron-right"></i></a> 
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 offset-md-3 mt-5 offset-lg-0 ">
            <div class="single-latest-news">
                <a href="single-news.html"><div class="latest-news-bg news-bg-12"></div></a>
                <div class="news-text-box p-3">
                    <h3>Good thoughts bear good fresh juicy fruit.</h3>
                    <p class="blog-meta">
                        <span class="author" style="font-size:14px;margin-right:2px;"><i class="bi bi-person"></i> Admin</span>
                        <span class="date" style="font-size:14px;margin-left:2px;"><i class="bi bi-calendar4"></i> 5 December, 2021</span>
                    </p>
                    <p class="excerpt" style="text-align: justify;">Leading anchor Suma Kanakala started a charity called ‘Festivals for Joy’ on the occasion of Vijayadashami. ‘Padma Shri’ recipient Sunita Krishnan has donated money to 10 women in her care and set up a park for children to play there.</p>
                     <a href="https://festivalsforjoy.com/news-and-events/" class="read-more-btn" style="text-decoration: none;">Read more <i class="bi bi-chevron-right"></i></a> 
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 offset-md-3 mt-5 offset-lg-0 ">
            <div class="single-latest-news">
                <a href="single-news.html"><div class="latest-news-bg news-bg-15"></div></a>
                <div class="news-text-box p-3">
                    <h3>Good thoughts bear good fresh juicy fruit.</h3>
                    <p class="blog-meta">
                        <span class="author" style="font-size:14px;margin-right:2px;"><i class="bi bi-person"></i> Admin</span>
                        <span class="date" style="font-size:14px;margin-left:2px;"><i class="bi bi-calendar4"></i> 27 December, 2019</span>
                    </p>
                    <p class="excerpt">Vivamus lacus enim, pulvinar vel nulla sed, scelerisque rhoncus nisi. Praesent vitae mattis nunc, egestas viverra eros.</p>
                    
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 offset-md-3 mt-5 offset-lg-0 ">
            <div class="single-latest-news">
                <a href="single-news.html"><div class="latest-news-bg news-bg-16"></div></a>
                <div class="news-text-box p-3">
                    <h3>Good thoughts bear good fresh juicy fruit.</h3>
                    <p class="blog-meta">
                        <span class="author" style="font-size:14px;margin-right:2px;"><i class="bi bi-person"></i> Admin</span>
                        <span class="date" style="font-size:14px;margin-left:2px;"><i class="bi bi-calendar4"></i> 27 December, 2019</span>
                    </p>
                    <p class="excerpt">Vivamus lacus enim, pulvinar vel nulla sed, scelerisque rhoncus nisi. Praesent vitae mattis nunc, egestas viverra eros.</p>
                    
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 offset-md-3 mt-5 offset-lg-0 ">
            <div class="single-latest-news">
                <a href="single-news.html"><div class="latest-news-bg news-bg-17"></div></a>
                <div class="news-text-box p-3">
                    <h3>Good thoughts bear good fresh juicy fruit.</h3>
                    <p class="blog-meta">
                        <span class="author" style="font-size:14px;margin-right:2px;"><i class="bi bi-person"></i> Admin</span>
                        <span class="date" style="font-size:14px;margin-left:2px;"><i class="bi bi-calendar4"></i> 27 December, 2019</span>
                    </p>
                    <p class="excerpt">Vivamus lacus enim, pulvinar vel nulla sed, scelerisque rhoncus nisi. Praesent vitae mattis nunc, egestas viverra eros.</p>
                   
                </div>
            </div>
        </div>
    </div>
</div>
</div> -->


<!-- festival of joy -->
<!-- <div class="latest-news pt-150 pb-150 mb-5">
    <div class="container">

        <div class="row">
            <div class="col-lg-8 col-12 offset-lg-2 text-center">
                <div class="dizme_tm_main_title  mt-5 " data-align="center">	
                    <span style="font-family:ubuntu;font-weight:600;text-align: center;" class="news-text">Our  News</span>
                    <h4  style="font-family:ubuntu;text-align: center!important;" class="news-text mt-2">Current happenings</h4>
                   
                </div>
            </div>
        </div> 
        <div class="row">
        
    </div>
</div>
</div> -->
<!-- festival -of-joy-end-->
<!--activity-->

<!-- <div class="latest-news pt-150 pb-150 mb-5">
    <div class="container">

        <div class="row">
            <div class="col-lg-8 col-12 offset-lg-2 text-center">
                <div class="dizme_tm_main_title  mt-5 " data-align="center">	
                    <span style="font-weight:600;text-align: center;" class="news-text">Our  News</span>
                    <h4  style="text-align: center!important;" class="news-text mt-2">Current happenings</h4>
                   
                </div>
            </div>
        </div>  -->

        <!-- <div class="row"> -->
            <!-- <div class="col-lg-4 col-md-6  mt-5 ">
                <div class="single-latest-news ">
                    <a href="single-news.html"><div class="latest-news-bg news-bg-1"></div></a>
                    <div class="news-text-box p-3">
                        <h3>You will vainly look for fruit on it in autumn.</h3>
                        <p class="blog-meta">
                            <span class="author"style="font-size:14px;margin-right:2px;"><i class="bi bi-person"></i> Admin</span>
                            <span class="date"style="font-size:14px;margin-left:2px;"><i class="bi bi-calendar4"></i> 27 December, 2019</span>
                        </p>
                        <p class="excerpt">Vivamus lacus enim, pulvinar vel nulla sed, scelerisque rhoncus nisi. Praesent vitae mattis nunc, egestas viverra eros.</p> -->
                        <!-- <a href="single-news.html" class="read-more-btn">read more <i class="bi bi-chevron-right"></i></a> -->
                    <!-- </div>
                </div>
            </div> -->
            <!-- <div class="col-lg-4 col-md-6  mt-5">
                <div class="single-latest-news">
                    <a href="single-news.html"><div class="latest-news-bg news-bg-2"></div></a>
                    <div class="news-text-box p-3">
                        <h3>A man's worth has its season, like tomato.</h3>
                        <p class="blog-meta">
                            <span class="author" style="font-size:14px;margin-right:2px;"><i class="bi bi-person"></i> Admin</span>
                            <span class="date"style="font-size:14px;margin-left:2px;"><i class="bi bi-calendar4"></i> 27 December, 2019</span>
                        </p>
                        <p class="excerpt">Vivamus lacus enim, pulvinar vel nulla sed, scelerisque rhoncus nisi. Praesent vitae mattis nunc, egestas viverra eros.</p>
                        
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 offset-md-3 mt-5 offset-lg-0 ">
                <div class="single-latest-news">
                    <a href="single-news.html"><div class="latest-news-bg news-bg-3"></div></a>
                    <div class="news-text-box p-3">
                        <h3>Good thoughts bear good fresh juicy fruit.</h3>
                        <p class="blog-meta">
                            <span class="author" style="font-size:14px;margin-right:2px;"><i class="bi bi-person"></i> Admin</span>
                            <span class="date" style="font-size:14px;margin-left:2px;"><i class="bi bi-calendar4"></i> 27 December, 2019</span>
                        </p>
                        <p class="excerpt">Vivamus lacus enim, pulvinar vel nulla sed, scelerisque rhoncus nisi. Praesent vitae mattis nunc, egestas viverra eros.</p>
                       
                    </div>
                </div>
            </div>
            
            <div class="col-lg-4 col-md-6 offset-md-3 mt-5 offset-lg-0 ">
                <div class="single-latest-news">
                    <a href="single-news.html"><div class="latest-news-bg news-bg-3"></div></a>
                    <div class="news-text-box p-3">
                        <h3>Good thoughts bear good fresh juicy fruit.</h3>
                        <p class="blog-meta">
                            <span class="author" style="font-size:14px;margin-right:2px;"><i class="bi bi-person"></i> Admin</span>
                            <span class="date" style="font-size:14px;margin-left:2px;"><i class="bi bi-calendar4"></i> 27 December, 2019</span>
                        </p>
                        <p class="excerpt">Vivamus lacus enim, pulvinar vel nulla sed, scelerisque rhoncus nisi. Praesent vitae mattis nunc, egestas viverra eros.</p>
                        
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 offset-md-3 mt-5 offset-lg-0 ">
                <div class="single-latest-news">
                    <a href="single-news.html"><div class="latest-news-bg news-bg-3"></div></a>
                    <div class="news-text-box p-3">
                        <h3>Good thoughts bear good fresh juicy fruit.</h3>
                        <p class="blog-meta">
                            <span class="author" style="font-size:14px;margin-right:2px;"><i class="bi bi-person"></i> Admin</span>
                            <span class="date" style="font-size:14px;margin-left:2px;"><i class="bi bi-calendar4"></i> 27 December, 2019</span>
                        </p>
                        <p class="excerpt">Vivamus lacus enim, pulvinar vel nulla sed, scelerisque rhoncus nisi. Praesent vitae mattis nunc, egestas viverra eros.</p>
                       
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mt-5 offset-md-3 offset-lg-0 ">
                <div class="single-latest-news">
                    <a href="single-news.html"><div class="latest-news-bg news-bg-3"></div></a>
                    <div class="news-text-box p-3">
                        <h3>Good thoughts bear good fresh juicy fruit.</h3>
                        <p class="blog-meta">
                            <span class="author" style="font-size:14px;margin-right:2px;"><i class="bi bi-person"></i> Admin</span>
                            <span class="date" style="font-size:14px;margin-left:2px;"><i class="bi bi-calendar4"></i> 27 December, 2019</span>
                        </p>
                        <p class="excerpt">Vivamus lacus enim, pulvinar vel nulla sed, scelerisque rhoncus nisi. Praesent vitae mattis nunc, egestas viverra eros.</p>
                        
                    </div>
                </div>
            </div>
       
        
    </div>
    </div>
</div> -->
<!-- end latest news -->


<!--/Activities--> 


{% endblock %}