{% extends 'uifiles/base.html' %}
{% load static %}
{% block content %} 

<div class="page-baner-section">
    <h1 class="text-center" >news&events</h1>
</div>

<div class="dizme_tm_section" id="service">
    <div class="dizme_tm_services">
        <div class="container">
            <div class="dizme_tm_main_title" data-align="center">
                <span>Events</span>
                <h3>My Amazing Works</h3>
                <p>Most Successfull  for  organizing events that gets Success on Tollywood Industry</p>
            </div>
            <div class="service_list">
                <ul>
                    <li class="wow fadeInLeft" data-wow-duration="1s">
                        <div class="list_inner tilt-effect">
                            <div class="news_popup-content">
                                <h2>Bhale Chance le </h2>
                               
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime earum, consectetur saepe nostrum aliquam
                                    nam quaerat non officia quisquam maiores adipisci enim cumque, sunt pariatur eligendi possimus!
                                    Sapiente, tenetur officia, similique architecto consequatur dolorem sunt quas reiciendis omnis,
                                    veritatis quia.</p>
                            </div>
                            <a class="dizme_tm_full_link" href="#"></a>
                            <div class="service_hidden_details">
                                <h2>Bhale Chance le</h2>
                                <video autoplay="" loop="" muted="" class="custom-video" controls>
                                    <source src="{%static 'fans-intraction/fans-intraction-img/suma-video.mp4'%}" type="video/mp4">
                                </video>
                                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quos modi tenetur porro voluptate neque quam
                                    aut. Eaque praesentium ex laborum necessitatibus tenetur, culpa minima voluptas tempora facilis placeat,
                                    esse soluta adipisci doloribus ducimus dolore maxime harum aliquid ratione amet. Consequatur.</p>
                                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quos modi tenetur porro voluptate neque quam
                                    aut. Eaque praesentium ex laborum necessitatibus tenetur, culpa minima voluptas tempora facilis placeat,
                                    esse soluta adipisci doloribus ducimus dolore maxime harum aliquid ratione amet. Consequatur.</p>
                            </div>
                        </div>
                    </li>
                    <li class="wow fadeInLeft" data-wow-duration="1s">
                        <div class="list_inner tilt-effect">
                            <div class="news_popup-content">
                                <h2>Bhale Chance le </h2>
                               
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime earum, consectetur saepe nostrum aliquam
                                    nam quaerat non officia quisquam maiores adipisci enim cumque, sunt pariatur eligendi possimus!
                                    Sapiente, tenetur officia, similique architecto consequatur dolorem sunt quas reiciendis omnis,
                                    veritatis quia.</p>
                            </div>
                            <a class="dizme_tm_full_link" href="#"></a>
                            <div class="service_hidden_details">
                                <h2>Bhale Chance le</h2>
                                <video autoplay="" loop="" muted="" class="custom-video" controls>
                                    <source src="{%static 'fans-intraction/fans-intraction-img/suma-video.mp4'%}" type="video/mp4">
                                </video>
                                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quos modi tenetur porro voluptate neque quam
                                    aut. Eaque praesentium ex laborum necessitatibus tenetur, culpa minima voluptas tempora facilis placeat,
                                    esse soluta adipisci doloribus ducimus dolore maxime harum aliquid ratione amet. Consequatur.</p>
                                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quos modi tenetur porro voluptate neque quam
                                    aut. Eaque praesentium ex laborum necessitatibus tenetur, culpa minima voluptas tempora facilis placeat,
                                    esse soluta adipisci doloribus ducimus dolore maxime harum aliquid ratione amet. Consequatur.</p>
                            </div>
                        </div>
                    </li>
                    <li class="wow fadeInLeft" data-wow-duration="1s">
                        <div class="list_inner tilt-effect">
                            <div class="news_popup-content">
                                <h2>Bhale Chance le </h2>
                               
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime earum, consectetur saepe nostrum aliquam
                                    nam quaerat non officia quisquam maiores adipisci enim cumque, sunt pariatur eligendi possimus!
                                    Sapiente, tenetur officia, similique architecto consequatur dolorem sunt quas reiciendis omnis,
                                    veritatis quia.</p>
                            </div>
                            <a class="dizme_tm_full_link" href="#"></a>
                            <div class="service_hidden_details">
                                <h2>Bhale Chance le</h2>
                                <video autoplay="" loop="" muted="" class="custom-video" controls>
                                    <source src="{%static 'fans-intraction/fans-intraction-img/suma-video.mp4'%}" type="video/mp4">
                                </video>
                                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quos modi tenetur porro voluptate neque quam
                                    aut. Eaque praesentium ex laborum necessitatibus tenetur, culpa minima voluptas tempora facilis placeat,
                                    esse soluta adipisci doloribus ducimus dolore maxime harum aliquid ratione amet. Consequatur.</p>
                                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quos modi tenetur porro voluptate neque quam
                                    aut. Eaque praesentium ex laborum necessitatibus tenetur, culpa minima voluptas tempora facilis placeat,
                                    esse soluta adipisci doloribus ducimus dolore maxime harum aliquid ratione amet. Consequatur.</p>
                            </div>
                        </div>
                    </li>
                    <li class="wow fadeInLeft" data-wow-duration="1s">
                        <div class="list_inner tilt-effect">
                            <div class="news_popup-content">
                                <h2>Bhale Chance le </h2>
                               
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime earum, consectetur saepe nostrum aliquam
                                    nam quaerat non officia quisquam maiores adipisci enim cumque, sunt pariatur eligendi possimus!
                                    Sapiente, tenetur officia, similique architecto consequatur dolorem sunt quas reiciendis omnis,
                                    veritatis quia.</p>
                            </div>
                            <a class="dizme_tm_full_link" href="#"></a>
                            <div class="service_hidden_details">
                                <h2>Bhale Chance le</h2>
                                <video autoplay="" loop="" muted="" class="custom-video" controls>
                                    <source src="{%static 'fans-intraction/fans-intraction-img/suma-video.mp4'%}" type="video/mp4">
                                </video>
                                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quos modi tenetur porro voluptate neque quam
                                    aut. Eaque praesentium ex laborum necessitatibus tenetur, culpa minima voluptas tempora facilis placeat,
                                    esse soluta adipisci doloribus ducimus dolore maxime harum aliquid ratione amet. Consequatur.</p>
                                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quos modi tenetur porro voluptate neque quam
                                    aut. Eaque praesentium ex laborum necessitatibus tenetur, culpa minima voluptas tempora facilis placeat,
                                    esse soluta adipisci doloribus ducimus dolore maxime harum aliquid ratione amet. Consequatur.</p>
                            </div>
                        </div>
                    </li>
                    
                   
                </ul>
            </div>
        </div>
        <!-- <div class="brush_1 wow fadeInLeft" data-wow-duration="1s"><img src="{% static 'img/brushes/service/5.png' %}" alt="" /></div>
        <div class="brush_2 wow zoomIn" data-wow-duration="1s"><img src="{% static 'img/brushes/service/6.png' %}" alt="" /></div>  -->
    </div>
</div>
<!-- /SERVICES -->

<!-- awards slider -->
<div class="new-event_section">
    <div class="dizme_tm_testimonials">
        <div class="dizme_tm_main_title" data-align="center">
            <span>Awards</span>
            <h3>What My Clients Say</h3>
            <p>Most common methods for designing websites that work well on desktop is responsive and adaptive design</p>
        </div>
        <div class="list_wrapper">
            <div class="total">
                <div class="in">
                    <ul class="owl-carousel owl-theme">
                        <li>
                            <div class="icon"data-merge="3">
                                <img class="awards-img" src="{% static 'img/suma_main/suma_awards2.png' %}" alt="iamge1" />
                            </div>
                             
                        </li>
                        <li>
                             <div class="icon"data-merge="3">
                                <img class="awards-img" src="{% static 'img/suma_main/suma _awards.png' %}" alt="" />
                            </div>
                        </li>
                        <li>
                            <div class="icon"data-merge="3">
                                <img class="awards-img" src="{% static 'img/suma_main/suma_awards2.png' %}" alt="" />
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="left_details">
                    <div class="det_image one wow fadeIn" data-wow-duration="1s" data-img-url="{% static 'img/testimonials/2.jpg' %}"></div>
                    <div class="det_image two wow fadeIn" data-wow-duration="1s" data-wow-delay="0.1s" data-img-url="{% static 'img/testimonials/1.png' %}"></div>
                    <div class="det_image three wow fadeIn" data-wow-duration="1s" data-wow-delay="0.2s" data-img-url="{% static 'About/about-imgs/bubble4.png' %}"></div>
                    <div class="det_image four wow fadeIn" data-wow-duration="1s" data-wow-delay="0.3s" data-img-url="{% static 'About/about-imgs/bubble2.png' %}"></div>
                    <span class="circle green animPulse"></span>
                    <span class="circle yellow animPulse"></span>
                    <span class="circle border animPulse"></span>
                </div>
                <div class="right_details">
                    <div class="det_image one wow fadeIn" data-wow-duration="1s" data-img-url="{% static 'About/about-imgs/bubble2.png' %}"></div>
                    <div class="det_image two wow fadeIn" data-wow-duration="1s" data-wow-delay="0.2s" data-img-url="{% static 'About/about-imgs/bubble3.png' %}"></div>
                    <div class="det_image three wow fadeIn" data-wow-duration="1s" data-wow-delay="0.4s" data-img-url="{% static 'About/about-imgs/bubble4.png' %}"></div>
                    <span class="circle yellow animPulse"></span>
                    <span class="circle purple animPulse"></span>
                    <span class="circle border animPulse"></span>
                </div>
            </div>
        </div>
        <div class="brush_1 wow fadeInRight" data-wow-duration="1s"><img src="{% static 'img/brushes/testimonials/1.png' %}" alt="" /></div>
    </div>
</div>
<!-- /awards slider -->
<!-- /TESTIMONIALS -->


<!-- NEWS -->
<!-- <div class="suma_timeline_section" id="blog">
    <div class="timeline_news">
        <div class="container">
            <div class="dizme_tm_main_title" data-align="center">
                <span>Activities</span>
                <h3>Improving My career</h3>
            </div>
            <div class="timeline_list">
                
<section class="timeline-section">
	<div class="timeline-items">
		<div class="timeline-item  ">
			<div class="timeline-dot"></div>
			<div class="timeline-date">Anchor</div>
			<div class="card timelinecard-left  shadow  p-3 mb-3 bg-white rounded wow fadeInRight list_inner tilt-effect" data-wow-duration="s " style="width: 18rem;">
                <img src="{% static 'img/brushes/testimonials/1.png' %}" alt="" />
                <div class="card-body">
                  <h5 class="card-title">Anchor</h5>
                  <p class="card-text">Some quick example text to build.</p>
                  <div class="text-center">
                    <button type="button" class="btn btn-primary">view more</button>
                  </div>
                </div>
              </div>
		</div>
		<div class="timeline-item">
			<div class="timeline-dot"></div>
			<div class="timeline-date">Shows</div>
			<div class="card timelinecard  shadow  p-3 mb-3 bg-white rounded  wow fadeInLeft list_inner tilt-effect" data-wow-duration="s " style="width: 18rem;">
                <img src="{% static 'img/brushes/testimonials/1.png' %}" alt="" />
                <div class="card-body">
                  <h5 class="card-title">Shows</h5>
                  <p class="card-text">Some quick example text to build.</p>
                  <div class="text-center">
                    <button type="button" class="btn btn-primary">view more</button>
                  </div>
                </div>
              </div>
		</div>
		<div class="timeline-item">
			<div class="timeline-dot"></div>
			<div class="timeline-date">Actor</div>
			<div class="card timelinecard-left  shadow  p-3 mb-3 bg-white rounded wow fadeInRight list_inner tilt-effect" data-wow-duration="s " style="width: 18rem;">
                <img src="{% static 'img/brushes/testimonials/1.png' %}" alt="" />
                <div class="card-body">
                  <h5 class="card-title">Actor</h5>
                  <p class="card-text">Some quick example text to build.</p>
                  <div class="text-center">
                    <button type="button" class="btn btn-primary">view more</button>
                  </div>
                </div>
              </div>
		</div>
		<div class="timeline-item">
            <div class="timeline-dot"></div>
            <div class="timeline-date">Movies</div>
			<div class="card timelinecard  shadow  p-3 mb-3 bg-white rounded  wow fadeInLeft list_inner tilt-effect" data-wow-duration="s " style="width: 18rem;">
                <img src="{% static 'img/brushes/testimonials/1.png' %}" alt="" />
                <div class="card-body">
                  <h5 class="card-title">Movies</h5>
                  <p class="card-text">Some quick example text to build.</p>
                  <div class="text-center">
                    <button type="button" class="btn btn-primary">view more</button>
                  </div>
                </div>
              </div>
		</div>
	</div>
</section>
            
</div>
        {% comment %} </div>
        <div class="brush_1 wow zoomIn" data-wow-duration="1s"><img src="{% static 'img/brushes/news/1.png' %}" alt="" /></div>
        <div class="brush_2 wow zoomIn" data-wow-duration="1s"><img src="{% static 'img/brushes/news/2.png' %}" alt="" /></div>
    </div> {% endcomment %}
</div> -->
<!-- /NEWS -->
<!--activity-->
<div class="latest-news pt-150 pb-150 mb-5">
    <div class="container">

        <div class="row">
            <div class="col-lg-8 offset-lg-2 text-center">
                <div class="dizme_tm_main_title m-5">	
                    <span>Our  News</span>
                   
                </div>
            </div>
        </div> 

        <div class="row">
            <div class="col-lg-4 col-md-6  ">
                <div class="single-latest-news ">
                    <a href="single-news.html"><div class="latest-news-bg news-bg-1"></div></a>
                    <div class="news-text-box p-3">
                        <h3>You will vainly look for fruit on it in autumn.</h3>
                        <p class="blog-meta">
                            <span class="author"style="font-size:14px;margin-right:2px;"><i class="bi bi-person"></i> Admin</span>
                            <span class="date"style="font-size:14px;margin-left:2px;"><i class="bi bi-calendar4"></i> 27 December, 2019</span>
                        </p>
                        <p class="excerpt">Vivamus lacus enim, pulvinar vel nulla sed, scelerisque rhoncus nisi. Praesent vitae mattis nunc, egestas viverra eros.</p>
                        <a href="single-news.html" class="read-more-btn">read more <i class="bi bi-chevron-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 ">
                <div class="single-latest-news">
                    <a href="single-news.html"><div class="latest-news-bg news-bg-2"></div></a>
                    <div class="news-text-box p-3">
                        <h3>A man's worth has its season, like tomato.</h3>
                        <p class="blog-meta">
                            <span class="author" style="font-size:14px;margin-right:2px;"><i class="bi bi-person"></i> Admin</span>
                            <span class="date"style="font-size:14px;margin-left:2px;"><i class="bi bi-calendar4"></i> 27 December, 2019</span>
                        </p>
                        <p class="excerpt">Vivamus lacus enim, pulvinar vel nulla sed, scelerisque rhoncus nisi. Praesent vitae mattis nunc, egestas viverra eros.</p>
                        <a href="single-news.html" class="read-more-btn">read more <i class="bi bi-caret-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 offset-md-3 offset-lg-0 ">
                <div class="single-latest-news">
                    <a href="single-news.html"><div class="latest-news-bg news-bg-3"></div></a>
                    <div class="news-text-box p-3">
                        <h3>Good thoughts bear good fresh juicy fruit.</h3>
                        <p class="blog-meta">
                            <span class="author" style="font-size:14px;margin-right:2px;"><i class="bi bi-person"></i> Admin</span>
                            <span class="date" style="font-size:14px;margin-left:2px;"><i class="bi bi-calendar4"></i> 27 December, 2019</span>
                        </p>
                        <p class="excerpt">Vivamus lacus enim, pulvinar vel nulla sed, scelerisque rhoncus nisi. Praesent vitae mattis nunc, egestas viverra eros.</p>
                        <a href="single-news.html" class="read-more-btn">read more <i class="bi bi-chevron-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="row">
            <div class="col-lg-12 text-center">
                <a href="news.html" class="boxed-btn">More News</a>
            </div>
        </div> -->
    </div>
</div>
<!-- end latest news -->

<!-- SUBSCRIBE -->
<div class="dizme_tm_section mb-5">
    <div class="dizme_tm_subscribe">
        <div class="container">
            <div class="inner">
                <div class="background">
                    <div class="dots" data-img-url="img/subscribe/dots.jpg"></div>
                    <div class="overlay"></div>
                </div>
                <div class="content" >
                    <div class="left wow fadeInLeft" data-wow-duration="1s">
                        <span class="subtitle"></span>
                        <h3 class="title">follow us on</h3>
                        <p class="text">Get latest news, updates, tips and trics in your inbox</p>
                    </div>
                    <div class="right wow fadeInRight" data-wow-duration="1s">
                        <!-- <div class="field">
                            <input type="text" placeholder="Your email here">
                            <input type="submit" value="Send Now" />
                        </div> -->
                        <div class="social-menu" style="display:flex;justify-content:center;" >
                            <ul class='home-social-links' style="display:flex;">
                                <li><a href="#"><i class="icon-facebook-1 " style="margin:7px;background-color: #ffffff; border-radius: 25px;padding:13px;"></i></a></li>
                                <li><a href="#"><i class="icon-twitter-1 " style="margin:7px; background-color: #ffffff;  border-radius: 25px;padding:13px;"></i></a></li>
                                <li><a href="#"><i class="icon-instagram-1" style="margin:7px; background-color: #ffffff; border-radius: 25px;padding:15px;;"></i></a></li>
                                <li><a href="#"><i class="icon-youtube-1" style="margin:7px; background-color: #ffffff; border-radius: 25px;padding:15px;"></i></a></li>
                               
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /SUBSCRIBE -->
<!--/Activities--> 


{% endblock %}