{% extends 'uifiles/base.html' %}
{% load static %}
{% block content %}

<div class="page-baner-section">
    <h1 class="text-center">Portfolio</h1>
</div>


<!-- PORTFOLIO -->

<div class="suma_tm_section mt-5" id="suma-portfolio">
    <div class="suma_tm_portfolio">
        <div class="container">
            <div class="dizme_tm_main_title mb-5" data-align="center">
                <span> Lakku Kikku</span>
               
            </div>
            <div class="portfolio-slider1 ">
                <div class="portfolio-slider1">
                    <div class="swiper port_video_slider1">
                        <div class="swiper-wrapper">

                            <div class="swiper-slide">
                                <div class="portfolio_list wow fadeInUp" data-wow-duration="1s">
                                    <div class="video-media">
                                        <div class="embed-responsive embed-responsive-16by9">
                                            <iframe class="embed-responsive-item" width="420" height="350"
                                                src=" https://www.youtube.com/embed/FbuTiCx7WKE"
                                                allowfullscreen></iframe>
                                        </div>

                                    </div>

                                </div>

                            </div>
                            <div class="swiper-slide">
                                <div class="portfolio_list wow fadeInUp" data-wow-duration="1s">
                                    <div class="embed-responsive embed-responsive-16by9">
                                        <iframe class="embed-responsive-item" width="420" height="350"
                                            src="https://www.youtube.com/embed/TEDvxovb_oM" allowfullscreen></iframe>
                                    </div>

                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="portfolio_list wow fadeInUp" data-wow-duration="1s">
                                    <div class="embed-responsive embed-responsive-16by9">
                                        <iframe class="embed-responsive-item" width="420" height="350"
                                            src="https://www.youtube.com/embed/zyi5dRGoVKk" allowfullscreen></iframe>
                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>

 <!-- slider--main -->
 <div class="suma_tm_section " id="suma-portfolio">
    <div class="suma_tm_portfolio">
        <div class="container">
            <div class="dizme_tm_main_title mb-5" data-align="center">
                <span>Genes</span>
               
            </div>
            <div class="portfolio-slider6 ">
                <div class="portfolio-slider6">
                    <div class="swiper port_video_slider1">
                        <div class="swiper-wrapper">

                            <div class="swiper-slide">
                                <div class="portfolio_list wow fadeInUp" data-wow-duration="1s">
                                    <div class="embed-responsive embed-responsive-16by9">
                                        <iframe class="embed-responsive-item" width="420" height="350"
                                            src="https://www.youtube.com/embed/B5nf_bRypZ0" allowfullscreen></iframe>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="portfolio_list wow fadeInUp" data-wow-duration="1s">
                                    <div class="embed-responsive embed-responsive-16by9">
                                        <iframe class="embed-responsive-item" width="420" height="350"
                                            src="https://www.youtube.com/embed/Ku-2OF_O7DY" allowfullscreen></iframe>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="portfolio_list wow fadeInUp" data-wow-duration="1s">
                                    <div class="embed-responsive embed-responsive-16by9">
                                        <iframe class="embed-responsive-item" width="420" height="350"
                                            src="https://www.youtube.com/embed/YVPSLUZICyw" allowfullscreen></iframe>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="suma_tm_section " id="suma-portfolio">
    <div class="suma_tm_portfolio">
        <div class="container">
            <div class="dizme_tm_main_title mb-5" data-align="center">
                <span>kevuu keka</span>
                
            </div>
            <div class="portfolio-slider2 ">
                <div class="portfolio-slider2">
                    <div class="swiper port_video_slider1">
                        <div class="swiper-wrapper">

                            <div class="swiper-slide">
                                <div class="portfolio_list wow fadeInUp" data-wow-duration="1s">
                                    <div class="embed-responsive embed-responsive-16by9">
                                        <iframe class="embed-responsive-item" width="420" height="350"
                                            src="https://www.youtube.com/embed/21hJ5Kf4WHY" allowfullscreen></iframe>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="portfolio_list wow fadeInUp" data-wow-duration="1s">
                                    <div class="embed-responsive embed-responsive-16by9">
                                        <iframe class="embed-responsive-item" width="420" height="350"
                                            src="https://www.youtube.com/embed/Wkl_0LAYAu4" allowfullscreen></iframe>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="portfolio_list wow fadeInUp" data-wow-duration="1s">
                                    <div class="embed-responsive embed-responsive-16by9">
                                        <iframe class="embed-responsive-item" width="420" height="350"
                                            src="https://www.youtube.com/embed/Jt4_0dGTl1Q" allowfullscreen></iframe>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="suma_tm_section " id="suma-portfolio">
    <div class="suma_tm_portfolio">
        <div class="container">
            <div class="dizme_tm_main_title mb-5" data-align="center">
                <span>F3</span>
               
            </div>
            <div class="portfolio-slider3 ">
                <div class="portfolio-slider3">
                    <div class="swiper port_video_slider1">
                        <div class="swiper-wrapper">

                            <div class="swiper-slide">
                                <div class="portfolio_list wow fadeInUp" data-wow-duration="1s">
                                    <div class="embed-responsive embed-responsive-16by9">
                                        <iframe class="embed-responsive-item" width="420" height="350"
                                            src="
                                            https://www.youtube.com/embed/OkM_aY8gOc4
                                            " allowfullscreen></iframe>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="portfolio_list wow fadeInUp" data-wow-duration="1s">
                                    <div class="embed-responsive embed-responsive-16by9">
                                        <iframe class="embed-responsive-item" width="420" height="350"
                                            src="https://www.youtube.com/embed/ctMdseKTSv4" allowfullscreen></iframe>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="portfolio_list wow fadeInUp" data-wow-duration="1s">
                                    <div class="embed-responsive embed-responsive-16by9">
                                        <iframe class="embed-responsive-item" width="420" height="350"
                                            src="https://www.youtube.com/embed/_sJPwIJUKS0" allowfullscreen></iframe>
                                    </div> 
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="suma_tm_section " id="suma-portfolio">
    <div class="suma_tm_portfolio">
        <div class="container">
            <div class="dizme_tm_main_title mb-5" data-align="center">
                <span> Bhale Chance le</span>
              
            </div>
            <div class="portfolio-slider4 ">
                <div class="portfolio-slider4">
                    <div class="swiper port_video_slider1">
                        <div class="swiper-wrapper">

                            <div class="swiper-slide">
                                <div class="portfolio_list wow fadeInUp" data-wow-duration="1s">
                                    <div class="embed-responsive embed-responsive-16by9">
                                        <iframe class="embed-responsive-item" width="420" height="350"
                                            src="https://www.youtube.com/embed/zm2haw2o4qc" allowfullscreen></iframe>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="portfolio_list wow fadeInUp" data-wow-duration="1s">
                                    <div class="embed-responsive embed-responsive-16by9">
                                        <iframe class="embed-responsive-item" width="420" height="350"
                                            src="https://www.youtube.com/embed/TeShuyMeqP0" allowfullscreen></iframe>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="portfolio_list wow fadeInUp" data-wow-duration="1s">
                                    <div class="embed-responsive embed-responsive-16by9">
                                        <iframe class="embed-responsive-item" width="420" height="350"
                                            src="https://www.youtube.com/embed/mLTP_CGuqbY" allowfullscreen></iframe>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="suma_tm_section " id="suma-portfolio">
    <div class="suma_tm_portfolio">
        <div class="container">
            <div class="dizme_tm_main_title mb-5" data-align="center">
                <span>House of hungama</span>
              
            </div>
            <div class="portfolio-slider5 ">
                <div class="portfolio-slider5">
                    <div class="swiper port_video_slider1">
                        <div class="swiper-wrapper">

                            <div class="swiper-slide">
                                <div class="portfolio_list wow fadeInUp" data-wow-duration="1s">
                                    <div class="embed-responsive embed-responsive-16by9">
                                        <iframe class="embed-responsive-item" width="420" height="350"
                                            src="https://www.youtube.com/embed/IZdiCft48r8" allowfullscreen></iframe>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="portfolio_list wow fadeInUp" data-wow-duration="1s">
                                    <div class="embed-responsive embed-responsive-16by9">
                                        <iframe class="embed-responsive-item" width="420" height="350"
                                            src="https://www.youtube.com/embed/dN07RI_blq0" allowfullscreen></iframe>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="portfolio_list wow fadeInUp" data-wow-duration="1s">
                                    <div class="embed-responsive embed-responsive-16by9">
                                        <iframe class="embed-responsive-item" width="420" height="350"
                                            src="https://www.youtube.com/embed/anFjR7SKNow" allowfullscreen></iframe>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="suma_tm_section " id="suma-portfolio">
    <div class="suma_tm_portfolio">
        <div class="container">
            <div class="dizme_tm_main_title mb-5" data-align="center">
                <span>Jujubi TV</span>
               
            </div>
            <div class="portfolio-slider6 ">
                <div class="portfolio-slider6">
                    <div class="swiper port_video_slider1">
                        <div class="swiper-wrapper">

                            <div class="swiper-slide">
                                <div class="portfolio_list wow fadeInUp" data-wow-duration="1s">
                                    <div class="embed-responsive embed-responsive-16by9">
                                        <iframe class="embed-responsive-item" width="420" height="350"
                                            src="https://www.youtube.com/embed/iP2kOjcYevs" allowfullscreen></iframe>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="portfolio_list wow fadeInUp" data-wow-duration="1s">
                                    <div class="embed-responsive embed-responsive-16by9">
                                        <iframe class="embed-responsive-item" width="420" height="350"
                                            src="https://www.youtube.com/embed/rzRvjDlA7Pk" allowfullscreen></iframe>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="portfolio_list wow fadeInUp" data-wow-duration="1s">
                                    <div class="embed-responsive embed-responsive-16by9">
                                        <iframe class="embed-responsive-item" width="420" height="350"
                                            src="https://www.youtube.com/embed/tfyXvtkr3PI" allowfullscreen></iframe>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="suma_tm_section mt-3" id="suma-portfolio">
    <div class="suma_tm_portfolio">
        <div class="container">
            <div class="dizme_tm_main_title mb-5" data-align="center">
                <span>Suma Kanakala</span>
               
            </div>
            <div class="portfolio-slider7 ">
                <div class="portfolio-slider7">
                    <div class="swiper port_video_slider1">
                        <div class="swiper-wrapper">

                            <div class="swiper-slide">
                                <div class="portfolio_list wow fadeInUp" data-wow-duration="1s">
                                    <div class="embed-responsive embed-responsive-16by9">
                                        <iframe class="embed-responsive-item" width="420" height="350"
                                            src="https://www.youtube.com/embed/xwjYwrPDHeg" allowfullscreen></iframe>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="portfolio_list wow fadeInUp" data-wow-duration="1s">
                                    <div class="embed-responsive embed-responsive-16by9">
                                        <iframe class="embed-responsive-item" width="420" height="350"
                                            src="https://www.youtube.com/embed/d-PSRm-qnf4" allowfullscreen></iframe>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="portfolio_list wow fadeInUp" data-wow-duration="1s">
                                    <div class="embed-responsive embed-responsive-16by9">
                                        <iframe class="embed-responsive-item" width="420" height="350"
                                            src="https://www.youtube.com/embed/6OzrZ6xNkH4" allowfullscreen></iframe>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



{% endblock %}
