{% extends 'uifiles/base.html' %}
{% load static %}
{% block content %} 
<!-- PORTFOLIO -->
<div class="suma_tm_section mt-5" id="suma-portfolio">
    <div class="suma_tm_portfolio">
        <div class="container">
            <div class="dizme_tm_main_title" data-align="center">
                <span>TV SHOWS</span>
                <h3>F3 SHOW</h3>
                <p>Most common events for organized events  that get  huge response  on telugu film industry</p>
            </div>
            <div class="portfolio-slider1">
                <div class="portfolio-slider1">
                <div class="swiper port_video_slider">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="portfolio_list wow fadeInUp" data-wow-duration="1s">
                            <ul class="gallery_zoom grid">
                                <li class="youtube grid-item">
                                    <div class="inner-port-img">
                                        <div class="entry dizme_tm_portfolio_animation_wrap" data-title="Mockup Shape" data-category="Youtube">
                                            <a class="popup-youtube" href="https://www.youtube.com/watch?v=oS9pk56ZHLg">
                                                <img clas="swiper-port-img" src="{% static 'img/suma_main/image2.jpg' %}" alt="" />
                                                <div class="main" data-img-url="{% static 'img/suma_main/image2.jpg' %}"></div>
                                            </a>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="portfolio_list wow fadeInUp" data-wow-duration="1s">
                            <ul class="gallery_zoom grid">
                                <li class="youtube grid-item">
                                    <div class="inner-port-img">
                                        <div class="entry dizme_tm_portfolio_animation_wrap" data-title="Mockup Shape" data-category="Youtube">
                                            <a class="popup-youtube" href="https://www.youtube.com/watch?v=oS9pk56ZHLg">
                                                <img clas="swiper-port-img" src="{% static 'img/suma_main/image8.jpg' %}" alt="" />
                                                <div class="main" data-img-url="{% static 'img/suma_main/image8.jpg' %}"></div>
                                            </a>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="portfolio_list wow fadeInUp" data-wow-duration="1s">
                            <ul class="gallery_zoom grid">
                                <li class="youtube grid-item">
                                    <div class="inner-port-img">
                                        <div class="entry dizme_tm_portfolio_animation_wrap" data-title="Mockup Shape" data-category="Youtube">
                                            <a class="popup-youtube" href="https://www.youtube.com/watch?v=oS9pk56ZHLg">
                                                <img clas="swiper-port-img" src="{% static 'img/suma_main/image4.jpg' %}" alt="" />
                                                <div class="main" data-img-url="{% static 'img/suma_main/image4.jpg' %}"></div>
                                            </a>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="portfolio_list wow fadeInUp" data-wow-duration="1s">
                            <ul class="gallery_zoom grid">
                                <li class="youtube grid-item">
                                    <div class="inner-port-img">
                                        <div class="entry dizme_tm_portfolio_animation_wrap" data-title="Mockup Shape" data-category="Youtube">
                                            <a class="popup-youtube" href="https://www.youtube.com/watch?v=oS9pk56ZHLg">
                                                <img clas="swiper-port-img" src="{% static 'img/suma_main/image7.jpg' %}" alt="" />
                                                <div class="main" data-img-url="{% static 'img/suma_main/image7.jpg' %}"></div>
                                            </a>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="portfolio_list wow fadeInUp" data-wow-duration="1s">
                            <ul class="gallery_zoom grid">
                                <li class="youtube grid-item">
                                    <div class="inner-port-img">
                                        <div class="entry dizme_tm_portfolio_animation_wrap" data-title="Mockup Shape" data-category="Youtube">
                                            <a class="popup-youtube" href="https://www.youtube.com/watch?v=oS9pk56ZHLg">
                                                <img clas="swiper-port-img" src="{% static 'img/suma_main/image6.jpg' %}" alt="" />
                                                <div class="main" data-img-url="{% static 'img/suma_main/image6.jpg' %}"></div>
                                            </a>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="portfolio_list wow fadeInUp" data-wow-duration="1s">
                            <ul class="gallery_zoom grid">
                                <li class="youtube grid-item">
                                    <div class="inner-port-img">
                                        <div class="entry dizme_tm_portfolio_animation_wrap" data-title="Mockup Shape" data-category="Youtube">
                                            <a class="popup-youtube" href="https://www.youtube.com/watch?v=oS9pk56ZHLg">
                                                <img clas="swiper-port-img" src="{% static 'img/suma_main/image8.jpg' %}" alt="" />
                                                <div class="main" data-img-url="{% static 'img/suma_main/image8.jpg' %}"></div>
                                            </a>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                {% comment %} <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div> {% endcomment %}
                {% comment %} <div class="swiper-pagination"></div> {% endcomment %}
                <div class="brush_1 wow fadeInLeft" data-wow-duration="1s"><img src="{% static 'img/brushes/about/1.png' %}" alt="noimage " /></div>
                <div class="brush_2 wow fadeInRight" data-wow-duration="1s"><img src="{% static 'img/brushes/about/2.png' %}" alt="no image" /></div>
          </div>
      

            </div>
                <div class="portfolio-slider2">
                    <div class="dizme_tm_main_title" data-align="center">
                        <span>Bhale Chancele</span>
                        <h3>The game show</h3>
                    </div>
                    <div class="swiper port_video_slider mt-3">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="portfolio_list wow fadeInUp" data-wow-duration="1s">
                                <ul class="gallery_zoom grid">
                                    <li class="youtube grid-item">
                                        <div class="inner-port-img">
                                            <div class="entry dizme_tm_portfolio_animation_wrap" data-title="Mockup Shape" data-category="Youtube">
                                                <a class="popup-youtube" href="https://www.youtube.com/watch?v=oS9pk56ZHLg">
                                                    <img clas="swiper-port-img" src="{% static 'img/suma_main/image2.jpg' %}" alt="" />
                                                    <div class="main" data-img-url="{% static 'img/suma_main/image2.jpg' %}"></div>
                                                </a>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="portfolio_list wow fadeInUp" data-wow-duration="1s">
                                <ul class="gallery_zoom grid">
                                    <li class="youtube grid-item">
                                        <div class="inner-port-img">
                                            <div class="entry dizme_tm_portfolio_animation_wrap" data-title="Mockup Shape" data-category="Youtube">
                                                <a class="popup-youtube" href="https://www.youtube.com/watch?v=oS9pk56ZHLg">
                                                    <img clas="swiper-port-img" src="{% static 'img/suma_main/image8.jpg' %}" alt="" />
                                                    <div class="main" data-img-url="{% static 'img/suma_main/image8.jpg' %}"></div>
                                                </a>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="portfolio_list wow fadeInUp" data-wow-duration="1s">
                                <ul class="gallery_zoom grid">
                                    <li class="youtube grid-item">
                                        <div class="inner-port-img">
                                            <div class="entry dizme_tm_portfolio_animation_wrap" data-title="Mockup Shape" data-category="Youtube">
                                                <a class="popup-youtube" href="https://www.youtube.com/watch?v=oS9pk56ZHLg">
                                                    <img clas="swiper-port-img" src="{% static 'img/suma_main/image4.jpg' %}" alt="" />
                                                    <div class="main" data-img-url="{% static 'img/suma_main/image4.jpg' %}"></div>
                                                </a>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="portfolio_list wow fadeInUp" data-wow-duration="1s">
                                <ul class="gallery_zoom grid">
                                    <li class="youtube grid-item">
                                        <div class="inner-port-img">
                                            <div class="entry dizme_tm_portfolio_animation_wrap" data-title="Mockup Shape" data-category="Youtube">
                                                <a class="popup-youtube" href="https://www.youtube.com/watch?v=oS9pk56ZHLg">
                                                    <img clas="swiper-port-img" src="{% static 'img/suma_main/image7.jpg' %}" alt="" />
                                                    <div class="main" data-img-url="{% static 'img/suma_main/image7.jpg' %}"></div>
                                                </a>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="portfolio_list wow fadeInUp" data-wow-duration="1s">
                                <ul class="gallery_zoom grid">
                                    <li class="youtube grid-item">
                                        <div class="inner-port-img">
                                            <div class="entry dizme_tm_portfolio_animation_wrap" data-title="Mockup Shape" data-category="Youtube">
                                                <a class="popup-youtube" href="https://www.youtube.com/watch?v=oS9pk56ZHLg">
                                                    <img clas="swiper-port-img" src="{% static 'img/suma_main/image6.jpg' %}" alt="" />
                                                    <div class="main" data-img-url="{% static 'img/suma_main/image6.jpg' %}"></div>
                                                </a>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="portfolio_list wow fadeInUp" data-wow-duration="1s">
                                <ul class="gallery_zoom grid">
                                    <li class="youtube grid-item">
                                        <div class="inner-port-img">
                                            <div class="entry dizme_tm_portfolio_animation_wrap" data-title="Mockup Shape" data-category="Youtube">
                                                <a class="popup-youtube" href="https://www.youtube.com/watch?v=oS9pk56ZHLg">
                                                    <img clas="swiper-port-img" src="{% static 'img/suma_main/image8.jpg' %}" alt="" />
                                                    <div class="main" data-img-url="{% static 'img/suma_main/image8.jpg' %}"></div>
                                                </a>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    {% comment %} <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div> {% endcomment %}
                    <div class="swiper-pagination"></div>
              </div>
          
                
            </div>
            
                <div class="portfolio-slider3">
                    <div class="dizme_tm_main_title" data-align="center">
                        <span>House of Hungama</span>
                        <h3>The comedy drama features</h3>
                    </div>
                    <div class="swiper port_video_slider mt-3">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="portfolio_list wow fadeInUp" data-wow-duration="1s">
                                <ul class="gallery_zoom grid">
                                    <li class="youtube grid-item">
                                        <div class="inner-port-img">
                                            <div class="entry dizme_tm_portfolio_animation_wrap" data-title="Mockup Shape" data-category="Youtube">
                                                <a class="popup-youtube" href="https://www.youtube.com/watch?v=oS9pk56ZHLg">
                                                    <img clas="swiper-port-img" src="{% static 'img/suma_main/image2.jpg' %}" alt="" />
                                                    <div class="main" data-img-url="{% static 'img/suma_main/image2.jpg' %}"></div>
                                                </a>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="portfolio_list wow fadeInUp" data-wow-duration="1s">
                                <ul class="gallery_zoom grid">
                                    <li class="youtube grid-item">
                                        <div class="inner-port-img">
                                            <div class="entry dizme_tm_portfolio_animation_wrap" data-title="Mockup Shape" data-category="Youtube">
                                                <a class="popup-youtube" href="https://www.youtube.com/watch?v=oS9pk56ZHLg">
                                                    <img clas="swiper-port-img" src="{% static 'img/suma_main/image8.jpg' %}" alt="" />
                                                    <div class="main" data-img-url="{% static 'img/suma_main/image8.jpg' %}"></div>
                                                </a>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="portfolio_list wow fadeInUp" data-wow-duration="1s">
                                <ul class="gallery_zoom grid">
                                    <li class="youtube grid-item">
                                        <div class="inner-port-img">
                                            <div class="entry dizme_tm_portfolio_animation_wrap" data-title="Mockup Shape" data-category="Youtube">
                                                <a class="popup-youtube" href="https://www.youtube.com/watch?v=oS9pk56ZHLg">
                                                    <img clas="swiper-port-img" src="{% static 'img/suma_main/image4.jpg' %}" alt="" />
                                                    <div class="main" data-img-url="{% static 'img/suma_main/image4.jpg' %}"></div>
                                                </a>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="portfolio_list wow fadeInUp" data-wow-duration="1s">
                                <ul class="gallery_zoom grid">
                                    <li class="youtube grid-item">
                                        <div class="inner-port-img">
                                            <div class="entry dizme_tm_portfolio_animation_wrap" data-title="Mockup Shape" data-category="Youtube">
                                                <a class="popup-youtube" href="https://www.youtube.com/watch?v=oS9pk56ZHLg">
                                                    <img clas="swiper-port-img" src="{% static 'img/suma_main/image7.jpg' %}" alt="" />
                                                    <div class="main" data-img-url="{% static 'img/suma_main/image7.jpg' %}"></div>
                                                </a>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="portfolio_list wow fadeInUp" data-wow-duration="1s">
                                <ul class="gallery_zoom grid">
                                    <li class="youtube grid-item">
                                        <div class="inner-port-img">
                                            <div class="entry dizme_tm_portfolio_animation_wrap" data-title="Mockup Shape" data-category="Youtube">
                                                <a class="popup-youtube" href="https://www.youtube.com/watch?v=oS9pk56ZHLg">
                                                    <img clas="swiper-port-img" src="{% static 'img/suma_main/image6.jpg' %}" alt="" />
                                                    <div class="main" data-img-url="{% static 'img/suma_main/image6.jpg' %}"></div>
                                                </a>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="portfolio_list wow fadeInUp" data-wow-duration="1s">
                                <ul class="gallery_zoom grid">
                                    <li class="youtube grid-item">
                                        <div class="inner-port-img">
                                            <div class="entry dizme_tm_portfolio_animation_wrap" data-title="Mockup Shape" data-category="Youtube">
                                                <a class="popup-youtube" href="https://www.youtube.com/watch?v=oS9pk56ZHLg">
                                                    <img clas="swiper-port-img" src="{% static 'img/suma_main/image8.jpg' %}" alt="" />
                                                    <div class="main" data-img-url="{% static 'img/suma_main/image8.jpg' %}"></div>
                                                </a>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    {% comment %} <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div> {% endcomment %}
                    <div class="swiper-pagination"></div>
              </div>
          
                
            </div>
        </div>
    </div>
</div>
           
<!-- /PORTFOLIO -->
{% endblock %}