{% extends 'uifiles/base.html' %}
{% load static %}
{% block content %}

<div class="page-baner-section">
    <h1 class="text-center">Portfolio</h1>
</div>

<div class="container-xxl py-5 ">
    <div class="container">
        <div class="text-center mx-auto"  style="max-width: 600px;">
           
            <h1 class="display-6 mb-5 text-white" style="font-family: ubuntu;color:#f56c0a;"> lukku kikku </h1>
        </div>
        <div class="owl-carousel" >
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" width="420" height="350"  src=" https://www.youtube.com/embed/FbuTiCx7WKE" allowfullscreen></iframe>
              </div>
              <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" width="420" height="350"  src=" https://www.youtube.com/embed/TEDvxovb_oM" allowfullscreen></iframe>
              </div>
              <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" width="420" height="350"  src="https://www.youtube.com/embed/zyi5dRGoVKk" allowfullscreen></iframe>
              </div>
              
        </div>
    </div>
</div>

<!-- <div class="container-xxl py-5 ">
    <div class="container">
        <div class="text-center mx-auto "  style="max-width: 600px;">
           
            <h1 class="display-6 mb-5 text-white" style="font-family: ubuntu;color:#f56c0a;"> Genes </h1>
        </div>
        <div class="owl-carousel  project-carousel ">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" width="420" height="350"  src="https://www.youtube.com/embed/ar6LuI8L28Y" allowfullscreen></iframe> 
                
              </div>
              <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" width="420" height="350"  src="http://youtube.com/embed/ar6LuI8L28Y" allowfullscreen></iframe>
              </div>
              <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" width="420" height="350"  src="http://youtube.com/embed/oxjw_GTk9e0" allowfullscreen></iframe>
              </div>
              
        </div>
    </div>
</div> -->

<!-- <div class="container-xxl py-5 ">
    <div class="container">
        <div class="text-center mx-auto "  style="max-width: 600px;">
           
            <h1 class="display-6 mb-5 text-white" style="font-family: ubuntu;color:#f56c0a;">kevuu kekka</h1>
        </div>
        <div class="owl-carousel  project-carousel wow fadeInUp" data-wow-delay="0.3s">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" width="420" height="350"  src="https://www.youtube.com/embed/21hJ5Kf4WHY" allowfullscreen></iframe>
              </div>
              <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" width="420" height="350"  src="https://www.youtube.com/embed/Wkl_0LAYAu4" allowfullscreen></iframe>
              </div>
              <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" width="420" height="350"  src="https://www.youtube.com/embed/Jt4_0dGTl1Q" allowfullscreen></iframe>
              </div>
              
        </div>
    </div>
</div>

<div class="container-xxl py-5 ">
    <div class="container">
        <div class="text-center mx-auto "  style="max-width: 600px;">
           
            <h1 class="display-6 mb-5 text-white" style="font-family: ubuntu;color:#f56c0a;">F3</h1>
        </div>
        <div class="owl-carousel  project-carousel wow fadeInUp" data-wow-delay="0.3s">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" width="420" height="350"  src="https://www.youtube.com/embed/OkM_aY8gOc4" allowfullscreen></iframe>
              </div>
              <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" width="420" height="350"  src="https://www.youtube.com/embed/EzHl9MD_mkQ" allowfullscreen></iframe>
              </div>
              <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" width="420" height="350"  src="https://www.youtube.com/embed/_sJPwIJUKS0" allowfullscreen></iframe>
              </div>
              
        </div>
    </div>
</div>

<div class="container-xxl py-5 ">
    <div class="container">
        <div class="text-center mx-auto "  style="max-width: 600px;">
           
            <h1 class="display-6 mb-5 text-white" style="font-family: ubuntu;color:#f56c0a;">Bhale Chance Le</h1>
        </div>
        <div class="owl-carousel  project-carousel wow fadeInUp" data-wow-delay="0.3s">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" width="420" height="350"  src="https://www.youtube.com/embed/zm2haw2o4qc" allowfullscreen></iframe>
              </div>
              <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" width="420" height="350"  src="https://www.youtube.com/embed/TeShuyMeqP0" allowfullscreen></iframe>
              </div>
              <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" width="420" height="350"  src="https://www.youtube.com/embed/mLTP_CGuqbY" allowfullscreen></iframe>
              </div>
              
        </div>
    </div>
</div>

<div class="container-xxl py-5 ">
    <div class="container">
        <div class="text-center mx-auto "  style="max-width: 600px;">
           
            <h1 class="display-6 mb-5 text-white" style="font-family: ubuntu;color:#f56c0a;">House of hungama</h1>
        </div>
        <div class="owl-carousel  project-carousel wow fadeInUp" data-wow-delay="0.3s">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" width="420" height="350"  src="https://www.youtube.com/embed/2c1xEAORS-k" allowfullscreen></iframe>
              </div>
              <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" width="420" height="350"  src="https://www.youtube.com/embed/dN07RI_blq0" allowfullscreen></iframe>
              </div>
              <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" width="420" height="350"  src="https://www.youtube.com/embed/XhQ6qAD_bhI" allowfullscreen></iframe>
              </div>
              
        </div>
    </div>
</div>
<div class="container-xxl py-5 ">
    <div class="container">
        <div class="text-center mx-auto "  style="max-width: 600px;">
           
            <h1 class="display-6 mb-5 text-white" style="font-family: ubuntu;color:#f56c0a;">Jujubi Tv</h1>
        </div>
        <div class="owl-carousel  project-carousel wow fadeInUp" data-wow-delay="0.3s">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" width="420" height="350"  src="https://www.youtube.com/embed/mVAFlXyqsqo" allowfullscreen></iframe>
              </div>
              <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" width="420" height="350"  src="https://www.youtube.com/embed/TG5UZuLCZKU" allowfullscreen></iframe>
              </div>
              <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" width="420" height="350"  src="https://www.youtube.com/embed/b9ibQyL_hE4" allowfullscreen></iframe>
              </div>
              
        </div>
    </div>
</div>
<div class="container-xxl py-5 ">
    <div class="container">
        <div class="text-center mx-auto "  style="max-width: 600px;">
           
            <h1 class="display-6 mb-5 text-white" style="font-family: ubuntu;color:#f56c0a;">Suma Kanakala</h1>
        </div>
        <div class="owl-carousel  project-carousel wow fadeInUp" data-wow-delay="0.3s">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" width="420" height="350"  src="https://www.youtube.com/embed/xwjYwrPDHeg" allowfullscreen></iframe>
              </div>
              <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" width="420" height="350"  src="https://www.youtube.com/embed/d-PSRm-qnf4" allowfullscreen></iframe>
              </div>
              <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" width="420" height="350"  src="https://www.youtube.com/embed/6OzrZ6xNkH4" allowfullscreen></iframe>
              </div>
              
        </div>
    </div>
</div> -->
<!-- PORTFOLIO -->

<div class="suma_tm_section mt-3" id="suma-portfolio">
    <div class="suma_tm_portfolio">
        <div class="container">
            <div class="dizme_tm_main_title mb-5" data-align="center">
                <span> Lakku Kikku</span>
               
            </div>
            <div class="portfolio-slider1 ">
                <div class="portfolio-slider1">
                    <div class="swiper port_video_slider1">
                        <div class="swiper-wrapper">

                            <div class="swiper-slide">
                                <div class="portfolio_list wow fadeInUp" data-wow-duration="1s">
                                    <div class="video-media">
                                        <div class="embed-responsive embed-responsive-16by9">
                                            <iframe class="embed-responsive-item" width="420" height="350"
                                                src=" https://www.youtube.com/embed/FbuTiCx7WKE"
                                                allowfullscreen></iframe>
                                        </div>

                                    </div>

                                </div>

                            </div>
                            <div class="swiper-slide">
                                <div class="portfolio_list wow fadeInUp" data-wow-duration="1s">
                                    <div class="embed-responsive embed-responsive-16by9">
                                        <iframe class="embed-responsive-item" width="420" height="350"
                                            src="https://www.youtube.com/embed/TEDvxovb_oM" allowfullscreen></iframe>
                                    </div>

                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="portfolio_list wow fadeInUp" data-wow-duration="1s">
                                    <div class="embed-responsive embed-responsive-16by9">
                                        <iframe class="embed-responsive-item" width="420" height="350"
                                            src="https://www.youtube.com/embed/zyi5dRGoVKk" allowfullscreen></iframe>
                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>
 <!-- slider--main -->
<div class="suma_tm_section " id="suma-portfolio">
    <div class="suma_tm_portfolio">
        <div class="container">
            <div class="dizme_tm_main_title mb-5" data-align="center">
                <span>kevuu keka</span>
                
            </div>
            <div class="portfolio-slider2 ">
                <div class="portfolio-slider2">
                    <div class="swiper port_video_slider1">
                        <div class="swiper-wrapper">

                            <div class="swiper-slide">
                                <div class="portfolio_list wow fadeInUp" data-wow-duration="1s">
                                    <div class="embed-responsive embed-responsive-16by9">
                                        <iframe class="embed-responsive-item" width="420" height="350"
                                            src="https://www.youtube.com/embed/zyi5dRGoVKk" allowfullscreen></iframe>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="portfolio_list wow fadeInUp" data-wow-duration="1s">
                                    <div class="embed-responsive embed-responsive-16by9">
                                        <iframe class="embed-responsive-item" width="420" height="350"
                                            src="https://www.youtube.com/embed/zyi5dRGoVKk" allowfullscreen></iframe>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="portfolio_list wow fadeInUp" data-wow-duration="1s">
                                    <div class="embed-responsive embed-responsive-16by9">
                                        <iframe class="embed-responsive-item" width="420" height="350"
                                            src="https://www.youtube.com/embed/zyi5dRGoVKk" allowfullscreen></iframe>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!---<div class="suma_tm_section mt-3" id="suma-portfolio">
    <div class="suma_tm_portfolio">
        <div class="container">
            <div class="dizme_tm_main_title mb-5" data-align="center">
                <span>kevu kekka</span>
                <p>A game show featuring television personalities exploring their life stories</p>
            </div>
            <div class="portfolio-slider3 mb-5">
                <div class="portfolio-slider3">
                    <div class="swiper port_video_slider1">
                        <div class="swiper-wrapper">

                            <div class="swiper-slide">
                                <div class="portfolio_list wow fadeInUp" data-wow-duration="1s">
                                    <ul class="gallery_zoom grid">
                                        <li class="youtube grid-item">
                                            <div class="inner-port-img">
                                                <div class="entry dizme_tm_portfolio_animation_wrap" data-title="Mockup Shape"
                                                    data-category="Youtube">
                                                    <a class="popup-youtube" href="https://www.youtube.com/watch?v=21hJ5Kf4WHY">
                                                        <img clas="swiper-port-img" src="{% static 'img/suma_main/image2.jpg' %}"
                                                            alt="" />
                                                        <div class="main" data-img-url="{% static 'img/suma_main/image2.jpg' %}">
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="portfolio_list wow fadeInUp" data-wow-duration="1s">
                                    <ul class="gallery_zoom grid">
                                        <li class="youtube grid-item">
                                            <div class="inner-port-img">
                                                <div class="entry dizme_tm_portfolio_animation_wrap" data-title="Mockup Shape"
                                                    data-category="Youtube">
                                                    <a class="popup-youtube" href="https://www.youtube.com/watch?v=Wkl_0LAYAu4">
                                                        <img clas="swiper-port-img" src="{% static 'img/suma_main/image8.jpg' %}"
                                                            alt="" />
                                                        <div class="main" data-img-url="{% static 'img/suma_main/image8.jpg' %}">
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="portfolio_list wow fadeInUp" data-wow-duration="1s">
                                    <ul class="gallery_zoom grid">
                                        <li class="youtube grid-item">
                                            <div class="inner-port-img">
                                                <div class="entry dizme_tm_portfolio_animation_wrap" data-title="Mockup Shape"
                                                    data-category="Youtube">
                                                    <a class="popup-youtube" href="https://www.youtube.com/watch?v=Jt4_0dGTl1Q">
                                                        <img clas="swiper-port-img" src="{% static 'img/suma_main/image4.jpg' %}"
                                                            alt="" />
                                                        <div class="main" data-img-url="{% static 'img/suma_main/image4.jpg' %}">
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="suma_tm_section mt-3" id="suma-portfolio">
    <div class="suma_tm_portfolio">
        <div class="container">
            <div class="dizme_tm_main_title mb-5" data-align="center">
                <span> F3</span>
                <p>A game show featuring television personalities exploring their life stories</p>
            </div>
            <div class="portfolio-slider4 mb-5">
                <div class="portfolio-slider4">
                    <div class="swiper port_video_slider1">
                        <div class="swiper-wrapper">

                            <div class="swiper-slide">
                                <div class="portfolio_list wow fadeInUp" data-wow-duration="1s">
                                    <ul class="gallery_zoom grid">
                                        <li class="youtube grid-item">
                                            <div class="inner-port-img">
                                                <div class="entry dizme_tm_portfolio_animation_wrap" data-title="Mockup Shape"
                                                    data-category="Youtube">
                                                    <a class="popup-youtube" href="https://www.youtube.com/watch?v=OkM_aY8gOc4">
                                                        <img clas="swiper-port-img" src="{% static 'img/suma_main/image2.jpg' %}"
                                                            alt="" />
                                                        <div class="main" data-img-url="{% static 'img/suma_main/image2.jpg' %}">
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="portfolio_list wow fadeInUp" data-wow-duration="1s">
                                    <ul class="gallery_zoom grid">
                                        <li class="youtube grid-item">
                                            <div class="inner-port-img">
                                                <div class="entry dizme_tm_portfolio_animation_wrap" data-title="Mockup Shape"
                                                    data-category="Youtube">
                                                    <a class="popup-youtube" href="https://www.youtube.com/watch?v=EzHl9MD_mkQ">
                                                        <img clas="swiper-port-img" src="{% static 'img/suma_main/image8.jpg' %}"
                                                            alt="" />
                                                        <div class="main" data-img-url="{% static 'img/suma_main/image8.jpg' %}">
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="portfolio_list wow fadeInUp" data-wow-duration="1s">
                                    <ul class="gallery_zoom grid">
                                        <li class="youtube grid-item">
                                            <div class="inner-port-img">
                                                <div class="entry dizme_tm_portfolio_animation_wrap" data-title="Mockup Shape"
                                                    data-category="Youtube">
                                                    <a class="popup-youtube" href="https://www.youtube.com/watch?v=_sJPwIJUKS0">
                                                        <img clas="swiper-port-img" src="{% static 'img/suma_main/image4.jpg' %}"
                                                            alt="" />
                                                        <div class="main" data-img-url="{% static 'img/suma_main/image4.jpg' %}">
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="suma_tm_section mt-3" id="suma-portfolio">
    <div class="suma_tm_portfolio">
        <div class="container">
            <div class="dizme_tm_main_title mb-5" data-align="center">
                <span>Bhale Chance Le</span>
              
            </div>
            <div class="portfolio-slider5 mb-5">
                <div class="portfolio-slider5">
                    <div class="swiper port_video_slider1">
                        <div class="swiper-wrapper">

                            <div class="swiper-slide">
                                <div class="portfolio_list wow fadeInUp" data-wow-duration="1s">
                                    <ul class="gallery_zoom grid">
                                        <li class="youtube grid-item">
                                            <div class="inner-port-img">
                                                <div class="entry dizme_tm_portfolio_animation_wrap" data-title="Mockup Shape"
                                                    data-category="Youtube">
                                                    <a class="popup-youtube" href="https://www.youtube.com/watch?v=zm2haw2o4qc">
                                                        <img clas="swiper-port-img" src="{% static 'img/suma_main/image2.jpg' %}"
                                                            alt="" />
                                                        <div class="main" data-img-url="{% static 'img/suma_main/image2.jpg' %}">
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="portfolio_list wow fadeInUp" data-wow-duration="1s">
                                    <ul class="gallery_zoom grid">
                                        <li class="youtube grid-item">
                                            <div class="inner-port-img">
                                                <div class="entry dizme_tm_portfolio_animation_wrap" data-title="Mockup Shape"
                                                    data-category="Youtube">
                                                    <a class="popup-youtube" href="https://www.youtube.com/watch?v=TeShuyMeqP0">
                                                        <img clas="swiper-port-img" src="{% static 'img/suma_main/image8.jpg' %}"
                                                            alt="" />
                                                        <div class="main" data-img-url="{% static 'img/suma_main/image8.jpg' %}">
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="portfolio_list wow fadeInUp" data-wow-duration="1s">
                                    <ul class="gallery_zoom grid">
                                        <li class="youtube grid-item">
                                            <div class="inner-port-img">
                                                <div class="entry dizme_tm_portfolio_animation_wrap" data-title="Mockup Shape"
                                                    data-category="Youtube">
                                                    <a class="popup-youtube" href="https://www.youtube.com/watch?v=oS9pk56ZHLg">
                                                        <img clas="swiper-port-img" src="{% static 'img/suma_main/image4.jpg' %}"
                                                            alt="" />
                                                        <div class="main" data-img-url="{% static 'img/suma_main/image4.jpg' %}">
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="suma_tm_section mt-3" id="suma-portfolio">
    <div class="suma_tm_portfolio">
        <div class="container">
            <div class="dizme_tm_main_title mb-5" data-align="center">
                <span> Lakku Kikku</span>
                <p>A game show featuring television personalities exploring their life stories</p>
            </div>
            <div class="portfolio-slider6 mb-5">
                <div class="portfolio-slider6">
                    <div class="swiper port_video_slider1">
                        <div class="swiper-wrapper">

                            <div class="swiper-slide">
                                <div class="portfolio_list wow fadeInUp" data-wow-duration="1s">
                                    <ul class="gallery_zoom grid">
                                        <li class="youtube grid-item">
                                            <div class="inner-port-img">
                                                <div class="entry dizme_tm_portfolio_animation_wrap" data-title="Mockup Shape"
                                                    data-category="Youtube">
                                                    <a class="popup-youtube" href="https://www.youtube.com/watch?v=pivHH0xhcCs">
                                                        <img clas="swiper-port-img" src="{% static 'img/suma_main/image2.jpg' %}"
                                                            alt="" />
                                                        <div class="main" data-img-url="{% static 'img/suma_main/image2.jpg' %}">
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="portfolio_list wow fadeInUp" data-wow-duration="1s">
                                    <ul class="gallery_zoom grid">
                                        <li class="youtube grid-item">
                                            <div class="inner-port-img">
                                                <div class="entry dizme_tm_portfolio_animation_wrap" data-title="Mockup Shape"
                                                    data-category="Youtube">
                                                    <a class="popup-youtube" href="https://www.youtube.com/watch?v=pivHH0xhcCs">
                                                        <img clas="swiper-port-img" src="{% static 'img/suma_main/image8.jpg' %}"
                                                            alt="" />
                                                        <div class="main" data-img-url="{% static 'img/suma_main/image8.jpg' %}">
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="portfolio_list wow fadeInUp" data-wow-duration="1s">
                                    <ul class="gallery_zoom grid">
                                        <li class="youtube grid-item">
                                            <div class="inner-port-img">
                                                <div class="entry dizme_tm_portfolio_animation_wrap" data-title="Mockup Shape"
                                                    data-category="Youtube">
                                                    <a class="popup-youtube" href="https://www.youtube.com/watch?v=oS9pk56ZHLg">
                                                        <img clas="swiper-port-img" src="{% static 'img/suma_main/image4.jpg' %}"
                                                            alt="" />
                                                        <div class="main" data-img-url="{% static 'img/suma_main/image4.jpg' %}">
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="suma_tm_section mt-3" id="suma-portfolio">
    <div class="suma_tm_portfolio">
        <div class="container">
            <div class="dizme_tm_main_title mb-5" data-align="center">
                <span> Lakku Kikku</span>
                <p>A game show featuring television personalities exploring their life stories</p>
            </div>
            <div class="portfolio-slider7 mb-5">
                <div class="portfolio-slider7">
                    <div class="swiper port_video_slider1">
                        <div class="swiper-wrapper">

                            <div class="swiper-slide">
                                <div class="portfolio_list wow fadeInUp" data-wow-duration="1s">
                                    <ul class="gallery_zoom grid">
                                        <li class="youtube grid-item">
                                            <div class="inner-port-img">
                                                <div class="entry dizme_tm_portfolio_animation_wrap" data-title="Mockup Shape"
                                                    data-category="Youtube">
                                                    <a class="popup-youtube" href="https://www.youtube.com/watch?v=pivHH0xhcCs">
                                                        <img clas="swiper-port-img" src="{% static 'img/suma_main/image2.jpg' %}"
                                                            alt="" />
                                                        <div class="main" data-img-url="{% static 'img/suma_main/image2.jpg' %}">
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="portfolio_list wow fadeInUp" data-wow-duration="1s">
                                    <ul class="gallery_zoom grid">
                                        <li class="youtube grid-item">
                                            <div class="inner-port-img">
                                                <div class="entry dizme_tm_portfolio_animation_wrap" data-title="Mockup Shape"
                                                    data-category="Youtube">
                                                    <a class="popup-youtube" href="https://www.youtube.com/watch?v=pivHH0xhcCs">
                                                        <img clas="swiper-port-img" src="{% static 'img/suma_main/image8.jpg' %}"
                                                            alt="" />
                                                        <div class="main" data-img-url="{% static 'img/suma_main/image8.jpg' %}">
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="portfolio_list wow fadeInUp" data-wow-duration="1s">
                                    <ul class="gallery_zoom grid">
                                        <li class="youtube grid-item">
                                            <div class="inner-port-img">
                                                <div class="entry dizme_tm_portfolio_animation_wrap" data-title="Mockup Shape"
                                                    data-category="Youtube">
                                                    <a class="popup-youtube" href="https://www.youtube.com/watch?v=oS9pk56ZHLg">
                                                        <img clas="swiper-port-img" src="{% static 'img/suma_main/image4.jpg' %}"
                                                            alt="" />
                                                        <div class="main" data-img-url="{% static 'img/suma_main/image4.jpg' %}">
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>-->

<!-- last slider -->
<!-- <div class="suma_tm_section mt-3" id="suma-portfolio">
    <div class="suma_tm_portfolio">
        <div class="container">
            <div class="dizme_tm_main_title mb-5" data-align="center">
                <span> Lakku Kikku</span>
                <p>A game show featuring television personalities exploring their life stories</p>
            </div>
            <div class="portfolio-slider8 mb-5">
                <div class="portfolio-slider8">
                    <div class="swiper port_video_slider1">
                        <div class="swiper-wrapper">

                            <div class="swiper-slide">
                                <div class="portfolio_list wow fadeInUp" data-wow-duration="1s">
                                    <div class="video-media">
                                        <img src="{% static 'img/suma_main/image2.jpg' %}" alt="Image" class="img-fluid">
                                        <a href="https://www.youtube.com/watch?v=pivHH0xhcCs" class="d-flex play-button align-items-center popup-youtube" data-fancybox>
                                          <span class="icon mr-3">
                                            <span class="icon-play" style="padding-top:-10px;"></span>
                                          </span>
                                          <div class="caption">
                                            <h3 class="m-0"> Lakku Kikku </h3>
                                          </div>
                                        </a>
                                      </div>                                    
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="portfolio_list wow fadeInUp" data-wow-duration="1s">
                                    <div class="video-media">
                                        <img src="{% static 'img/suma_main/image8.jpg' %}" alt="Image" class="img-fluid">
                                        <a href="https://www.youtube.com/watch?v=pivHH0xhcCs" class="d-flex play-button align-items-center popup-youtube" data-fancybox>
                                          <span class="icon mr-3">
                                            <span class="icon-play" style="padding-top:-10px;"></span>
                                          </span>
                                          <div class="caption">
                                            <h3 class="m-0"> Lakku Kikku </h3>
                                          </div>
                                        </a>
                                      </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="portfolio_list wow fadeInUp" data-wow-duration="1s">
                                    <div class="video-media">
                                        <iframe width="420" height="420" src="https://www.youtube.com/embed/tgbNymZ7vqY">
                                        </iframe>
                                        <a href="https://www.youtube.com/watch?v=oS9pk56ZHLg" class="d-flex play-button align-items-center popup-youtube" data-fancybox>
                                          <span class="icon mr-3">
                                            <span class="icon-play" style="padding-top:-10px;"></span>
                                          </span>
                                          <div class="caption">
                                            <h3 class="m-0"> Lakku Kikku </h3>
                                          </div>
                                        </a>
                                      </div>
                                </div>
                            </div>



                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>  -->

{% endblock %}
