{% extends 'uifiles/base.html' %}
{% load static %}
{% block content %} 
<!--top banner -->
<div class="page-baner-section">
    <h1>Shows Production</h1>
</div>
        <div class="shows-production-page">
            <div class="Tv-shows">
                <h1 class="text-center"> Shows </h1>
            <div class="Suma-shows-container ">
                <div class="cash-program col-lg-5 shadow-lg p-3 mb-5 bg-white rounded ">
                    <img src="{% static 'sponsors/sponsors-img/suma-filmy-art-show-515x342.png' %}" alt="" class="show-image" />
                    <div class="show-content">
                        <h1 class="show-text">Cash | Anudeep,Lipsika,Mohana,Uma Neha | 10th August 2019 |</h1>
                        <a href="/production/">Read More</a>
                    </div>
                </div>
                <div class="cash-program col-lg-5 shadow-lg p-3 mb-5 bg-white rounded ">
                    <img src="{% static 'sponsors/sponsors-img/suma-filmy-art-show-515x342.png' %}" alt="" class="show-image" />
                    <div class="show-content">
                        <h1 class="show-text" >Cash | Anudeep,Lipsika,Mohana,Uma Neha | 10th August 2019 |</h1>
                        <a href="/production/">Read More</a>
                    </div>
                </div>
            </div>
            <div class="Suma-shows-container">
                <div class="cash-program col-lg-5 shadow-lg p-3 mb-5 bg-white rounded">
                    <img src="{% static 'sponsors/sponsors-img/suma-filmy-art-show-515x342.png' %}" alt="" class="show-image" />
                    <div class="show-content">
                        <h1 class="show-text">Cash | Anudeep,Lipsika,Mohana,Uma Neha | 10th August 2019 |</h1>
                        <a href="/production/">Read More</a>
                    </div>
                </div>
                <div class="cash-program col-lg-5 shadow-lg p-3 mb-5 bg-white rounded">
                    <img src="{% static 'sponsors/sponsors-img/suma-filmy-art-show-515x342.png' %}" alt="" class="show-image" />
                    <div class="show-content">
                        <h1 class="show-text" >Cash | Anudeep,Lipsika,Mohana,Uma Neha | 10th August 2019 |</h1>
                        <a href="/production/">Read More</a>
                    </div>
                </div>
            </div>
          </div>
          <div class="Tv-shows">
            <h1 class="text-center">Production Enquiry</h1>
            <!-- Banner Start -->
<div class="container-fluid banner my-5 py-5 parallax ">
	<div class="container-banner py-5">
		<!-- <div class="row gy-5"> -->
			<div class="col-lg-12 wow fadeIn" data-wow-delay="0.3s">
				<div class="row g-4 align-items-center">
                    <div class="card-container">
                        <div class="card  enq-card" style="width: 33rem; height: 30rem;">
                            <div class="card-body enq-body-card">
                              <h5 class="card-title">Card title</h5>
                              <form class="row g-3">
                                <div class="col-md-6">
                                    <input type="text" class="form-control" id="inputEmail4" placeholder="First Name">
                                  </div>
                                  <div class="col-md-6">
                                   
                                    <input type="text" class="form-control" id="inputPassword4" placeholder="LastName">
                                  </div>
                                <div class="col-md-6">
                                  <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
                                </div>
                                <div class="col-md-6">
                                 
                                  <input type="number" class="form-control" id="inputPassword4" placeholder="phonenumber">
                                </div>
                
                                <div class="col-12">
            
                                  <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
                                </div>
                                <div class="col-md-6">
                                  <label for="inputCity" class="form-label">City</label>
                                  <input type="text" class="form-control" id="inputCity">
                                </div>
                                <div class="col-md-4">
                                  <label for="inputState" class="form-label">State</label>
                                  <select id="inputState" class="form-select">
                                    <option selected>Choose...</option>
                                    <option>...</option>
                                  </select>
                                </div>
                                <div class="col-md-2">
                                  <label for="inputZip" class="form-label">Zip</label>
                                  <input type="text" class="form-control" id="inputZip">
                                </div>
                                <div class="col-12">
                                  <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="gridCheck">
                                    <label class="form-check-label" for="gridCheck">
                                      Check me out
                                    </label>
                                  </div>
                                </div>
                                <div class="col-12">
                                  <button type="submit" class="btn btn-primary">Sign in</button>
                                </div>
                              </form>
                            </div>
                          </div>
                    </div>				
				</div>
				<!-- </div>  -->
			</div>
		</div>
	</div>
</div>
<!-- Banner End -->
        <!-- <div class="Suma-shows-container">
            <div class="cash-program col-lg-5 shadow-lg p-3 mb-5 bg-white rounded">
                <img src="{% static 'sponsors/sponsors-img/suma-filmy-art-show-515x342.png' %}" alt="" class="show-image" />
                <div class="show-content">
                    <h1 class="show-text">Cash | Anudeep,Lipsika,Mohana,Uma Neha | 10th August 2019 |</h1>
                    <a href="/production/">Read More</a>
                </div>
            </div>
            <div class="cash-program col-lg-5 shadow-lg p-3 mb-5 bg-white rounded">
                <img src="{% static 'sponsors/sponsors-img/suma-filmy-art-show-515x342.png' %}" alt="" class="show-image" />
                <div class="show-content">
                    <h1 class="show-text" >Cash | Anudeep,Lipsika,Mohana,Uma Neha | 10th August 2019 |</h1>
                    <a href="/production/">Read More</a>
                </div>
            </div>
        </div> -->
        <!-- <div class="Suma-shows-container">
            <div class="cash-program col-lg-5 shadow-lg p-3 mb-5 bg-white rounded">
                <img src="{% static 'sponsors/sponsors-img/suma-filmy-art-show-515x342.png' %}" alt="" class="show-image" />
                <div class="show-content">
                    <h1 class="show-text">Cash | Anudeep,Lipsika,Mohana,Uma Neha | 10th August 2019 |</h1>
                    <a href="/production/">Read More</a>
                </div>
            </div>
            <div class="cash-program col-lg-5 shadow-lg p-3 mb-5 bg-white rounded">
                <img src="{% static 'sponsors/sponsors-img/suma-filmy-art-show-515x342.png' %}" alt="" class="show-image" />
                <div class="show-content">
                    <h1 class="show-text" >Cash | Anudeep,Lipsika,Mohana,Uma Neha | 10th August 2019 |</h1>
                    <a href="/production/">Read More</a>
                </div>
            </div>
        </div> -->
      </div>
      
    </div>
            




{% endblock %}