{% extends 'uifiles/base.html' %}
{% load static %}
{% block content %}
<!--top banner -->
<div class="page-baner-section">
  <h1 class="text-center">Shows and Productions</h1>
</div>
<div class="shows-production-page">
  <div class="Tv-shows">
    <div class="dizme_tm_main_title" data-align="center">
      <span>Shows</span>
  </div>
    <div class="Suma-shows-container ">
      <div class="cash-program col-lg-5 shadow-lg p-3 mb-5 bg-white rounded ">
        <img src="{% static 'sponsors/sponsors-img/suma-filmy-art-show-515x342.png' %}" alt="" class="show-image" />
        <div class="show-content">
          <h3 class="show-text"  style="color:darkblue;font-style:'Jost',sans-serif;">Cash | Anudeep,Lipsika,Mohana,Uma Neha | 10th August 2019 |</h3>
          <a href="/production/">Read More</a>
        </div>
      </div>
      <div class="cash-program col-lg-5 shadow-lg p-3 mb-5 bg-white rounded ">
        <img src="{% static 'sponsors/sponsors-img/suma-filmy-art-show2-515x342.png' %}" alt="" class="show-image" />
        <div class="show-content">
          <h3 class="show-text"  style="color:darkblue;font-style:'Jost',sans-serif;">
            
            Cash| Rajeev Kanakala,Sameer,Brahmaji,Raja Ravindra | 12th September 2020 |</h3>
          <a href="/production/">Read More</a>
        </div>
      </div>
    </div>
    <div class="Suma-shows-container">
      <div class="cash-program col-lg-5 shadow-lg p-3 mb-5 bg-white rounded">
        <img src="{% static 'sponsors/sponsors-img/suma-filmy-art-show3-515x342.png' %}" alt="" class="show-image" />
        <div class="show-content">
          <h3 class="show-text"  style="color:darkblue;font-style:'Jost',sans-serif;">Cash | Brahmastram Team - Ranbir Kapoor, Alia Bhatt, SS.Rajamouli| 10th September 2022 | |</h3>
          <a href="/production/">Read More</a>
        </div>
      </div>
      <div class="cash-program col-lg-5 shadow-lg p-3 mb-5 bg-white rounded">
        <img src="{% static 'sponsors/sponsors-img/suma-filmy-art-show4-515x342.png' %}" alt="" class="show-image" />
        <div class="show-content">
          <h3 class="show-text" style="color:darkblue;font-style:'Jost',sans-serif;">
            
            Cash | Dulquer Salmaan, Sumanth, Tharun Bhascker, Hanu Raghavapudi | 30th July 2022 |</h3>
          <a href="/production/">Read More</a>
        </div>
      </div>
    </div>
  </div>
  <div class="Tv-shows">
    <div class="dizme_tm_main_title" data-align="center">
      <span>Production Enquiry</span>
  </div>
    <!-- Banner Start -->
    <div class="container-fluid banner  my-5 py-5 parallax ">
      <div class="container-banner py-5">
        <!-- <div class="row gy-5"> -->
        <div class="col-lg-12 wow fadeIn" data-wow-delay="0.3s">
          <div class="row g-4 align-items-center">
            <div class="card-container" style="display:flex;justify-content:center;margin-left:0px;">
              <div class="card  enq-card" style="width: 35rem; height: auto;">
                {% for message in messages %}
                    {% if message == 'success' %}
                        <div class="enq-returnmessage"><h1>hi dinesh</h1></div>
                    {% else %}
                        <div class="enq-returnmessage" data-success={{ message }}></div>
                    {% endif %}
                {% endfor  %}
                <div class="card-body enq-body-card">
                  <div class="enq-returnmessage"><h1></h1></div>
                  <h5 class="card-title " style=" color:black !important;  margin-left:155px">Production Enquiry</h5>
                  <form class="row g-3">
                    <div class="col-md-12">
                      <input type="text" class="form-control" id="inputEmail4" placeholder="Full Name" Required> 
                    </div>
                   
                    <div class="col-md-12">
                      <input type="email" class="form-control" id="inputEmail4" placeholder="Email" Required>
                    </div>
    
                    <div class="col-md-12">
                      <input type="number" class="form-control" id="inputPassword4" placeholder="phonenumber">
                    </div>
                    <div class="form-floating">
                      <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px"></textarea>
                      <label for="floatingTextarea2">Comments</label>
                    </div>
                    <div class="col-12">
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="gridCheck">
                        <label class="form-check-label" for="gridCheck">
                          Check me out
                        </label>
                      </div>
                    </div>
                    <div class="col-12">
                      <button type="submit" class="btn btn-primary">Send</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
          <!-- </div>  -->
        </div>
      </div>
    </div>
  </div>
  <!-- Banner End -->
  <!-- <div class="Suma-shows-container">
            <div class="cash-program col-lg-5 shadow-lg p-3 mb-5 bg-white rounded">
                <img src="{% static 'sponsors/sponsors-img/suma-filmy-art-show-515x342.png' %}" alt="" class="show-image" />
                <div class="show-content">
                    <h1 class="show-text">Cash | Anudeep,Lipsika,Mohana,Uma Neha | 10th August 2019 |</h1>
                    <a href="/production/">Read More</a>
                </div>
            </div>
            <div class="cash-program col-lg-5 shadow-lg p-3 mb-5 bg-white rounded">
                <img src="{% static 'sponsors/sponsors-img/suma-filmy-art-show-515x342.png' %}" alt="" class="show-image" />
                <div class="show-content">
                    <h1 class="show-text" >Cash | Anudeep,Lipsika,Mohana,Uma Neha | 10th August 2019 |</h1>
                    <a href="/production/">Read More</a>
                </div>
            </div>
        </div> -->
  <!-- <div class="Suma-shows-container">
            <div class="cash-program col-lg-5 shadow-lg p-3 mb-5 bg-white rounded">
                <img src="{% static 'sponsors/sponsors-img/suma-filmy-art-show-515x342.png' %}" alt="" class="show-image" />
                <div class="show-content">
                    <h1 class="show-text">Cash | Anudeep,Lipsika,Mohana,Uma Neha | 10th August 2019 |</h1>
                    <a href="/production/">Read More</a>
                </div>
            </div>
            <div class="cash-program col-lg-5 shadow-lg p-3 mb-5 bg-white rounded">
                <img src="{% static 'sponsors/sponsors-img/suma-filmy-art-show-515x342.png' %}" alt="" class="show-image" />
                <div class="show-content">
                    <h1 class="show-text" >Cash | Anudeep,Lipsika,Mohana,Uma Neha | 10th August 2019 |</h1>
                    <a href="/production/">Read More</a>
                </div>
            </div>
        </div> -->
</div>

</div>





{% endblock %}