{% extends 'uifiles/base.html' %}
{% load static %}
{% block content %} 
<!--top banner -->
<div class="page-baner-section">
    <h1 class="text-center"  style="font-size:25px;" > Our Sponsorship</h1>
</div>
<div class="dizme_tm_section" id="contact">
    <div class="dizme_tm_contact"> 
        <div class="container">
            <div class="dizme_tm_main_title" data-align="center">
                <h2 style="color: rgb(3, 46, 66);" >Sponsorships/Ambassadorship
                    Boost your brand image with us!
                    </h2>
              
            </div>
            <div class="contact_inner d-flex justify-content-center aligen-items-center">
               
                <div class="card collabration-card" style="width: 40rem;">
                    <div class="card-body enq-body-card ">
                        <h5 class=" mb-3 text-center" style="color: coral; font-size:30px">Apply Here</h5>
                        <div>
                        <form method="post" class="row g-3 applyform " enctype="multipart/form-data"  autocomplete="off">
                           <div class="col-md-6 col-6">
                            <input type="text" name="name" class="form-control" id="name" placeholder="First Name" required>
                        </div>
                        <div class="col-md-6 col-6">
                            <input type="text" name="name" class="form-control" id="name" placeholder="Last Name" required>
                        </div>
                            <div class="col-md-12 col-12">
                                <input type="email" name="email" class="form-control" id="email" placeholder="Email" required>
                            </div>
                            <div class="col-md-12 col-12">
    
                                <input type="number" name="phone" class="form-control" id="phone" placeholder="phonenumber" required>
                            </div>
    
                            <div class="col-md-12 col-12">
                                <input type="text" name="Brand" class="form-control" id="Brand" placeholder="Name of Brand/Agency " required>
                            </div>
                            <div class="col-md-12 col-12">
                                <input type="text" name="Industry" class="form-control" id="Industry" placeholder="Industry" required>
                            </div>
                        
                            <div class="question ml-sm-5 pl-sm-5 pt-2">
                                <div class="py-2 h5"><b>Want to Sponsor </b></div>
                                <div class="ml-md-3 ml-sm-3 pl-md-5 pt-sm-0 pt-3" id="options">
                                    <div class="d-flex">
                                        <label class="options">TVShow  
                                            <input type="radio" name="radio">
                                            <span class="checkmark"></span>
                                        </label>
                                        <label class="options">WebSeries 
                                            <input type="radio" name="radio">
                                            <span class="checkmark"></span>
                                        </label>
                                        <label class="options">ShortFilm 
                                            <input type="radio" name="radio">
                                            <span class="checkmark"></span>
                                        </label>
                                        <label class="options">Film
                                            <input type="radio" name="radio">
                                            <span class="checkmark"></span>
                                        </label>
                                        <label class="options">Youtube 
                                            <input type="radio" name="radio">
                                            <span class="checkmark"></span>
                                        </label>
                                    </div>
                                   
                                </div>
                            </div>

    
                            <div class="col-12">
                                <input type="text" name="message" class="form-control" id="message"
                                    placeholder="Remarks/Questions" required>
                            </div>
                            
                            <div id="hide" class="col-lg-8 col-xs-8">
                                <label class="d-block custom-file-button">
                                    <input required name="upload file" type="file" class="form-control" placeholder="Upload Resume"  accept="application/msword,application/msword,application/pdf"/>
                                    <span class="fileupload-req text-danger">please upload .pdf and .doc,.docx and size must be 2.5 mb</span>
                                </label>
                            </div>
                           
                            <div class="carrer_tm_button wow fadeInUp" data-wow-duration="1s">
                                <button type="submit" href="#" class="btn btn-primary form-sub-btn">Send</button>
                            </div>
                        </form>
                    </div>
                    </div>
                </div>
                
            </div>
           
        </div>
    
    </div>
</div>
<!-- /CONTACT -->

{% endblock %}