{% extends 'uifiles/base.html' %}
{% load static %}
{% block content %} 
<!--top banner -->
<div class="page-baner-section">
    <h1 class="text-center"  style="font-size:40px;" > Our Sponsorship</h1>
</div>
<div class="dizme_tm_section" id="sponors">
    <div class="dizme_tm_contact"> 
        <div class="container">
            <div class="dizme_tm_main_title" data-align="center">
                <h2 style="color: rgb(215, 221, 223);" >Sponsorships/Ambassadorship
                    Boost your brand image with us!
                    </h2>
              
            </div>
            <div class="contact_inner d-flex justify-content-center aligen-items-center">
               
                <div class="card collabration-card" style="max-width: 40rem;" >
                    <div class="card-body enq-body-card ">
                        <h5 class=" mb-3 text-center" style="color: coral; font-size:30px">Apply Here</h5>
                        <div>
                        <form method="post" class="row g-3 applyform " enctype="multipart/form-data"  autocomplete="off">
                           <div class="col-md-6 col-6">
                            <input type="text" name="name" class="form-control" id="name" placeholder="First Name" required>
                        </div>
                        <div class="col-md-6 col-6">
                            <input type="text" name="name" class="form-control" id="name" placeholder="Last Name" required>
                        </div>
                            <div class="col-md-12 col-12">
                                <input type="email" name="email" class="form-control" id="email" placeholder="Email" required>
                            </div>
                            <div class="col-md-12 col-12">
    
                                <input type="number" name="phone" class="form-control" id="phone" placeholder="Phonenumber" required>
                            </div>
    
                            <div class="col-md-12 col-12">
                                <input type="text" name="Brand" class="form-control" id="Brand" placeholder="Name of Brand/Agency " required>
                            </div>
                            <div class="col-md-12 col-12">
                                <input type="text" name="Industry" class="form-control" id="Industry" placeholder="Industry" required>
                            </div>
                        
                            <div class="question ml-sm-5 pl-sm-5 pt-2">
                                <div class="form-group col-md-8">
                                    <label for="inputState">What are you looking for</label>
                                    <select class="form-control" id="inputState">
                                                        <option value="SelectState">looking for</option>
                                                        <option value="Andra Pradesh">Want to Sponsor </option>
                                                        <option value="Arunachal Pradesh">Want a Brand Ambassador</option>
                                                        
                                    </select>
                                  </div>
                                  <div class="form-group col-md-4">
                                    <label for="inputDistrict">Kind of sponsorship</label>
                                    <select class="form-control" id="inputDistrict">
                                        <option value="">-- select -- </option>
                                    </select>
                                  </div>

                            </div>

    
                            <!-- <div class="col-12">
                                <input type="text" name="message" class="form-control" id="message"
                                    placeholder="Remarks/Questions" required>
                            </div> -->
                            
                            <div id="hide" class="col-lg-8 col-xs-8">
                                <label class="d-block custom-file-button">
                                    <input required name="upload file" type="file" class="form-control" placeholder="Upload Resume"  accept="application/msword,application/msword,application/pdf" style="padding-left: 0px!important;border: none;"/>
                                    <span class="fileupload-req text-danger">please upload .pdf and .doc,.docx and size must be 2.5 mb</span>
                                    <span class="choosefile" style="position:absolute;bottom: 143px;right:80%;font-size: 17px;background-color: #f76407;border-radius: 5px;padding: 5px;padding-left: 5px;padding-right: 5px;color:aliceblue">Upload a File</span>
                                </label>
                            </div>
                           
                            <div class="carrer_tm_button wow fadeInUp" data-wow-duration="1s">
                                <button type="submit" href="#" class="btn btn-primary form-sub-btn">Send</button>
                            </div>
                        </form>
                    </div>
                    </div>
                </div>
                
            </div>
           
        </div>
    
    </div>
</div>
<!-- /CONTACT -->

{% endblock %}