{% extends 'uifiles/base.html' %}
{% load static %}
{% block content %} 
<!--top banner -->
<div class="page-baner-section">
    <h1 class="text-center" > Our Sponsorship</h1>
</div>
<div class="row">
    <div class="row sponsor-headig">
        <div class="col-12">
            <div class="section-title">
                <!-- <h1>Our Sponsors</h1> -->
                <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusm tempor incididunt ut labore dolore</p> -->
            </div>
        </div>
    </div>
    <div class="col-12">
        <!-- Title -->
        <div class="sponsor-title text-center mt-3 mb-4">
            <h4 class="section-title1"><span class="alternate">Platinum</span> Sponsors</h4>
        </div>
        <div class="block text-center">
            <!-- Sponsors image list -->
            <ul class="list-inline sponsors-list">
                <li class="list-inline-item">
                    <div class="image-block text-center">
                        <a href="#">
                            <img src="{% static 'sponsors/sponsors-img/pt-spon-two.png' %}" alt="sponsors-logo" class="img-fluid">
                        </a>
                    </div>
                </li>
                <li class="list-inline-item">
                    <div class="image-block text-center">
                        <a href="#">
                            <img src="{% static 'sponsors/sponsors-img/pt-spon-two.png' %}" alt="sponsors-logo" class="img-fluid">
                        </a>
                    </div>
                </li>
                <li class="list-inline-item">
                    <div class="image-block text-center">
                        <a href="#">
                            <img src="{% static 'sponsors/sponsors-img/pt-spon-three.png' %}" alt="sponsors-logo" class="img-fluid">
                        </a>
                    </div>
                </li>
                <li class="list-inline-item">
                    <div class="image-block text-center">
                        <a href="#">
                            <img src="{% static 'sponsors/sponsors-img/pt-spon-four.png' %}" alt="sponsors-logo" class="img-fluid">
                        </a>
                    </div>
                </li>
            </ul>
        </div>
        <!-- Title -->
        <div class="sponsor-title text-center mt-4 mb-4">
            <h4><span class="alternate">Gold</span> Sponsors</h4>
        </div>
        <div class="block text-center">
            <!-- Sponsors image list -->
            <ul class="list-inline sponsors-list">
                <li class="list-inline-item">
                    <div class="image-block text-center">
                        <a href="#">
                            <img src="{% static 'sponsors/sponsors-img/gl-spon-one.png' %}" alt="sponsors-logo" class="img-fluid">
                        </a>
                    </div>
                </li>
                <li class="list-inline-item">
                    <div class="image-block text-center">
                        <a href="#">
                            <img src="{% static 'sponsors/sponsors-img/gl-spon-two.png' %}" alt="sponsors-logo" class="img-fluid">
                        </a>
                    </div>
                </li>
                <li class="list-inline-item">
                    <div class="image-block text-center">
                        <a href="#">
                            <img src="{% static 'sponsors/sponsors-img/gl-spon-three.png' %}" alt="sponsors-logo" class="img-fluid">
                        </a>
                    </div>
                </li>
            </ul>
        </div>
        <div class="sponsor-btn text-center mt-3 mb-4">
            <a href="#" class="btn btn-main-md">Become a sponsor</a>
        </div>
    </div>
</div>


{% endblock %}