{% extends 'uifiles/base.html' %}
{% load static %}
{% block content %} 
<div class="page-baner-section">
    
</div>
<h1 class="text-center"> Cash </h1>
<div class="production-subpage">
    <h1 class="subpage-text"> Anudeep,Lipsika,Mohana,Uma Neha | 10th August 2019 |</h1>
    <img src="{% static 'sponsors/sponsors-img/suma-filmy-art-show-515x342.png' %}" alt="" class="subpage-image" />
    <div class="production-content">
        A game show hosted by the famous anchor Suma in which four celebrities compete to win cash. The contestants need to answer simple questions fired at them during four rounds. ... Cash |Swathimuthyam Movie Team-Bellamkonda Ga ... Cash | ETV 27 Years Special Episode | Jayasud ... Cash | K.Raghavendra Rao,Anasuya,Yashwanth Ma
        he Pan African Film Festival (PAFF) has announced its “Call for Entries” for its 31st international film festival taking place in Los Angeles in February 2023.

PAFF 2023 is planned as a hybrid festival–both physical and virtual–with the majority portion of physical activities and all live-audience screenings being held physically in Los Angeles. In past years, PAFF has hosted its live film festivals with more than 40,000 in attendance, which has long been a highly anticipated event in Los Angeles attended by local, national, and international guests.

PAFF accepts only online applications and submissions.  Filmmakers wanting to submit to PAFF can apply by going to the PAFF website www.paff.org and clicking on “Submit Film.” Filmmakers can also submit to The Pan African Film Festival directly through FilmFreeway.com or Festhome.com
    </div>
</div>

{% endblock %}